	ul.slideshow307 { list-style:none !important; color:#fff; }
	ul.slideshow307 span { display:none; }
	#slideshow-wrapper307 { overflow: hidden; position:relative; width:100%; background:#999999; padding:0 0 0 0; border:1px solid #CCCCCC; margin:0; display:none; }
	#slideshow-wrapper307 * { margin:0; padding:0; }
	#slideshow-wrapper307 #fullsize307 { position:relative; z-index:1; overflow:hidden; width:100%; height:50%; clear:both; border: none; }
	#slideshow-wrapper307 #information307 { text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif !important; position:absolute; width:100%; height:0; background:#999999; color:#ffffff; overflow:hidden; z-index:300; opacity:.7; filter:alpha(opacity=70); }
	#slideshow-wrapper307 #information307 h3 { color:#ffffff; padding:4px 8px 3px; margin:0 !important; font-size:16px; font-weight:bold; }
	#slideshow-wrapper307 #information307 a { color:#ffffff; }
	#slideshow-wrapper307 #information307 p { color:#ffffff; padding:0 8px 8px; margin:0 !important; font-size: 14px; font-weight:normal; }
	#slideshow-wrapper307 .infotop { margin-bottom:8px !important; top:0!important; }
	#slideshow-wrapper307 .infobottom { margin-top:8px !important; bottom:0!important; }
			#slideshow-wrapper307 #image307 { width:100%; }
		#slideshow-wrapper307 #image307 img { border:none; border-radius:0; box-shadow:none; position:absolute; height:auto; width:100%; margin:0 auto; display:block; }
		#slideshow-wrapper307 .imgnav { position:absolute; width:25%; height:100%; cursor:pointer; z-index:250; }
	#slideshow-wrapper307 #imgprev307:before { font-family:FontAwesome; content:"\f053"; font-size:30px; color:white; visibility:visible; left:0; text-align:left; width: auto; height:auto; line-height:160%; top:50%; margin:-30px 0 0 0; border-radius:0 10px 10px 0; background:black; padding:3px 10px 0 10px; position: absolute; display: inline-block; 	}
	#slideshow-wrapper307 #imgprev307 { display:none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; left:0; font-size:0px; }
	#slideshow-wrapper307 #imgnext307:before { font-family:FontAwesome; content:"\f054"; font-size:30px; color:white; visibility:visible; right:0; text-align:right; width: auto; height:auto; line-height:160%; top:50%; margin:-30px 0 0 0; border-radius:10px 0 0 10px; background:black; padding:3px 10px 0 10px; position: absolute; display: inline-block; }
	#slideshow-wrapper307 #imgnext307 { display:none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; right:0; font-size:0px; }
	#slideshow-wrapper307 #imglink307 { position:absolute; zoom:1; background-color:#ffffff; height:100%; width:100%; left:0; z-index:149; opacity:0; filter:alpha(opacity=0); }
	#slideshow-wrapper307 .linkhover:before { font-family:FontAwesome; content:"\f14c"; font-size:30px; text-align:center; height:auto; line-height:160%; width:auto; top:50%; left:auto; right:auto; margin:-30px 0 0 0; padding:0px 12px; display: inline-block; position: relative; background:black; color:white; border-radius:10px; }
	#slideshow-wrapper307 .linkhover { background:transparent !important; opacity:.4 !important; filter:alpha(opacity=40) !important; text-align:center; font-size:0px; }
	#slideshow-wrapper307 #thumbnails307 { background:#999999; height:89px; width:100%; position:relative; overflow:hidden; }
	#slideshow-wrapper307 .thumbstop { margin-bottom:8px !important; }
	#slideshow-wrapper307 .thumbsbot { margin-top:8px !important; }
	#slideshow-wrapper307 #slideleft307:before { font-family:FontAwesome; content: "\f104"; color:#999; position: absolute; height: auto; line-height:160%; width: auto; display: inline-block; top: 50%; font-size: 30px; margin: -30px 0 0 0; padding: 0 5px; }
	#slideshow-wrapper307 #slideleft307 { text-align:left; float:left; position:absolute; left:0; z-index:150; width:20px; height:89px; background:#222; }
	#slideshow-wrapper307 #slideleft307:hover { background-color:#333; }
	#slideshow-wrapper307 #slideright307:before { font-family:FontAwesome; content: "\f105"; color:#999; position: absolute; height: auto; line-height:160%; width: auto; display: inline-block; top: 50%; font-size: 30px; margin: -30px 0 0 0; padding: 0 5px; }
	#slideshow-wrapper307 #slideright307 { text-align:left; float:right; position:absolute; right:0; z-index:150; width:20px; height:89px; background:#222; }
	#slideshow-wrapper307 #slideright307:hover { background-color:#333; }
	#slideshow-wrapper307 #slidearea307 { float:left; position:absolute; z-index:149; background:#999999; width:100%; margin:0; height:89px; overflow:hidden; }
	#slideshow-wrapper307 #slider307 { position:absolute; width:1281px !important; left:0; height:89px; padding:3px 20px 0 25px; }
	#slideshow-wrapper307 #slider307 img { width:100px; height:75px; cursor:pointer; border:1px solid #666; padding:2px; float:left !important; }
	#slideshow-wrapper307 #spinner307 { position:relative; top:50%; left:45%; text-align:left; font-size:30px; }
	#slideshow-wrapper307 #spinner307 img { border:none; }

		@media (max-width:480px) { 	.slideshow-information { display: none !important; } }
			@media (max-width:480px) { 	.slideshow-thumbnails { display: none !important; } }
	