﻿@charset "utf-8";

@font-face {
    font-family: 'Open Sans Cond';
    src: url('fonts/OpenSans-CondBold.eot');
    src: url('fonts/OpenSans-CondBoldd41d.eot?#iefix') format('embedded-opentype'),
            url('fonts/OpenSans-CondBold.woff') format('woff'),
            url('fonts/OpenSans-CondBold.ttf') format('truetype'),
            url('fonts/OpenSans-CondBold.svg#OpenSans-CondBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSansd41d.eot?#iefix') format('embedded-opentype'),
            url('fonts/OpenSans.woff') format('woff'),
            url('fonts/OpenSans.ttf') format('truetype'),
            url('fonts/OpenSans.html#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Semibold.eot');
    src: url('fonts/OpenSans-Semiboldd41d.eot?#iefix') format('embedded-opentype'),
            url('fonts/OpenSans-Semibold.woff') format('woff'),
            url('fonts/OpenSans-Semibold.ttf') format('truetype'),
            url('fonts/OpenSans-Semibold.html#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Boldd41d.html?#iefix') format('embedded-opentype'),
            url('fonts/OpenSans-Bold.woff') format('woff'),
            url('fonts/OpenSans-Bold.ttf') format('truetype'),
            url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon.eot');
    src: url('fonts/socicond41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon.woff') format('woff'),
         url('fonts/socicon.woff2') format('woff2'),
         url('fonts/socicon.ttf') format('truetype'),
         url('fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

/*Custom bootstrap*/
.gutter-10{margin-left:-10px; margin-right:-10px;}
.gutter-10 > [class*='col-'] {
    padding-right:10px;
    padding-left:10px;
}
.gutter-5{margin-left:-5px; margin-right:-5px;}
.gutter-5 > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}
.gutter-2{margin-left:-2px; margin-right:-2px;}
.gutter-2 > [class*='col-'] {
    padding-right:2px;
    padding-left:2px;
}

.gutter-0{margin-left:0px; margin-right:0px;}
.gutter-0 > [class*='col-'] {
    padding-right:0px;
    padding-left:0px;
}

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { outline: 0; border: 0; }
body { padding: 0; margin: 0 auto; color: #333; background: #fff;  font-size: 14px; font-family: 'Open Sans', sans-serif ; 
    line-height:1.6;
}

table { border-collapse: collapse; border-spacing: 0; }
table tr td {
    padding: 3px 0;
}
img { border: 0; padding: 0px; }
a { color: #545e5d; text-decoration: none;  cursor:pointer;  
	-webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;}
a:hover { color: #e77e23; text-decoration: none; }
.middle { vertical-align:middle;}
.button-submit { border:solid 0px #cdcdcd; height:30px; line-height:30px; padding:0px 25px; margin:0px;background:#dcb91c; float:right; color:#fff; 
                                      cursor:pointer;}

.button-submit:hover {color:#fff; background:#19a2ff; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* General */

.socicon {font-family: 'socicon' !important;}

.fluid-left{margin-left:-15px;}
.fluid-right{margin-right:-15px;}

.fluid-left-5{margin-left:-5px;}
.fluid-right-5{margin-right:-5px;}

.fluid-left-10{margin-left:-10px;}
.fluid-right-10{margin-right:-10px;}

.modal {z-index:100002;}
.minus-left{margin-left:15px;}
.minus-right{margin-right:15px;}
h1.title, h2.big-title { 
          
}
h1.small-title {font-size:16px; color:#6ff0ff; }

.content-editor img {max-width:100%; height:auto !important;}

.top-header{height:45px; background:#001a4b; color:#e1e1e1; text-transform:uppercase;}
.top-header .language{height:45px; line-height:45px; }
.top-header .language a{color:#ffffff; display:inline-block;}
.top-header .language a.vn{background:url('../images/icon-vn.png') no-repeat left center; padding-left:36px; }
.top-header .language a.en{background:url('../images/icon-en.png') no-repeat left center; padding-left:36px;}


.page-header{position:relative; width:100%; float: left;  min-height:71px; z-index:10000;
             padding:0px 0px 0px; margin:0px; border:0px; 
             border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; 
             background:#ddbb19;
}
.page-header .container{position:relative;}
.page-header .block-search{position:absolute; right:0px; top:0px;}
.page-header .block-search .bt-search{display:block; height:71px; width:45px; background:#c1a31d url('../images/icon-search.png') no-repeat center center; float:right;
                                        z-index: 9;position: relative;
}
.page-header-sticky .block-search .bt-search{height:60px;}
.page-header .block-search .txtsearch{width:100%; border:0px;   background: #c1a31d;height: 0px; opacity:0; padding: 5px 10px;
                                      -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    color:#fff;
}
.page-header .block-search .txtsearch.show{display:block; height: 34px; opacity:1;}
.page-header .block-search .txtsearch.show:focus{outline:none;}
#searchformwrap{margin-right:15px;}

.page-header .navbar-header{}

.page-header{position:relative;}
.page-header-sticky{position:fixed; top:0; min-height:60px;}
.page-header a.logo{  padding:0px 0px 0px;  display:block; width:284px; height:170px; background:url('http://goldview-tnr.com.vn/template/tint/images/logo.svg') no-repeat center bottom;    background-size: cover;
                      position:absolute; left:50%;  margin-left:-142px; top:-55px;
                      -webkit-transition: all .30s ease;
                    -moz-transition: all .30s ease;
                    -ms-transition: all .30s ease;
                    -o-transition: all .30s ease;
                    transition: all .30s ease;
                    -webkit-transition-property: background-color, background-position;
  transition-property: background-color, background-position;
}
.page-header-sticky a.logo{background-size: 212px;top: 0px;height: 116px;}
.page-header .navbar-nav li.home a{display:block; width:57px; height:71px; background:url('http://goldview-tnr.com.vn/template/tint/images/icon-home.svg') no-repeat  center center; background-size:24px; text-indent:-9999px;}
.page-header-sticky .navbar-nav li.home a{height:60px;}

.page-header ul.navbar-nav{height:48px; width:100%;  padding:0px 0px; position:relative; z-index:1; }
.page-header ul.navbar-nav li a{color: #001a4b;  display: inline-block;font-family: 'Open Sans Cond', sans-serif ;font-size: 18px; font-weight:700; padding: 25px 11px 0px;text-transform: uppercase; height:71px; }
.page-header-sticky ul.navbar-nav li a{height:60px; padding-top:18px;}
.page-header ul.navbar-nav li.first a{border-left:0px;}
.page-header ul.navbar-nav li.last a{border-right:0px;}
.page-header ul.navbar-nav li a:hover,.page-header ul.navbar-nav li.active a:hover, .page-header ul.navbar-nav li.active a{color:#fff;  background:#001a4b; }
.page-header .navbar-nav li.home:hover a, .page-header .navbar-nav li.home.active a, .page-header .navbar-nav li.home.active a:hover{ background:#001a4b url('http://goldview-tnr.com.vn/template/tint/images/icon-home-active.svg') no-repeat center center; background-size:24px; text-indent:-9999px;}




.page-about-us {min-height:1100px; position:relative;}
.page-about-us .background{width:50%;min-height:1100px; position:absolute; top:-130px; right:0px; background-size: 100% auto !important; }
.page-about-us .box-category, .page-news .box-category {width:230px; max-width:100%; float:right;}

.page-saleskit {min-height:820px; position:relative;}
.page-saleskit .background{width:50%;min-height:820px; position:absolute; top:0px; right:0px; background-size: 100% auto !important; }

.page-body .main-content{ padding:100px 0px; }
.page-news .main-content{ padding:30px 0px; }
.box-category ul{list-style:none; margin:0px; padding:0px;}
.box-category ul li{display:block;}
.box-category ul li a{border-bottom:solid 1px #c4c4c4; padding:12px 20px; font-size:14px; font-weight:600; color:#3b3939; text-transform:uppercase; display:block;}
.box-category ul li:first-child a{border-top:solid 1px #c4c4c4;}
.box-category ul li.active a, .box-category ul li:hover a{background:#ddbb19; border-color:#ddbb19;}
.page-localtion {min-height:950px;  }
.page-news{padding-top:62px;}
.page-news .home-new .new-list .item{margin-bottom:30px;}
.page-news .home-new .new-list .item .bt-view-detail{display:block; margin-right:60px; height:34px; margin-top:15px;
                                                     background:url('../images/bg-line.png') repeat-x left center; 
}
.page-news .home-new .new-list .item .bt-view-detail span{display:block; float:right; height:34px; border:solid 1px #dddddd; padding:5px 35px 5px 27px;
                                                          background:#fff url('../images/bt-view-detail.png') no-repeat right center;
}

.page-branch-title {color:#3b3939; background:url('../images/bg-branch-title.png') no-repeat left bottom; padding-bottom:68px; display:inline-block; min-width:175px;
                    margin:0px; font-size:24px; font-weight:700; text-transform:uppercase;
}


.home-gallery{margin:0px; position:relative;}
.home-gallery .home-video{position:absolute; right:0px; bottom:0px; z-index:99;}
.home-gallery .home-video .video-content{position:relative;}
.home-gallery .home-video .video-content a.home-video .overlay{position:absolute; top:0px; left:0px; width:100%; height:100%; background:url('../images/icon-play.png') no-repeat 65% 65%;}
.home-gallery .bx-wrapper .bx-controls-direction a{width:70px; height:70px; margin-top:-35px;}
.home-gallery .bx-wrapper .bx-next{background:url('../images/bt-slide-next.png') no-repeat center center; right:0px;}
.home-gallery .bx-wrapper .bx-prev{background:url('../images/bt-slide-prev.png') no-repeat center center; left:0px;}
.home-gallery .bx-wrapper .bx-next:hover{background:#3f3f3f url('../images/bt-slide-next.png') no-repeat center center;}
.home-gallery .bx-wrapper .bx-prev:hover{background:#3f3f3f url('../images/bt-slide-prev.png') no-repeat center center;}
.home-gallery .bx-controls-direction .next-thumb{position:absolute;width:70px; height:70px; margin-top:-35px; overflow:hidden; top:50%; right:70px;   z-index: 9999; opacity:0;
                                                  -webkit-transition: all .4s ease;	-moz-transition: all .4s ease;	-o-transition: all .4s ease; 	transition: all .4s ease;
}
.home-gallery .bx-controls-direction .next-thumb img{height:100%; width:auto;}
.home-gallery .bx-controls-direction .bx-next:hover + .next-thumb{opacity:1;}


.home-project h1.main-title {text-align:center;}
.home-project h1.main-title span{display:block;}

.home-position{height:750px; background:url('../images/bg-location.jpg') no-repeat center top; }
.home-position .left-content{padding-top:60px;}
.branch-title{display:inline-block; font-size:24px; color:#ffffff; font-family: 'Open Sans', sans-serif ; text-align:center; text-transform:uppercase;
              background:url('../images/bg-branch-name.png') no-repeat center bottom; padding-bottom:32px;
}
.branch-title-dark{color:#3b3939; background-image:url('../images/bg-branch-name-dark.png');}
.branch-title strong{font-weight:600; display:block;}
.home-project{padding-top:90px;}
.home-project .branch-title{margin:0px auto; display:block; margin-bottom:100px;}

.page-child-banner .about-bg{  height: 188px; position: relative;}
.page-child-banner .about-bg .contentscroll {height:188px; background:url('../images/bg-tran-50.png');}
.page-child-banner .about-bg .contentscroll .content h3{font-size:36px; color:#fff; font-weight:700; text-align:center; margin:0px; padding-top:80px; text-transform:uppercase;}


.home-position .project-info, .page-localtion .project-info {color:#fff; font-size:14px; padding-top:40px; }
.home-position .project-info ul, .page-localtion .project-info ul{list-style:none; margin:40px 0px 10px; padding:0px;}
.home-position .project-info ul li, .page-localtion .project-info ul li{display:block; padding-left:54px; background:url('../images/bg-home-position-list.png') no-repeat left 4px; padding-bottom:20px;}
.home-position .left-content .bt-view-maps, .page-localtion .left-content .bt-view-maps{display:inline-block; padding:6px 24px; border:solid 1px #474747; font-size:14px; color:#2b2b2b; text-transform:uppercase;}
.page-localtion .project-info{color:#393939;}
.page-localtion .project-info ul li{background:url('../images/bg-position-list.png') no-repeat left 4px;}
.page-localtion .left-content .bt-view-maps{background:#dcb91c; border:0px;}


.page-contact{min-height:900px;}
.page-contact h1.page-branch-title,
.page-project-introduction .page-branch-title{text-align:center; background-position:center bottom; display:block; margin:30px auto;}
.page-project-introduction{min-height:900px;}
.page-project-normal{min-height:400px;}
.page-project-introduction .page-branch-title {margin-bottom:30px; }
.page-project-introduction .box-intro-text {margin-bottom:30px;}
.page-contact .box-contact-info{margin-bottom:50px;}
.page-project-normal .cate-nav{padding:15px 0px 40px;}
.page-project-normal .cate-nav ul{margin:0px; list-style:none; padding:0px;}
.page-project-normal .cate-nav ul li{display:inline-block; width:50%;}
.page-project-normal .cate-nav ul li a{display:block; width:100%; height:48px; border:solid 1px #dcb91c; line-height:48px; font-size:18px; color:#3b3939; text-transform:uppercase; font-weight:600;}
.page-project-normal .cate-nav ul li.active a{background:#dcb91c;}
.page-project-normal .cate-nav ul li:first-child a{border-top-left-radius:30px;border-bottom-left-radius:30px; text-align:center;}
.page-project-normal .cate-nav ul li:last-child a{border-top-right-radius:30px;border-bottom-right-radius:30px; text-align:center;}

.home-project{margin-bottom:45px;}
.project-nav .nav-content{margin-bottom:45px;}
.project-nav .project-item{ text-align:center; display:block; color:#1f1414; text-transform:uppercase;
                           font-weight:600; text-transform:uppercase; color:#1f1414; font-size:16px; margin-bottom:40px; background:#f3f3f3;
}
#home .project-nav .project-item{background:transparent;}
.project-nav .project-item .icon{display:block; width:176px; height:176px; margin:0px auto; border:solid 1px #eaeaea; border-radius:50%; text-align:center; margin-bottom:12px; position:relative;
                                 -webkit-transition: all .4s ease;
	 	-moz-transition: all .4s ease;
	 	-o-transition: all .4s ease;
	 	transition: all .4s ease;
}
.project-nav .project-item .icon svg{margin: 0;   position: absolute;  top: 50%;    left: 50%;    margin-right: -50%;    max-width:35%; 
                                     -ms-transform:translate(-50%, -50%);
                                     -webkit-transform:translate(-50%, -50%);
                                     -moz-transform:translate(-50%, -50%);
                                     -o-transform:translate(-50%, -50%);
                                     transform: translate(-50%, -50%);
                                     -webkit-transition: all .4s ease;
	 	-moz-transition: all .4s ease;
	 	-o-transition: all .4s ease;
	 	transition: all .4s ease;
}

.project-nav .project-item:hover .icon{
	position: relative;
	background: #dcb91c;
    border:solid 18px #fff;
}
.project-nav .project-item:hover .icon svg path{
    fill: #fff; 
}
.project-nav .project-item:hover .icon:after {
	top: 100%;	left: 50%;	border: solid transparent;
	content: " ";	height: 0;	width: 0;	position: absolute;
	pointer-events: none;	border-color: rgba(220, 185, 28, 0);
	border-top-color: #dcb91c;	border-width: 20px;	margin-left: -20px; margin-top:-10px;
}

.mainslide{}


.mainslide ul.bxslider{margin:0px; padding:0px;}
.home-logo-small{ padding:5px 0px 10px;}
.home-logo-small img{margin:0px auto;}

.home-content{min-height: 470px; background:url('../images/bg-for-sale.jpg') no-repeat center top; padding-top:42px;}
.home-content .banner-item{display:block;}
.home-content .banner-item-1{padding-right:1px;}
.home-content .banner-item-3{padding-left:1px;}
.home-content .img-shadow{margin:0px auto;}

.logo-footer{width:136px; margin-top:25px;}


.home-new{margin-top:20px;}
.home-new .title{display:block;}
.home-new .new-list .news-info{position:relative; padding-top:20px; padding-left:64px;}
.home-new .new-list h3.title{margin:0px 0px 20px;}
.home-new .new-list h3.title a{font-size:15px; color:#dcb91c; font-weight:700;}
.home-new .new-list .news-info .date-time{position:absolute; width:46px; line-height:25px; padding-top:5px;  background:#001a4b; color:#fff; font-size:22px; font-weight:600; text-align:center; top:-20px; left:0;}
.home-new .new-list .news-info .date-time span{display:block; font-size:13px; padding-bottom:3px;}
.home-new .new-list .news-info .date-time .bt-detail{display:block; background:#dcb91c url('../images/icon-arrow-right.png') no-repeat center center; width:100%; height:27px;
                                                     border-top:solid 1px #fff;
}
.home-new .new-list .bt-viewmore{display:inline-block; margin:85px auto 0px; padding:9px 85px; border:solid 1px #dddddd; color:#393939; font-size:14px; text-transform:uppercase;}
.home-new .new-list .bt-viewmore span{display:inline-block; margin:0px auto;  background:url('../images/icon-add.png') no-repeat right center; min-height:17px; padding-right:35px;}

.home-content-footer{min-height:490px;}
.home-content-footer h2.title {text-align:left; background-position:bottom left; margin-top:0px; margin-bottom:25px;}
.home-content-footer h2.title strong{font-weight:700;}
#map-canvas { height: 428px; width:100%; }
.page-contact #map-canvas{height:640px;}
.wrapper-full-right .full-right{}
.full-right{position:absolute; top:0;}
.z-content{position:relative; z-index:9;}


.project-nav-horizontal .project-item{font-size:14px; width:100%; height:110px; margin-bottom:0px;}
.project-nav-horizontal .project-item .icon{width:100%; height:60px;  border:0px;}
.project-nav-horizontal .project-item .icon svg{width:40px;  max-width:40px;
                                                
}
.project-nav-horizontal .project-item:hover, .project-nav-horizontal .project-item.active {background:#dcb91c; color:#fff;}

.project-nav-horizontal .project-item:hover .icon{
	position: relative;
	background: transparent;
    border:0px ;
}
.project-nav-horizontal .project-item:hover .icon svg path, .project-nav-horizontal .project-item.active .icon svg path{
    fill:#fff;
}
.project-nav-horizontal .project-item:hover .icon:after {
	display:none;
}
.project-nav-horizontal .nav-content{margin-top:-40px; background:#fff; height:110px; position:relative;
                                     box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.4);
}


.page-footer-contact {height:70px; background:#dcb91c;}
.page-footer-contact .hotline{float:left; line-height:70px; font-size:22px; text-transform:uppercase;}
.page-footer-contact .hotline strong{height:70px; background:url('../images/icon-hotline.png') no-repeat left center; margin-left:15px; padding-left:90px; display:inline-block;}

.social{float:right;color:#252c3b; font-size:14px; text-transform:uppercase; line-height:70px;}
.social .social-list{float:right; margin-left:15px; padding:10px 0px;}
.social .social-list a{display:inline-block; width:50px; height:50px; border:solid 1px #3f3f3f; color:#3f3f3f; text-align:center; border-radius:50%; position:relative;}
.social .social-list a i{text-transform:none; font-style:normal; font-size:24px;
    margin: 0; position: absolute;  top: 50%;left: 50%; margin-right: -50%;
    -ms-transform:translate(-50%, -50%);
                                     -webkit-transform:translate(-50%, -50%);
                                     -moz-transform:translate(-50%, -50%);
                                     -o-transform:translate(-50%, -50%);
                                     transform: translate(-50%, -50%);
     -webkit-transition: all .4s ease;
}
.social .social-list a:hover{border:solid 1px #fff; background:#ffffff;color:#2f8fc6;}
.page-footer .social{float:none;}
.page-footer .social .social-list a {background:#585858;}
.page-footer .social .social-list{float:none; text-align:center;}

.page-footer .contact-info {color:#fff; padding-top:25px; font-size:13px;}
.page-footer .contact-info .contact-address,
.page-footer .contact-info .contact-phone,
.page-footer .contact-info .contact-web,
.page-footer .contact-info .contact-email {line-height:28px; margin-bottom:10px;}
.page-footer .contact-info i.icon{display:inline-block; margin-right:15px; width:30px; height:30px; border-radius:50%; float:left; }
.page-footer .contact-info .contact-address i.icon{ background:#dcb91c url('http://goldview-tnr.com.vn/template/tint/images/location.svg') no-repeat center center; background-size:11px; }
.page-footer .contact-info .contact-phone i.icon{ background:#dcb91c url('http://goldview-tnr.com.vn/template/tint/images/mobile.svg') no-repeat center center; background-size:9px; }
.page-footer .contact-info .contact-web i.icon{ background:#dcb91c url('http://goldview-tnr.com.vn/template/tint/images/world.svg') no-repeat center center; background-size:16px; }
.page-footer .contact-info .contact-web a{color:#fff;}
.page-footer .contact-info .contact-web a:hover{color:#eaeaea;}

.page-footer .contact-info .contact-email i.icon{ background:#dcb91c url('http://goldview-tnr.com.vn/template/tint/images/mail.svg') no-repeat center center; background-size:16px; }
.page-footer .contact-info .contact-email a{color:#fff;}
.page-footer .contact-info .contact-email a:hover{color:#eaeaea;}

.home-content-footer{font-family:'Roboto', sans-serif; font-size:13px; background:url('../images/bg-home-footer.html'); padding:30px 0px; }
.home-content-footer a{float:left; margin-right:25px; margin-bottom:50px; display:block;}
.home-content-footer .info strong{font-size:14px; font-weight:500;}

.page-footer .footer-top{background:#3f3f3f; padding:60px 0px 40px;}
.page-footer .footer-bottom{background:#2f2f2f; color:#c4c4c4; font-size:12px;font-family:'Roboto', sans-serif; padding:0px 0px 0px; height:53px; line-height:53px; }
.page-footer .footer-bottom .text-right a{color:#dcb91c;}
.page-footer .footer-bottom .gotop{text-align:center; margin:0px auto; display:inline; width:100%;}

#home .bx-wrapper .bx-viewport ul.bxslider li, #home .bx-wrapper .bx-viewport ul.bxslider img {width:100% !important; height:auto;}
.page-banner { 
  padding-bottom:22px; background:url('../images/bg-banner-shadow.html') repeat-x left bottom;

}
.page-banner .slide-wrapper .bx-wrapper .bx-viewport ul.bxslider li, .page-banner .slide-wrapper .bx-wrapper .bxslider img { width:100% !important; height:auto;  }


.breadcrumbs{height:85px; padding-top:18px; padding-left:30px; padding-right:30px; background:#ededed;font-family:'Roboto', sans-serif;text-transform:uppercase;}
.breadcrumbs label.big-title{font-size:30px;font-weight:500;  color:#676767; background:url('../images/icon-arrow-right2.html') no-repeat right 10px; padding-right:30px; margin-right:15px; float:left; }
.breadcrumbs h1.title, .breadcrumbs h2.title{color:#e77e23; font-size:18px; display:inline-block; margin:0px; padding-top:15px;}

.page-content{}
.sidebar{padding:30px 25px 15px; margin-bottom:15px; font-family:'Roboto', sans-serif; font-weight:500; border:solid 1px #c7c7c7; border-top:0px; position:relative;}
.sidebar h2.sidebar-title{color:#e77e23; font-size:20px; margin:0px 0px 30px; text-transform:uppercase; }
.sidebar ul{margin:13px 0px 0px; padding:13px 0px 0px; border-top:dashed 1px #e3e3e3; list-style:none;}
.sidebar ul li a{display:block; padding:6px 0px; padding-left:12px; background:url('../images/icon-arrow-right3.html') no-repeat left 12px;
                 font-size:12px; text-transform:uppercase;
}
.sidebar ul li.active a{color:#e77e23;}
.sidebar .shadow{position:absolute; top:0px; left:-18px;}
.banner-adv{margin-bottom:15px;}

h1.post-title{color: #3b3939;
  font-weight: 700;
  font-size: 24px; margin:0px 0px 15px; text-transform:uppercase;}

.page-news span.date-time{color:#393939; font-size:13px; background:url('../images/bg-datetime.png') no-repeat left top; padding-left:190px; min-height:20px; display:block;}

.post-other{margin-top:30px; padding-top:15px; margin-top:15px; }
.post-other h2.header-title{  color: #393939;  font-weight: 700;  font-size: 18px;  margin: 0px 0px 5px; text-align:center; background:url('../images/bg-line.png') repeat-x left bottom;}
.post-other h2.header-title span{padding:0px 39px; background:url('../images/bg-line-bold.png') repeat-x left bottom; margin-bottom:-1px; display:inline-block; padding-bottom:15px; text-transform:uppercase; }
.post-other ul{list-style:none; padding:0px; margin-top:30px;}
.post-other li a{font-size:12px;}
.post-other li a .date-time{margin-right:5px; background:transparent; padding:0px; display:inline;}

.album-filter-list{margin-bottom:60px;}
.album-filter-list ul{list-style:none; margin:0px; padding:0px; width:100%; text-align:center;}
.album-filter-list ul li{display:inline-block; }
.album-filter-list ul li a{display:inline-block; padding:6px 20px; border:solid 1px #d3d3d3; border-radius:18px; margin:0px 5px; min-width:120px; text-align:center;
                           font-size:15px; text-transform:uppercase; margin-bottom:10px;
}
.album-filter-list ul li:hover a,.album-filter-list ul li.active a{background:#dcb91c; color:#fff; border-color:#dcb91c; text-decoration:none;}

#album_container{margin-bottom:30px;}
#album_container  .album-item{position:relative; margin-bottom:6px;}
#album_container  .album-item .item-hover{position:absolute; width:100%; height:100%; top:0px; left:0px;}
#album_container  .album-item .item-hover {background:rgba(220,185,28,0.8); opacity:0;
-webkit-transition: all .4s ease;-moz-transition: all .4s ease;-o-transition: all .4s ease;transition: all .4s ease;
}
#album_container  .album-item:hover .item-hover{opacity:1;}
#album_container  .album-item .item-hover h2.title{	position: relative;	top: 50%; left:50%;
                                                       -ms-transform:translate(-50%, -50%);
                                     -webkit-transform:translate(-50%, -50%);
                                     -moz-transform:translate(-50%, -50%);
                                     -o-transform:translate(-50%, -50%);
                                     transform: translate(-50%, -50%);
                                                        text-align:center; margin:-10px 0px 0px;
                                                       padding-top:100px; background:url('../images/icon-zoom.png') no-repeat center top;
                                                       font-size:16px; color:#ffffff; font-weight:600; text-transform:uppercase;
}

/* fluid 5 columns */
.grid-sizer,
.album-item { width: 20%; }
.album-item{float:left;}
.album-item img {
  display: block;
  max-width: 100%; height:auto;
  padding:0px 3px;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }

/*Footer*/
 .page-footer {
   width: 100%;}

/* paging */
.tin-tuc-nav{position:relative; min-height:30px;  }
.tin-tuc-nav .paging{position:absolute; right:0px;}
.paging { margin: 0 auto 15px; padding: 0; list-style: none; }
.paging  a { color: #393939; font-size:15px; font-weight:600;width:35px; height:35px; text-align:center; padding-top:5px; text-decoration: none; margin: 0 3px; display: block; float: left; }
.paging a.pPrev { background: url("../images/bt-page-prev.png") center center no-repeat; width:35px; height:35px; text-indent:9999999px;overflow: hidden; }
.paging a.pNext { background: url("../images/bt-page-next.png") center center no-repeat; width:35px; height:35px;text-indent:9999999px;overflow: hidden; }
.paging a:hover, .paging  a.current { color: #fff; background:#dcb91c; border-radius:50%; }
.paging a.pPrev:hover {background:#dcb91c url("../images/bt-page-prev.png") center center no-repeat; border-radius:50%;  }
.paging a.pNext:hover {background:#dcb91c url("../images/bt-page-next.png") center center no-repeat;  border-radius:50%; }
.paging a.pPrev,.paging a.pNext{display:none;}
.paging a.Haslink{display:block;}
.paging a.pFirst, .paging a.pLast{display:none !important; text-indent:999999px;}
.paging  .gotopage {width: 30px;padding: 3px 0;border-radius: 2px 0 0 2px;border: 1px solid #ccc;height: 14px; float:left;
                    display:none;
}
.paging .anextpage {
background: url(../images/nextp.html) no-repeat center center #cecece;
border-radius: 0 2px 2px 0;
padding: 4px 6px;
border-left: 0px;
margin: 0;
height:14px; display:none;
}
.paging .anextpage:hover {background: url(../images/nextp.html) no-repeat center center #82b639; }
/* end paging */



.page-body .page-form-register{padding:30px 60px;}
.page-body .main-content img{max-width:100%; height:auto!important;}
.fancybox-lock .fancybox-overlay{}

.page-body .main-content .page-gallery .gallery-item{display:block;  padding:0px 10px;}
.mainnav li h1.title{display:inline; margin:0px;}

.block-album { 
  

}
.block-album:hover{
}
.block-album .fancy-image img{ -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;}
.block-album .fancy-image img:hover{ 
    /*-webkit-transform:scale(1.08); /* Safari and Chrome */
    /*-moz-transform:scale(1.08); /* Firefox */
    /*-ms-transform:scale(0.08); /* IE 9 */
    /*-o-transform:scale(1.08); /* Opera */
    /* transform:scale(1.08);*/}
.block-album .fancy-image { display:block; }
.block-album h3.title,
.block-video h3.title{margin:0px;color: #333333;  font-size: 13px; margin-top: 0px; text-align: center;}
.block-video h3.title {margin-top:10px;}
.block-album h3.title a, .block-video h3.title a{font-weight:bold; color:#e77e23;}

.block-album,.block-video {margin-bottom:15px; }
.block-album a.image, .block-video a.image{display:block; position:relative;}
.block-album a.image img.thumb,.block-video a.image img.thumb{width:100%; height:auto;}
.block-album .image_overlay, .block-video .image_overlay{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.block-album .image_overlay img, .block-video .image_overlay img{position:absolute; left:50%; top:50%; margin-left:-32px; margin-top:-32px;}

.news-item{margin-bottom:15px; padding-bottom:15px; border-bottom:solid 1px #e1e1e1; }
.news-item .news-thumbnail{ float:left;}
.news-item .news-thumbnail img{max-width:100%; width:230px; margin-right:15px; margin-bottom:15px;}
.news-item h2.title{margin:5px 0px;}
.news-item h2.title a{color:#e77e23; font-weight:700; font-size:13px;}
.news-item .date-time{color:#949494; font-size:11px;}
.news-item .description{font-size:12px; }
.news-item .description .bt-detail{display:inline-block; width:8px; height:7px; background:url('../images/icon-arrow-right.png') no-repeat; margin-left:4px;}

.contact-form{}
.contact-form .textbox{ border: 1px solid #dddddd; float:left;
color: #545e5d;font-family: Arial,Helvetica,sans-serif;height: 30px;line-height: 30px;
margin-bottom: 10px;padding: 0 10px;width: 100%;}
.contact-form .textarea {height:150px;}
.contact-form .captcha{width:100px;}
.contact-form .captcha-image{float:left; margin-left:5px; margin-top:3px;}

div.sidebar-header{font-size:16px;}
.other-news .news-item{padding:0px;}

.page-body  .main-content-contact {padding-left:60px; padding-right:60px; padding-top:40px;}
.bussiness-box-wrapper{margin-right:20px;}
.bussiness-box-wrapper .home-box-logo{margin-bottom:0px; margin-top:40px;}
.bussiness-box-wrapper .shadow{}

#divBussinessList {background:#f2f2f2;   margin: -15px;  margin-top: 15px; padding:15px 30px;}
#divBussinessList .item{text-align:center;}
#divBussinessList .item img{max-width:60px; height:auto;}
#divBussinessList .item h3.title {margin:15px 0px 0px; }
#divBussinessList .item h3.title a{color:#6d6e71; font-size:12px; text-transform:uppercase; font-family:'Roboto', sans-serif; font-weight:500;}

.bussiness-category { margin-left:-18px; position:relative;}
.bussiness-category-content{position:absolute; width:100%; background:#f2f2f2;padding:20px;}
.bussiness-category ul{margin:0px; padding:0px; list-style:none;}
.bussiness-category ul li a{display:block; font-size:12px;  font-family:'Roboto', sans-serif; text-transform:uppercase; color:#888888;
                            padding:10px 0px; border-bottom:solid 1px #fff;
}
.bussiness-category ul li a strong{font-weight:500; color:#676767;}

.form .form-content .control-label{font-family:Arial; color:#2a2a2a; font-size:13px; font-weight:normal;}
.form .form-content .control-label strong{font-size:13px; font-weight:bold; text-transform:uppercase; color:#e77e23;}
.form h2.form-title,.form h3.form-content-title {color:#e77e23; font-size:24px; font-family:'Roboto', sans-serif; text-transform:uppercase; margin:0px 0px 30px; font-weight:bold; text-align:center; }
.form h3.form-content-title{color:#e77e23; font-size:13px; font-weight:bold; margin:0px 0px 10px; font-family:Arial; }
.form-register{padding:30px 50px; border:dashed 1px #a7a9ac; margin-top:45px; margin-bottom:100px;}
.form .form-control{border-radius:0px; box-shadow:none; height:30px; padding:4px 5px; width:100%;}
.form-register .form-horizontal .form-group{margin-bottom:5px;}
.form-register table td{font-size:13px;}
.form .textarea{height:70px;}
.form .captcha{width:80px; float:left;}
.page-form-register .content{}
.form .imgCatcha{padding-top:4px; padding-left:5px;}
.form .input-group{margin:15px 0px; width:100%;}
.form .input-group-fullw{max-width:398px; width:100%; margin:15px auto;}
.form .input-group-fullw label{text-align:center; text-transform:uppercase; width:100%;}
.page-form-donate p.description{}
.form .form-submit{text-align:center; margin-bottom:-80px;}
.form .cmdContactSend {
width:98px; height:110px; background:url('../images/bt-dang-ky.html') no-repeat center center; text-indent:-9999px; float:none; margin:0px auto;
}

.box-content-logo a.item{display:block; margin:5px 20px; float:left;}
.box-content-logo .tooltip{ color:#000000; opacity:1; padding-bottom:24px;}
.box-content-logo .tooltip .tooltip-inner{background:#f2f4f1; opacity:1; border-radius:0; padding:15px 10px; text-align:left; max-width:275px; 
                                          -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
}
.box-content-logo .tooltip .tooltip-inner *{color:#000000 !important; }
.box-content-logo .tooltip .tooltip-arrow{
    /*border-top-color:#f2f4f1; border-width:15px 15px 0px;*/
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -15px;
    left: 50%;
    box-sizing: border-box;
    
    border: 1em solid black;
    border-color: #f2f4f1;
    
    transform-origin: 0 0;
    transform: rotate(-45deg);
    background:#f2f4f1; 
    -webkit-box-shadow: -1px 5px 0px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.5);
box-shadow: -1px 5px 0px 0px rgba(0,0,0,0.5);
                                          
}
.home-news-hot, .banner-adv{display:none;}
#home  .home-news-hot, #home  .banner-adv{display:block;}

.footer-nav h2.title{font-size:18px; color:#ffffff; text-transform:uppercase; margin:0px; background:url('../images/bg-line-footer.png') repeat-x left 15px;
                     text-align:center;
}
.footer-nav h2.title span{display:inline-block; padding:0px 12px; background:#3f3f3f;}
.footer-nav {margin:0px;padding:0px; list-style:none; }
.footer-nav ul{margin:25px 0px ; padding:0px; }
.footer-nav li{display:block;}
.footer-nav li a{display:block; padding-left:20px; background:url('http://goldview-tnr.com.vn/template/tint/images/bullet-1.svg') no-repeat left 3px; background-size:11px;
                 color:#fff;  text-transform:uppercase; font-size:12px;
                 padding-bottom:6px; margin-bottom:6px; border-bottom:solid 1px #747474;
}
.footer-nav li a:hover{color:#eaeaea;}
.footer-bottom .col-wrapper{position:relative; height:49px; margin-top:-11px;}
.footer-bottom .shadow, .footer-fix-bottom  .shadow,
.footer-bottom-mobile .shadow{
    -webkit-box-shadow: 0px -6px 5px 0px rgba(0,1,1,0.6);
-moz-box-shadow: 0px -6px 5px 0px rgba(0,1,1,0.6);
box-shadow: 0px -6px 5px 0px rgba(0,1,1,0.6);
}
.footer-bottom .bt-dangky{position:absolute; display:block; bottom:0px;}
.footer-bottom .bt-taitro{position:absolute; display:block; bottom:0px;}
.footer-bottom .hotline-wrapper{position:absolute; bottom:0px;right:0px;}
.footer-bottom .hotline-wrapper{width:220px;}
.footer-bottom .hotline{padding:25px 15px; font-size:18px;  font-family:'Roboto', sans-serif; text-transform:uppercase;
                        text-align:center; background:#e77e23; color:#fff;
}


.footer-bottom {
position:relative;}

.page-project-schedule-detail  .page-title{text-align:right; margin-right:-51px; padding-bottom:45px;}
.page-project-schedule-detail  .page-title span{display:inline-block;}
.page-project-schedule-detail  .page-title span.month-title{font-size:16px; color:#3b3939; font-weight:700; text-transform:uppercase;
                                    background:url('calendar.html') no-repeat left top; background-size:18px; padding-right:40px; text-align:right; margin-left:20px; padding-right:20px;}
.page-project-schedule-detail  .page-title span.year-title{width:78px; height:78px; text-align:center; line-height:78px; background:#dcb91c; color:#fff; font-size:22px; font-weight:600; border-radius:50%;}

.schedule-list .item h3.title{font-size:14px; color:#3b3939; font-weight:600; margin:15px 0px;}
.schedule-list .item{margin-bottom:15px; position:relative;}
.schedule-list .item .news-thumbnail{position:relative; display:block;}
.schedule-list .item .overlay{background:rgba(220,185,28,0.8) url('../images/icon-zoom.png') no-repeat center center;
                              position:absolute; width:100%; height:100%; top:0px; left:0px;
                              opacity:0;
}
.schedule-list .item .overlay:hover{opacity:1;
                                    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}
#master_plan .img-backgroud{position:absolute; left:0px; top:0px;}
#image_map .img-hover{opacity:0; position:absolute; top:0px; left:0px;}
#image_map{position:relative;  z-index:2;}
.page-project-master-detail .page-control .bt-back,
.page-project-master-view .page-control .bt-back{  display: inline-block;
  margin: 0px auto 0px;
  padding: 9px 85px; 
  border: solid 1px #dddddd;
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  border-radius: 30px;
  color: #393939;
  font-size: 14px;
  text-transform: uppercase;}
.page-project-master-detail .page-control .bt-back span,
.page-project-master-view .page-control .bt-back span{display:inline-block; padding-left: 50px; margin-left:-20px; background:url('../images/arrow-new-left.png') no-repeat left center; min-height:40px;}
.page-project-master-detail .page-control .bt-back span:hover,
.page-project-master-view .page-control .bt-back span:hover{background:url('../images/arrow-new-left-h.png') no-repeat left center;}
.page-project-master-detail .page-control  .bt-3dview-wrap{ float:right;}
.page-project-master-detail .page-control  .bt-3dview{background:url('../images/bg-phoi-canh.jpg') no-repeat center center; display:inline-block; width:269px; height:93px; text-indent:-9999px;}
/*.page-project-master-detail .page-control,
.page-project-master-view .page-control{margin-bottom:110px; margin-top:30px;}*/
.page-project-master-detail .page-control, .page-project-master-view .page-control{position:relative; margin:0px; float:right; top:-70px;}
.page-project-master-detail .page-control .bt-back, .page-project-master-view .page-control .bt-back {padding: 9px 35px;}
.page-project-master-detail .bt-block-wrap .block-selected{position:relative; float:right; top: 70px; right:-10px; width:90%;}
.page-project-master-detail .bt-block-wrap .bt-3dview{background:url('../images/bg-phoi-canh.png') no-repeat center center; display:inline-block; background-size:120px 103px; width:120px; height:103px; text-indent:-9999px; position:absolute; top:200px; right:0px; z-index:10}

.page-project-master-detail .bt-block-a, .page-project-master-view .bt-block-a{background:url('../images/bnt-block-a-h.png') no-repeat center center; display:inline-block; background-size:69px 58px; width:69px; height:58px; text-indent:-9999px; position:absolute; right:0px; z-index:10}
.page-project-master-detail .bt-block-b, .page-project-master-view .bt-block-b{background:url('../images/bnt-block-b-h.png') no-repeat center center; display:inline-block; background-size:56px 58px; width:56px; height:58px; text-indent:-9999px; position:absolute; right:69px; z-index:10}
.page-project-master-detail .bt-block-a:hover, .page-project-master-view .bt-block-a:hover,
.page-project-master-detail .bt-block-a.active, .page-project-master-view .bt-block-a.active{background:url('../images/bnt-block-a.png') no-repeat center center; background-size:69px 58px;}
.page-project-master-detail .bt-block-b:hover, .page-project-master-view .bt-block-b:hover,
.page-project-master-detail .bt-block-b.active, .page-project-master-view .bt-block-b.active{background:url('../images/bnt-block-b.png') no-repeat center center; background-size:56px 58px;}


.page-footer-copyright{min-height:45px; background:#e5e5e5; padding:15px 0px;}
.page-footer-copyright .copyright-info{font-size:14px; font-weight:700;}
.page-footer-copyright .copyright-note{font-style:italic;  font-size:13px; font-weight:200;}


/* Large desktop */
@media screen and (min-width: 1200px) {
    .page-footer-copyright .copyright-note{text-align:right;}
    
    .page-project-master-detail .bt-block-a, .page-project-master-view .bt-block-a,
    .page-project-master-detail .bt-block-a:hover, .page-project-master-view .bt-block-a:hover,
    .page-project-master-detail .bt-block-a.active, .page-project-master-view .bt-block-a.active{background-size:87px 73px; width:87px; height:73px; right:0px;}
    .page-project-master-detail .bt-block-b, .page-project-master-view .bt-block-b,
    .page-project-master-detail .bt-block-b:hover, .page-project-master-view .bt-block-b:hover,
    .page-project-master-detail .bt-block-b.active, .page-project-master-view .bt-block-b.active{background-size:71px 73px; width:71px; height:73px; right:87px;}
    
    .page-project-master-detail .bt-block-wrap .block-selected{top: 90px; width:95%; right:-15px;}
    .page-project-master-detail .bt-block-wrap .bt-3dview{background-size:201px 172px;  width:201px; height:172px; top:300px; right:-15px;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .top-header{}
    .page-header a.logo{background-size:160px;   width: 160px; margin-left:-80px; top:0px; height:82px;}
    .page-header-sticky a.logo{background-position:center -37px;}
    .page-header{height:56px; min-height:56px;}
    .page-header ul.navbar-nav li a{height:56px; min-height:56px; padding-top:20px;}
    .page-header .navbar-nav li.home a,
    .page-header .block-search .bt-search{height:56px;}
    .home-position{ background-position:-350px top;}
    .project-nav-horizontal .project-item{font-size:12px;}

}
 
 /* Small devices (tablets, 768px and up) */
@media screen and (max-width: 991px) {
    .navbar-toggle {display: block; float:left;}
    .navbar-toggle .icon-bar{background:#fff;}
    .project-nav-horizontal .project-item{font-size:12px;}
}

/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 992px) {
    .page-header > .container{position:relative;}
    .navbar-header {float: none; }
    .navbar-toggle {display: block;}
    .navbar-collapse {box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                       position:absolute; right:0px; z-index:100;  padding: 0px 0px;
    }
    .navbar-collapse.collapse { display: none!important;}
    .navbar-nav {float: none!important; margin: 0px;}

    .navbar-nav>li {float: none;}
   
    .navbar-text {float: none;margin: 15px 0;}
    /* since 3.1.0 */
    .navbar-collapse {margin:0px; right:auto; max-height:none;  padding-top:25px; 
                        width: 100%;  left: 0px;  right: 0px;  margin-left: 0px;  margin-right: 0px;
    }
    .navbar-collapse.collapse.in { display: block!important;   padding-bottom:15px; margin-left: 0px;  margin-right: 0px; left: 0px;  right: 0px}
    .collapsing { overflow: hidden!important;}
    .page-header ul.navbar-nav {padding-top:0px; width:auto;}
    .page-header ul.navbar-nav li a{font-size:16px; padding:10px 0px;line-height:1.42857143; height:45px; width:100%;   border-bottom: solid 1px #e8d36c;}
    .page-header ul.navbar-nav.navbar-nav-left li.last a{border-bottom: solid 1px #e8d36c;}
    .page-header .block-search{position:static; top:auto; right:auto; height:45px;}
    #searchformwrap{position:relative; margin:0px;}
    .page-header .block-search .bt-search{height:45px; position:absolute; right:0px; z-index:2;}
    .page-header .block-search .txtsearch{height:45px; background:#c1a31d ; display:block; position:absolute; top:0px; width:100%;
                                          border:0px; color:#fff; padding:5px 45px 5px 10px;
    }

    ::-webkit-input-placeholder {
    color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #fff;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;  
    }

    :-ms-input-placeholder {  
       color: #fff;  
    }

    .page-header ul.navbar-nav li a:hover, .page-header ul.navbar-nav li.active a:hover, .page-header ul.navbar-nav li.active a{background:transparent;}

   .page-header ul.navbar-nav li.last a{border-bottom:0px;}
    .page-header ul.navbar-nav li.active, .page-header ul.navbar-nav li:hover {
       
    }
    .page-header ul.navbar-nav {
        padding-top:0px; height:auto; margin-bottom:0px; margin-top:0px;
    }
    .navbar-inverse .navbar-collapse{border:0px; background:#ddbb19; 
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);}
    .page-header ul.navbar-nav{padding:0px;}

    .page-header{min-height:0px;}
    .top-header{position:relative; z-index:10001; height:33px;}
    .top-header .logo-mobile{position:relative; z-index:9999;}
    .top-header a.logo-xs{display:block; width:214px; height:113px; top:0px; background:url('http://goldview-tnr.com.vn/template/tint/images/logo.svg') no-repeat center bottom;
                          background-size:215px;  position:absolute; left:50%; margin-left:-107px; 
    }
    .navbar-inverse .navbar-collapse{}

    .home-position{ background-position:-350px top;}
    .full-right{position:static; margin-top:30px;}

     /* fluid 5 columns */
    .grid-sizer,.album-item { width: 33.333%; }
    /* 2 columns */
    .grid-item--width2 { width: 66.666%; }

    .header-sm {background:#ddbb19;}
    .navbar-toggle .icon-bar{background:transparent;}
    .header-sm .navbar-toggle{background:#c1a41d url('../images/icon-sandwich-mobile.png') no-repeat center center;
                                  height:54px; width:56px; border-radius:0px; margin:0px; padding:0px; margin-left:-15px;
    }
    .top-header .language{height:33px; line-height:33px;}
    .top-header .language a.en, .top-header .language a.vn{ padding:0px; position:relative; text-indent:-9999px; display:block; float:right; height:30px; width:20px; overflow:hidden; text-align:left; }
    #mobilesearchformwrap{margin-right:-15px; position:relative; z-index:9999;}
    #mobilesearchformwrap .bt-search{display: block;  height: 54px;  width: 56px;
  background: #c1a31d url('../images/icon-search.png') no-repeat center center;
  float: right;  z-index: 9;  position: relative;
    }
    #mobilesearchformwrap .txtsearch{position:absolute; top:54px; right:0px; width:75%; background:rgba(193,164,29,1); border:0px; padding:10px 10px; display:none; border-radius:0;}
    #mobilesearchformwrap .txtsearch:focus{outline:none;}
    .home-position{height:auto; background:transparent;}
    .home-position .project-info{color:#3b3939;}
    .home-position .left-content .bt-view-maps{margin-top:15px; background:#dcb91c; border:0px; color:#2b2b2b; font-weight:600; text-align:center; display:inline-block; padding:6px 45px;}
    .home-position .img-home-location-mobile{margin:0px -15px;}
    .branch-title{display:block; color:#3b393a;  margin-top: 0px;}
    .home-position .project-info ul li{display:inline-block; float:left;}
    #home .project-nav .project-item .icon{width:150px; height:150px;}
    .home-position .project-info ul li{background: url('http://goldview-tnr.com.vn/template/tint/images/bullet-2.svg') no-repeat left 0px; padding: 3px 0px 15px 35px;margin-left: 15px;background-size: 24px;  font-size: 12px;}
    .page-project-master-detail .bt-block-wrap .block-selected{top: 65px; width:75%; right:-15px;}
    .page-project-master-detail .bt-block-wrap .bt-3dview{background-size:120px 103px;  width:120px; height:103px; top:180px; right:0px;}
}
 
/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
   
}
 
/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
    .top-header a.logo-xs {
        display: block;
        width: 160px;
        height: 85px;
        top: 0px;
        background-size: 160px;
        position: absolute;
        left: 50%;
        margin-left: -80px;
    }

    .project-nav .project-item {font-size: 14px;margin-bottom: 3px;}

    #home .home-project .branch-title {margin-bottom: 30px;}

    #home .home-project {padding-top: 45px; }

    .home-new .new-list .item { margin-bottom: 30px; }

    .home-new .new-list .bt-viewmore { margin-top: 15px;}

    .home-position {}

    .home-content-footer {margin-top: 30px;}

    .page-about-us .box-category, .page-news .box-category { width: 100%;margin: 30px 0px; }
    .z-content > div { padding-right: 0px !important; }

    /* fluid 5 columns */
    .grid-sizer, .album-item {
        width: 33.333%;
    }
    /* 2 columns */
    .grid-item--width2 {
        width: 66.666%;
    }

    .page-footer-contact .hotline {
        font-size: 15px;
    }

    .page-footer .footer-bottom {
        height: auto;
        line-height: 1.6em;
        text-align: center;
        padding: 15px 0px;
    }

        .page-footer .footer-bottom .text-right {
            text-align: center;
        }

    .logo-footer {
        text-align: center;
        margin: 0px auto;
    }

    .branch-title {
        width: 100%;
    }

    .home-content .banner-item img {
        margin: 0px auto;
    }

    .home-content-footer h2.title {
        text-align: center;
        background-position: bottom center;
    }

    .home-content-footer .logo-partner img {
        text-align: center;
        margin: 0px auto;
    }

    .project-nav-horizontal .project-item {
        height: 100px;
    }

    .project-nav .project-item .icon {
        margin-bottom: 0px;
    }

    #home .project-nav .project-item .icon {
        width: 120px;
        height: 120px;
        margin-bottom: 5px;
    }

    .project-nav .project-item .icon svg {
        top: 50%;
    }

    .home-position .left-content .bt-view-maps {
        padding: 6px 15px;
    }

    .page-project-schedule-detail .page-title{margin-right:0px; text-align:center;}
    .page-about-us .background,.page-saleskit .background{display:none ;}
    #mobilesearchformwrap .txtsearch{width:100%;}
    #map-canvas{height:320px;}
    .page-child-banner .about-bg .contentscroll .content h3{font-size:32px;}
    
    .page-project-master-detail .page-control, .page-project-master-view .page-control{top:0px; padding:10px 0px;}
    .page-project-master-detail .bt-block-wrap .block-selected{top: 65px; width:95%; right:-15px;}
    .page-project-master-detail .bt-block-wrap .bt-3dview{background-size:120px 103px;  width:120px; height:103px; top:190px; right:0px;}
 }
@media screen and (max-width: 600px) {
    /* fluid 5 columns */
    .grid-sizer,.album-item { width: 50%; }
    /* 2 columns */
    .grid-item--width2 { width: 100%; }
    .page-project-master-detail .page-control .bt-back, .page-project-master-view .page-control .bt-back{padding:9px 35px;}
    .page-project-master-detail .page-control  .bt-3dview{max-width:100%; background-size:100%;}
    .page-project-master-detail .bt-block-wrap .block-selected{top: 65px; width:110%; right:-15px;}
    .page-project-master-detail .bt-block-wrap .bt-3dview{background-size:120px 103px;  width:140px; height:103px; top:170px; right:0px;}
}
 
/* Landscape phones and down */
@media screen and (max-width: 480px) {
    .home-content .banner-item img,
    .home-new .new-list .item img{width:100%;}
   
   .project-nav .project-item{font-size:13px;}
   

     /* fluid 5 columns */
    .grid-sizer,
    .album-item { width: 100%; }
    /* 2 columns */
    .grid-item--width2 { width: 100%; }
    .page-footer .footer-bottom{ font-size:11px;}
    .page-footer .contact-info{font-size:11px;}
    .home-position .left-content .bt-view-maps{width:100%; }
    .page-child-banner .about-bg .contentscroll .content h3{font-size:20px;}
    .hidden-tn{display:none;}
    .page-project-master-detail .page-control .bt-3dview-wrap{ width:100%; margin-bottom:10px;}
    .page-project-master-detail .page-control .bt-back-wrapper{ width:100%;}
    #master_plan .detail_room table{width:100% !important; margin:0px 0px 15px !important;}
    .page-project-master-detail .bt-block-a, .page-project-master-view .bt-block-a,
    .page-project-master-detail .bt-block-a:hover, .page-project-master-view .bt-block-a:hover,
    .page-project-master-detail .bt-block-a.active, .page-project-master-view .bt-block-a.active{background-size:43px 36px; width:43px; height:36px; right:0px;}
    .page-project-master-detail .bt-block-b, .page-project-master-view .bt-block-b,
    .page-project-master-detail .bt-block-b:hover, .page-project-master-view .bt-block-b:hover,
    .page-project-master-detail .bt-block-b.active, .page-project-master-view .bt-block-b.active{background-size:35px 36px; width:35px; height:36px; right:43px;}
    .page-project-master-detail .bt-block-wrap .block-selected{top: 40px; width:280%; right:-15px;}
    .page-project-master-detail .bt-block-wrap .bt-3dview{background-size:60px 51px;  width:60px; height:51px; top:100px; right:0px;}
 }

@-ms-viewport       { width: device-width; }

