﻿h2,h3,h4,h5,h6{  font-size: 16px;  /*font-weight: bold;*/  line-height: 22px;}
.local-left1{float:left;padding-left: 0px;}
.local-right1{float:left; padding-left:35px; margin-top: 30px;}
	.local-right1 h2{color:#2b2b2b;font-family: 'Open Sans', sans-serif; font-weight:700; text-transform:uppercase; font-size:18px}
	.local-right1 ul{padding-left:20px;}
		.local-right1 ul li{padding-left:43px}
		
		.local-right2 ul{padding-left:20px;}
		.local-right2 ul li{padding-left:43px}
.number-local{font-size:24px; color:#fff;border-radius:29px; background:#dcb91c;font-family: 'Open Sans', sans-serif; font-weight:600; padding:12px 15px; text-align:center; margin-right:10px;}

.item_local{background:url('http://goldview-tnr.com.vn/template/tint/images/bullet-2.svg') no-repeat left top; background-size:24px; list-style:none; margin-bottom:15px; min-height:24px; }

.local-left2{margin-left:40px;padding-left: 0px;}
.education_f{background:url('../images/education.png') no-repeat left top;padding-left: 72px !important;}
	.heath_f{background:url('../images/heath_f.png') no-repeat left top;padding-left: 72px;}
	.shopping_f{background:url('../images/shopping_f.png') no-repeat left top;padding-left: 72px;}
	.education_f h3, .heath_f h3, .shopping_f h3{color: #2b2b2b;font-family: 'Open Sans', sans-serif;font-weight: 700;text-transform: uppercase; border-bottom:1px solid #e9e9e9; padding-bottom:5px; font-size:16px; margin-top:14px}
		.education_f h3 span, .heath_f h3 span, .shopping_f h3 span{border-bottom:2px solid #d7d7d7; padding-bottom:4px}
	.education_f ul,.heath_f ul, .shopping_f ul{padding-left:0px; list-style:none}
	.list_local_f{background:url('../images/list_local_f.png') no-repeat left 8px;padding-left: 22px; margin-bottom:4px; color:#393939}

.title_mb{font-family: 'Open Sans', sans-serif; color:#313131; text-transform: uppercase;font-size: 20px;}
	.title_mb span{ font-weight:700; font-size:22px;}
	.detail1_mb{margin:20px 0px 30px}
	.detail1_mb .left_mb{width:50%;font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px; margin-bottom:0px;}
				.right_mb{width:50%;font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px; }
	
		.detail1_mb p{font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px; text-transform: uppercase; margin-bottom:0px;}
		.detail1_mb p span{font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px; font-weight:700;}
	
	.detail_room{}
		.title_room{font-family: 'Open Sans', sans-serif; color:#313131; text-transform: uppercase;font-size: 16px;}
		.detail_room ul{padding-left:25px}
			.detail_room ul li{ font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px;background:url('../images/list_room.png') no-repeat left center;padding:3px 0px 3px 22px; list-style:none; border-bottom:1px solid #d3d3d3; max-width:55%}
				
			.phongngu_r{color:#2a2a2a;font-family: 'Open Sans', sans-serif; font-weight:600; margin-bottom:20px;font-size:13px}
			.phongngu_rt7{color:#2a2a2a;font-family: 'Open Sans', sans-serif; font-weight:600;margin-bottom:15px; font-size:13px}
	
	.left_room_mb{font-family: 'Open Sans', sans-serif; color:#313131; font-size: 15px;background:url('../images/list_room.png') no-repeat left center;padding:3px 0px 3px 22px; list-style:none; border-bottom:1px solid #d3d3d3;width:90%; margin-left:20px;}
	.right_room_mb{width:5%; border-bottom:1px solid #d3d3d3;}
	.home-new .new-list .bt-viewmore{  margin: 40px auto 25px;}
	.home-content-footer h2.title{  line-height: 26px;}
	.home-project .branch-title{ line-height: 27px;}
		
.dautu_doitac{width:100%; border:1px solid #ccc; margin:auto}
.name_comp{font-family: 'Open Sans', sans-serif;  font-size: 15px;}
	.dautu_doitac tr td a{  float: none; margin-right: 0px; margin-bottom: 0px;}
	.dautu_doitac tr td{width:50%;text-align:center; padding:15px 15px; vertical-align:top;}
	.dautu_doitac tr td img{text-align:center; margin:auto}
.contact-address{  line-height: 20px !important;}
	

.home-new .new-list{margin-top:30px}
#histats_counter{position: relative;margin-top: -58px;    max-width: 200px;}
@media screen and (min-width: 990px) and (max-width: 1024px) {
   .home-position .project-info{padding-right:20px}
}
@media screen and (min-width: 501px) and (max-width: 800px) {
   
   .home-new{margin-top:0px}

.local_ipad{width:100%;}

.home-new .new-list{margin-top:30px;}
.home-content-footer h2.title{  text-align: center;display: block;  background-position: bottom center;}
.branch-title-dark{text-align:center !important}
.page-branch-title{display:block; text-align:center; background-position: bottom center;}
.education_f h3, .heath_f h3, .shopping_f h3{font-size:100%;padding-bottom: 4px;}
.list_local_f{font-size:100%;}
.item_local .lk1{min-width: 98px !important;}
.item_local .lk2{min-width: 236px !important;}
.item_local .lk3{ min-width: 50px !important;}
.item_local .lk4{ min-width: 56px !important;}
.item_local .lk5{ min-width: 38px !important;}
.education_f,.heath_f,.shopping_f{width:100%;margin-bottom: 10px;}
}
@media screen and (max-width: 800px) {

.social_cust{display:none}
.home-gallery .home-video img{width:  194px;}



}
@media screen and (max-width: 600px) {
    /* fluid 5 columns */
    .local-right1 {margin-top:20px; padding-left:0px; width:100%}
	.local-left1{width:100%}
		.number-local{  padding: 8px 11px;font-size: 18px;}
		.local-right1 h2{font-size:100%}
	.education_f{padding-left:20px;}
	.phongngu_rt7,.phongngu_r{font-size:100%}
	.page-child-banner .about-bg .contentscroll .content h3{  padding-top: 45px;  line-height: 39px;}
	.social_cust{display:none}
}

#home .project-nav .project-item .icon img{top: 50%;}
.project-nav .project-item .icon img{margin: 0;   position: absolute;  top: 50%;    left: 50%;    margin-right: -50%;    
                                     -ms-transform:translate(-50%, -50%);
                                     -webkit-transform:translate(-50%, -50%);
                                     -moz-transform:translate(-50%, -50%);
                                     -o-transform:translate(-50%, -50%);
                                     transform: translate(-50%, -50%);
                                     -webkit-transition: all .4s ease;
	 	-moz-transition: all .4s ease;
	 	-o-transition: all .4s ease;
	 	transition: all .4s ease;
}
.add_remarekting iframe{display:none}