.menu-open, .menu-close{width:50px;height:40px;position:absolute;top:5px;right:10px;opacity:0.6;cursor:pointer;}
.menu-close{opacity:1;top:-25px;right:5px;}
.menu-close .line{width:40px;height:3px;background:#fff;}
.menu-close .line-1{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);margin-bottom:-3px;}
.menu-close .line-2{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.menu-open .line{width:40px;height:3px;background:#fff;margin-top:8px;margin-bottom:8px;margin-left:5px;}
#main-menu .mobile li.active > a{color:#fff!important;text-decoration:underline;}
.navbar .navbar-gem.active{background:#4fc7f3;z-index:50;transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);}
.navbar .navbar-gem.active a:hover{color:#fff!important;text-decoration:underline;}
.navbar .navbar-gem.active li{width:100%;}
@media screen and (max-width:992px){.total-item .top{font-size:22px;}
#about h3 {
    margin-top: 0px;
}
.total-item .bottom{font-size:16px;}
.container{width:100%}
#logo{position:absolute;display:inline-block;width:150px;height:auto;}
#hotline{position:absolute;top:0px;right:94px;font-weight:600;font-size:30px;color:#fff;text-decoration:none;}
.mobile .sub-menu{padding-bottom:0px;margin-left:15px;}
#main-menu .navbar-nav a{padding:7px 15px;text-align:left;}
.mobile .sub-menu,#main-menu .navbar-nav a{text-align:left;}
.nav .home{padding:7px 0px;}
.nav .home a{margin-left:10px;padding:7px 0px}
.mobile .sub-menu li{padding:5px 0px}
.slider-item .title{position:absolute;top:120px;left:100px;width:auto;height:auto;}
.navbar .navbar-nav{padding:20px;display:block;}
.slider-item .description{position:absolute;top:190px;left:90px;width:auto;height:auto;}
.homepage .photo-item .item .p{margin-top:0px !important;background:none !important;padding-right:3px !important;}
.homepage .photo-item .item .p .bottom{padding-bottom:20px}
#fullpage .section{padding-top:30px;}
#news .photo{margin-top:30px;margin-bottom:30px;}
.homepage #fullpage #util.section{padding-top:0px}
#fullpage .section, .fp-tableCell{height:auto !important;}
#fullpage #slider{height:549px !important}
.homepage #fullpage section#about .ab-block .photo{margin-top:30px;}
.homepage #about .description{margin-left:0px;}
#total{position:relative;margin-top:30px;}
#about .description{margin-left:0px !important;}
.page-about .photo img{right:auto !important;width:100% !important;margin-bottom:15px;}
#about h2{font-size:30px;}
#about h2 span{font-size:40px;}
#about .description{margin-left:15px;}
#about.detail .ab-block{margin-top:50px;margin-bottom:0;}
.total-item{padding: 15px 0px;}
.total-item .top{font-size:22px;}
.total-item .bottom{font-size:12px;}
.photo-item .photo-item-right .p,
.photo-item .photo-item-left .p{padding:8px 15px 0px 43px;}
.photo-item .top{font-size:18px;}
.photo-items .title{top:90px;left:50%;width:400px;height:100px;}
.photo-items .controls .next{width:90px;height:90px;line-height:90px;}
.photo-items .controls .prev{width:90px;height:90px;line-height:90px;}
.homepage .photo-items .title h3{font-size:17px;margin-top:9px;}
.homepage .photo-items .title{top:20px;width:200px;height:48px;}
.homepage .photo-items .controls .next, .homepage .photo-item .slick-next{width:55px;height:55px;line-height:55px;bottom:149px;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:94px;width:55px;height:55px;line-height:55px;}
#value .description{text-align:justify;}
.homepage .block{width:638px;height:auto;position:relative;top:auto;bottom:15px;}
#fullpage .section#furniture{min-height:470px}
#fullpage .section#furniture .fp-tableCell{vertical-align:bottom}
#news h3{margin-top:0}
#position h3{margin-top:0;}
#position.detail h3{margin-top:70px;}
#reason h3{margin-top:0;}
#reason.detail h3{
	margin-top: 75px;
    display: inline-block;
    text-align: center;
    left: 50%;
    width: 100%;	
}
#reason.detail{min-height:600px;}
#reason .photo{margin-top:80px}
.news-block{padding-left:10px;padding-right:10px;margin-top:50px;margin-bottom:0px;}
.news-block .date{padding:3px 9px;left:-10px;bottom:10px;}
#news-blocks h3{margin-top:0;margin-bottom:0;}
.news-block .title{font-size:15px;}
#news-blocks .text-center.vertical-space2{margin-bottom:30px;margin-top:40px;}
#footer{min-height:464px;}
.social{margin-top:30px;}
#footer h4{margin-bottom:44px;margin-top:30px;font-size:19px;}
.navbar .navbar-gem{transform:translateX(100%);-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-o-transform:translateX(100%);transition:all 0.3s ease;margin-top:50px;}
.bread-crumb{margin-top:143px;margin-bottom:40px;}
#host .item{padding-top:20px;padding-bottom:20px;}
#host .host-block{margin-bottom:50px;}
#contact{min-height:1230px;}
.google-maps{margin-bottom:20px}
#furniture-detail{min-height:1725px;}
#timeline{min-height:768px;}
#position-introdution .photo{text-align:right;}
#position-introdution{min-height:796px;}
.value-top-content{width:100%;}
#position-introdution .photo{margin-top:20px;margin-bottom:50px}
#introdution .list{margin-top:40px;margin-bottom:30px;margin-left:15px;}
.photo-items .controls .next, .photo-item .slick-next{width:95px;height:95px;bottom:95px;}
.photo-items .controls .prev, .photo-item .slick-prev{width:95px;height:95px;}
.lb-caption div{font-size:21px;padding:15px 25px;top:-30px;left:25px;}
#master_plan{margin-bottom:30px;}
.row-eq-height{}
.row-eq-height .vertical-center{position:relative;top:50%;}
.value-content .item{background-repeat:no-repeat;background-position:right center;padding:25px 0px;background-size:cover;}
.value-content .item.item-right{background-position:left center;}
.homepage #position .position-photo img{width:100%;height:auto}
#reason .photo{margin-top:0px;padding:50px 0px 50px;}
.homepage  #reason .photo{margin-top:30px;}
.value-content .item.item-right .scroll-wrapper > .scroll-content{padding-left:0px;}
#position .position-photo img{height:auto;margin:0px auto;padding:0px 15px;}
#introdution .photo img{margin:auto}
#introdution h2{margin-top:60px;}
#house .note{margin:30px auto;}
.mb-detail .floor{font-size:24px;}
#house .description.floor-description{max-width:100%}
#master_plan .imagemapster .detail{text-align:center;margin-top:30px}
#imagemapster .detail #mapster_wrap_0{text-align:center;width:auto}
#reason .photo img{width:calc(100% - 30px) !important; margin-top:20px !Important}
.homepage section#reason h3, section#reason h3 {
    left: auto;
	width:100%;
	text-align:center;
    display: inline;
    top: 0px;
}
.homepage #news .photo img {
    height: 100%;
	width:100%
}
}
@media screen and (min-width:768px) and (max-width:979px){.slider-item .title{left:auto !important;width:100%;top:50px !important;}
#fullpage #slider{margin-top:50px;}
#main-menu{background:#0b4d94;}
	#main-menu .container,#main-menu .container .row{height:50px;}
.slider-item .description{left:auto !important;text-align:center;width:100%;top:100px !important;font-size:24px !important;}
.slider-item .title img{text-align:center;margin:auto;}
.total-item .top{font-size:30px !important;}
.page-about .photo img{padding:0px 15px;}
#house .device{width:100%}
#house .device #master_plan>div .col-sm-6{width:100%}
#util.detail .description{margin:35px 0;}
#util.detail .description #shortDesc{margin-left:0px !important;}
.homepage .photo-items .controls .next, .homepage .photo-item .slick-next{width:55px;height:55px;line-height:55px;bottom:119px !important;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:64px !important;}
.homepage .photo-item:after{width:1px;height:71%;}
#util.detail .photo-item:after{width:1px;height:74% !important;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{width:55px;height:55px;line-height:55px;bottom:119px !important;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{width:55px;height:55px;line-height:55px;bottom:64px !important;}
.post-list .news-block{min-height:369px;}
#timeline .photo{min-height:120px;overflow:hidden;}
#library .photo-gallery .slick-prev{left:49px;}
#library .photo-gallery .slick-next{right:49px;}
.lightbox .lb-loader{right:0px;}
.btn-form{width:100%}
.tab_left_f{width:60%;padding-right:0px;}
.tab_right_f{width:40%}
.see_more_house{position:relative;z-index:10}
#lightbox{position:fixed !important;top:50% !important;left:50% !important;transform:translate(-50%, -50%) !important;}
.homepage .scrollbar-inner {
    height: 128px;
}
.homepage .block {
    width: 458px;
    left: 15px;
}
.homepage .scrollbar-inner .scroll-content{height: 94px !important;}
.homepage section#reason h3, section#reason h3 {
    top: -40px;
}
#reason .photo img{width:calc(100% - 30px)}
.homepage #news .photo img {
    height: 100%;
	width:100%
}
#value #valueContent .item {
    background-position: right top;
    background-size: 100%;
	padding-bottom: 0px;
}
.value-content .item-wrapper {
    padding: 40px 0px 0px;
}
	#value #valueContent .item .item-content{margin-top:406px;    padding: 30px 15px;}
	#value #valueContent .item .item-content .scroll-wrapper > .scroll-content {
		padding-right: 15px;
	}
	#value #valueContent .item .item-content .scrollbar-inner > .scroll-element.scroll-y {
		right: 0px;
	}
	.value-content .item .col-sm-6 {
		width: 100%;
	}
	.blacklist {
		top: 59px;
	}
	.register {
		top: 103px;
	}
}
@media screen and (max-width:767px){
#about h3 {margin-top: 0;} /*Duy*/
.slider-item .title{left:auto !important;width:100%;}
.slider-item .title img{margin:auto;text-align:center}
.slider-item .description{left:auto !important;text-align:center;width:100%;}
.homepage .photo-items .controls .next, .homepage .photo-item .slick-next{bottom:196px !important;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:141px !important;}
.homepage #news .photo img{height:auto;}
.homepage .photo-item .item .p{padding-right:22px !important;padding-left:35px;    text-align: center /*duy*/;}
#util.detail #utilitiesslide{padding-bottom:0px}
#util.detail .description{margin:45px 0px 35px;}
#host .item .col-sm-3{width:25%;float:left}
#host .item .col-sm-9{width:75%;float:left}
.photo-item:after{width:1px;height:70%;}
#util.detail .photo-item:after{width:1px;height:67%;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:177px !important;width:55px;height:55px;line-height:55px;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:122px !important;width:55px;height:55px;line-height:55px;}
.social li a i.ion-social-googleplus-outline{line-height:16px;}
#reason.detail h3 {
    margin-top: 0px;
    top:0px
}
#reason .photo img{width: calc(100% -30px !important);    height: 100%;    max-height: initial;}
.homepage #reason .photo {
    margin-top: 0px;
}
.homepage #news .photo img {
    height: 100%;
	width:100%
}
#value #valueContent .item {
    background-position: right top;
    background-size: 100%;
	padding-bottom: 0px;
}
	#value #valueContent .item .item-content{margin-top:349px;    padding: 30px 15px;}
	#value #valueContent .item .item-content .scroll-wrapper > .scroll-content {
		padding-right: 15px;
	}
	#value #valueContent .item .item-content .scrollbar-inner > .scroll-element.scroll-y {
		right: 0px;
	}
	#value .value-content .item-wrapper {
		padding: 30px 0px 0px;
	}
.value-content .item .col-sm-6{width:100%}
.contact_f{margin-top:30px;}
#advisoryModal .title{font-size:32px; margin-bottom:5px;}
#advisoryModal .description{font-size:16px;}
#advisoryModal .radio-inline{width: calc(100%/1 - 5px);}
#advisoryModal .close{    right: -10px;  top: -10px;     width: 44px; height:44px; font-size:36px;}
#advisoryModal .modal-content{    padding: 30px 10px 30px 10px;}
}
@media screen and (max-width:480px) and (orientation:portrait){.menu-open{top:7px;right:8px;}
.menu-open .line{height:2px;margin-top:8px;margin-bottom:8px;}
.box li{width:52px;height:50px;}
#fullpage #slider{height:503px !important;margin-top:50px;}
#main-menu{background:#0b4d94;}
#logo img{width:121px;}
#hotline{top: 0px;    right: 62px;width:55px;height:50px;background:url(../images/phone-call.svg) center center no-repeat !important;padding:20px;background-size:29px!important;
animation: Ringing-call 2s infinite; -webkit-animation-iteration-count: infinite;}

.homepage #position .position-photo img {
    padding: 0px;
}
#hotline i, #hotline span{display:none}
.scroll-down{width:40px;height:40px;line-height:40px;font-size:23px;}
#about .ab-block{margin-top:20px;margin-bottom:20px;}
.homepage .block{bottom:15px;padding:0px 15px;width:100%}
.social li a i.ion-social-googleplus-outline{line-height:20px;}
.social li a i.ion-social-googleplus-outline:before{margin-top:8px;}
#library .photo-gallery .slick-next{right:0px}
#library .photo-gallery .slick-prev{left:0px;}
.photo-item .photo-item-right .p, .photo-item .photo-item-left .p{padding:15px 15px 0 15px; }
.photo-item .top{padding:5px 0px 10px;}
.homepage #util.detail .photo-items .controls .prev, .homepage .photo-item .slick-prev{bottom:auto;top:36% ;width:35px;height:35px;line-height:35px;font-size:27px;left:0px;transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);transition:transform 0.3s ease 0.1s;-webkit-transform:transform 0.3s ease 0.1s;-moz-transform:transform 0.3s ease 0.1s;-o-transform:transform 0.3s ease 0.1s;}
.homepage .photo-items .controls .next, .homepage .photo-item .slick-next{bottom:auto;top:36%;width:35px;height:35px;line-height:35px;font-size:27px;right:0px;left:auto;transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);transition:transform 0.3s ease 0.1s;-webkit-transform:transform 0.3s ease 0.1s;-moz-transform:transform 0.3s ease 0.1s;-o-transform:transform 0.3s ease 0.1s;}
#reason .photo img{width:100%;padding:0px 15px;max-height: 100%;}
.photo-item:after{display:none;}
.photo-items .title{background:rgba(16, 52, 108, 0.5)}
.slider-item .title{left:auto;width:100%;top:58px !important}
.slider-item .title img{margin:auto;max-width:199px !important;}
.slider-item .description{top:50px !important;left:0px;width:100%;text-align:left;font-size:18px !important;padding-left: 20px;}
#about .ab-block h2{font-size:30px;}
#about h2 span{font-size:37px !important;}
#about .readmore{margin-left:0px;}
.block .title{font-size:19px;padding:6px 15px 6px 15px;}
.block .content{padding:15px 20px;}
.block .read-more{padding:4px 12px;font-size:13px;}
#news p{text-align:justify;}
#reason h3,#news h3{padding:0px 15px;}
.block .content{background:rgba(255,255,255,0.7);height: 153px;}
.block .content .scrollbar-inner{background:none;    height: 116px !important;}
.register-price .register-price-form{max-width:100%;min-height:auto;height:auto;padding:15px 15px 15px;border-radius:25px;margin:0px 15px;}
.bt-close-register-price{width:40px;height:40px;line-height:34px;font-size:26px;top:5px;right:7px;}
.bt-close-register-price i{font-family:'SFUHelveticaRegular';}
.bt-close-register-price i:before{content:'x'}
.fancybox-slide--iframe .fancybox-content{width:100% !important;height:100% !important;max-width:calc(100% - 30px) !important;max-height:calc(100% - 194px) !important;}
section h2:after, #about.detail h5:after{bottom:-8px;}
#about .ab-block h2{margin-top:31px;font-size:30px;}
#host .item .col-sm-3,#host .item .col-sm-9{width:100%;float:none}
#host .item .col-sm-9{margin-top:30px;}
#host .host-block .item img{max-width:180px;}
.value-content{padding-bottom:50px;}
.value-content .item-wrapper{padding:50px 0px 0px;}
#house .sub{margin-top:30px;}
#house .see_more_house .sub{margin-top:-30px;}
#house .sub span.fix-title{padding:5px 25px 5px 7px;background:url(../images/mb-down-active.png) no-repeat right 10px center;font-size:15px;}
.mb-detail .mb-tabs{text-align:center;}
.mb-tabs li{font-size:17px;padding:4px 24px;}
#master_plan{margin-bottom:20px;margin-top:20px;}
#longdesc.info{margin-top:20px;}
#longdesc.info table td strong{font-family:'Athiti-Medium';font-weight:normal;}
#util.detail .description #shortDesc{margin-left:0px !important;}
#util.detail .photo-items .controls .prev, .photo-item .slick-prev{bottom:auto;top:30% /*125px duy*/;width:40px;height:40px;line-height:40px;font-size:27px;left:-5px;transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);transition:transform 0.3s ease 0.1s;-webkit-transform:transform 0.3s ease 0.1s;-moz-transform:transform 0.3s ease 0.1s;-o-transform:transform 0.3s ease 0.1s;}
#util.detail .photo-items .controls .next, .photo-item .slick-next{bottom:auto;top:30% /*125px duy*/;width:40px;height:40px;line-height:40px;font-size:27px;right:0px;left:auto;transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);transition:transform 0.3s ease 0.1s;-webkit-transform:transform 0.3s ease 0.1s;-moz-transform:transform 0.3s ease 0.1s;-o-transform:transform 0.3s ease 0.1s;}
.photo-item .slick-next:hover, .photo-item .slick-prev:hover{transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);}
.photo-item .slick-next:hover, .photo-item .slick-prev:hover{transform:translateX(0%) scale(1);-webkit-transform:translateX(0%) scale(1);-moz-transform:translateX(0%) scale(1);-o-transform:translateX(0%) scale(1);}
#longDesc .a-block>div{width:100%}
.a-block span{text-align:center}
#util.detail #utilitiesslide{padding-bottom:0px;background-image:url(../images/util-bg.jpg);}
#house .tabs{margin-top:30px}
.tabs li{margin-left:14px;}
.tabs li a{font-size:17px;}
#house .tabs li.active:after, #news-blocks .tabs li.active:after, #news-blocks-detail .tabs li.active:after{height:51px;}
.timeline .tree{left:5%;}
.containertime{padding:10px 10px 10px 44px;width:100%;}
.timeleft .date{float:left;}
.timeleft .date:after{width:28px;top:28px;right:auto;left:17px;}
.timeleft .title{text-align:left;}
#timeline .photo img{width:100%}
.containertime .title{color:#4fc7f3;font-size:15px;font-family:'SFUHelveticaBold';margin:15px 0 21px;}
.timeright{left:5%;margin-top:0%;}
#timeline .photo{min-height:auto;}
.containertime.timeright{padding:10px 10px 10px 27px;width:100%;}
.timeright .date:after{width:28px;top:28px;}
#timeline .photo p{margin-bottom:30px;}
.lightbox{top:40% !important;}
.lb-caption div{font-size:16px;padding:11px 13px;top:-27px;left:15px;}
.lightbox .lb-nav a.lb-next{width:35px;height:40px;bottom:80px;}
.lightbox .lb-nav a.lb-prev{width:35px;height:35px;left:0px;right:auto;bottom:80px;}
.lightbox .lb-loader{right:0px;}
.footer-top{padding-bottom:30px;}
#reason h3 span{display:block}
.a-block span{font-size:31px;margin-top:0px}
.a-block span strong{font-size:38px;}
#contact #btnSubmit{border-radius:8px;padding:6px 10px;margin-top:3px;}
.captcha-image{display:block;margin-top:8px;}
.modal.in .modal-dialog{-webkit-transform:translate(0, 25%);-ms-transform:translate(0, 25%);-o-transform:translate(0, 25%);transform:translate(0, 25%);}
#advisoryModal.modal.in .modal-dialog{-webkit-transform: translate(0, 0%); -ms-transform: translate(0, 0%);-o-transform: translate(0, 0%);transform: translate(0, 0%);}
.contact_f{margin-top:20px}
.homepage .photo-item .item .p .bottom{padding-bottom:0px;}
#util.detail .slick-slide .p{padding-bottom:15px;}
.d_block{display:block}
.navbar .navbar-gem.active{height:100%;position:fixed;width:100%;}
#reason.detail h3,#reason h3 {
    font-size: 18px !important;
	display: inline;
    text-align: center;
    left: -10px;
}
.homepage section#reason h3 span, section#reason h3 span {
    font-size: 42px;
    line-height: 42px;
	margin-left: 25px !important;
	text-align: left;
}
#reason .photo {
    padding: 20px 0px 50px;
}
#value #valueContent .item {
    background-position: right top;
    background-size: 100%;
	padding-bottom: 0px;
}
	#value #valueContent .item .item-content{margin-top:185px;    padding: 30px 15px;}
	#value #valueContent .item .item-content .scroll-wrapper > .scroll-content {
		padding-right: 15px;
	}
	#value #valueContent .item .item-content .scrollbar-inner > .scroll-element.scroll-y {
		right: 0px;
	}
	.blacklist {
		right: 7px;
		top: 56px;
	}
.blacklist img{ max-width: 126px;}
.register {
    right: 6px;
	top: 93px;
}
.register img{ max-width: 126px;}
.homepage #about h3 {
    margin-top: 0px;
}
.mobile .sub-menu li{padding:0px}
li.home a{border:none !important}
#main-menu .navbar-nav a {
    border-bottom: 1px solid #00a0de;
	display: block;
    padding: 7px 10px;
}
.select_style{float:none}
}
@media screen and (max-width:360px){#news .fp-tableCell h3{padding:0px 15px;}
.register-price .title{font-size:27px;padding-top:35px;padding-bottom:23px;}
#reason.detail{min-height:auto;}
.mb-detail .title{font-size:18px;}
.mb-tabs li,.read-detail{font-size:16px;}
#footer h4{font-size:17px;}
#footer input{font-size:13px;margin-bottom:15px;}
.footer-bottom{min-height:100px;}
.news-block .title{font-size:14px;}
.social li a{width:35px;height:35px;line-height:35px;font-size:17px;}
.social li a i.ion-social-googleplus-outline{font-size:22px;}
.social{margin-top:20px;margin-bottom:15px;}
.block .title {font-size: 19px;}
.select_style{float:none}
}