.list-masterplan {
    margin-top: 20px;
}

.thongso-deatail .homeinfo li {
    color: white !important;
}

.thongso-deatail .homeinfo li span {
    color: white !important;
}

.gutter-10 {
    margin-left: -10px;
    margin-right: -10px
}

.gutter-10>[class*='col-'] {
    padding-right: 10px;
    padding-left: 10px
}

.gutter-5 {
    margin-left: -5px;
    margin-right: -5px
}

.gutter-5>[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px
}

.gutter-2 {
    margin-left: -2px;
    margin-right: -2px
}

.gutter-2>[class*='col-'] {
    padding-right: 2px;
    padding-left: 2px
}

.gutter-0 {
    margin-left: 0;
    margin-right: 0
}

.gutter-0>[class*='col-'] {
    padding-right: 0;
    padding-left: 0
}

.relative {
    position: relative
}

.col-fluid-15>[class *=col-] {
    padding-left: 15px;
    padding-right: 15px
}

.col-fluid-10>[class *=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.col-fluid-5>[class *=col-] {
    padding-left: 5px;
    padding-right: 5px
}

.col-fluid-0>[class *=col-] {
    padding-left: 0;
    padding-right: 0
}

.page-category {
    z-index: 1000;
    background: transparent;
    color: #1d632a;
    position: absolute;
    top: 120px;
    right: 45px;
    transition: all ease .3s
}

.page-category ul {
    list-style: none;
    padding: 0
}

.page-category ul li {
    display: inline-block
}

.page-category ul li a {
    padding: 5px 10px 5px 9px;
    position: relative;
    color: #333;
    font-weight: 700
}

.page-category ul li a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 17px;
    background: #333;
    left: 0;
    top: 6px
}

.page-category ul li:first-child a:before {
    display: none
}

.page-category ul li:hover a,
.page-category ul li.active a {
    color: #790101
}

.fullpage-nav * {
    transition: all ease .7s;
    -webkit-transition: all ease .7s
}

.fullpage-nav {
    position: fixed;
    z-index: 31;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.fullpage-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 20px
}

.fullpage-nav ul>li a {
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 50%;
    font-weight: 700
}

.fullpage-nav ul>li.active a,
.fullpage-nav ul>li a:hover {
    background: #790101!important
}

.fullpage-nav ul>li a:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%
}

#top {
    background: url(../images/go_top.html);
    border-radius: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 1px;
    cursor: pointer;
    height: 60px;
    bottom: 20px;
    position: fixed;
    right: 30px;
    width: 60px;
    display: block;
    z-index: 100
}

@-webkit-keyframes phonerotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(45deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

.home-social {
    position: absolute;
    z-index: 10;
    bottom: 45px;
    right: 15px
}

.home-social a.fa {
    position: relative;
    padding: 8px;
    font-size: 17px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0 7px;
    transition: all ease 0.4s;
    text-align: center;
    border-radius: 50%
}

.home-social a.fahome::before(2) {
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 1px solid #b88734;
    opacity: 0;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 1s
}

.home-social a.fahome:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 1px solid #b88734;
    opacity: 0;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s
}

@-webkit-keyframes pulsate {
    0% {
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        opacity: 1.0
    }
    100% {
        left: -13px;
        right: -13px;
        top: -13px;
        bottom: -13px;
        opacity: 0
    }
}

.home-social a.fa::before {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 100%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity
}

.home-social#inside-share {
    position: relative;
    bottom: 0;
    right: 0
}

.home-social#inside-share a.fa {
    padding: 8px;
    font-size: 17px;
    margin-bottom: 10px
}

.home-social#inside-share a::before {
    background: -webkit-radial-gradient(center, ellipse, rgba(200, 195, 195, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(200, 195, 195, 0.45) 0%, transparent 80%)
}

.home-social a.fa:hover {
    transform: translateY(-5px)
}

.home-social a.fa:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.home-social .fa-facebook {
    background: #3B5998;
    color: white
}

.home-social a.fa-facebook::before(2) {
    border: 1px solid #3B5998
}

.home-social a.fa-facebook:after {
    border: 1px solid #3B5998
}

#top {
    background: url(../images/go_top.html);
    border-radius: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 1px;
    cursor: pointer;
    height: 60px;
    bottom: 20px;
    position: fixed;
    right: 30px;
    width: 60px;
    display: block;
    z-index: 88;
    transition: all ease 0.3s
}

#top:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

#top:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity
}

#top:hover:before,
#top:focus:before,
#top:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.home-social .fa-youtube {
    background: #bb0000;
    color: white
}

.home-social a.fa-youtube::before(2) {
    border: 1px solid #bb0000
}

.home-social a.fa-youtube:after {
    border: 1px solid #bb0000
}

.home-social .fa-share {
    background: #d99729;
    color: white
}

.home-social a.fa-share::before(2) {
    border: 1px solid #d99729
}

.home-social a.fa-share:after {
    border: 1px solid #d99729
}

.button-menu {
    position: relative;
    z-index: 104;
    width: 23%;
    float: right
}

.button-menu .container-hamberger {
    padding: 20px 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #d2d0d0
}

#nav-icon3 {
    width: 34px;
    height: 22px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

#nav-icon3 span.hamburger-line {
    width: 100%;
    height: 3px;
    background: #666;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

#nav-icon3 span.hamburger-line:nth-child(1) {
    top: 0
}

#nav-icon3 span.hamburger-line:nth-child(2),
#nav-icon3 span.hamburger-line:nth-child(3) {
    top: 42%
}

#nav-icon3 span.hamburger-line:nth-child(4) {
    bottom: 0
}

.logo {
    display: inline-block;
    float: left
}

.logo a {
    background: url(../images/logo.png) no-repeat;
    width: 270px;
    height: 152px;
    display: block;
    background-size: contain;
    padding-top: 70px;
    z-index: 100000000;
    transition: .4s ease-in-out
}

.logo.logo2 a {
    background: url(../images/logo2.html) no-repeat;
    width: 361px;
    background-size: contain
}

.menu-footer p,
.menu-footer a {
    color: #fff;
    text-align: right
}

header>*,
header.menu-sticky>* {
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

header.menu-sticky .logo a {
    height: 15px;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

#page-home section {
    position: relative;
    background: #ccc;
    min-height: 100vh;
    overflow: hidden
}

#page-home section>* {
    position: absolute
}

#page-home section>.container {
    position: relative!important
}

.hinh {
    z-index: 2
}

.nen {
    z-index: 3
}

.hinh img,
.nen img {
    height: 100%
}

.leaf {
    z-index: 4;
    transition: all ease 2s
}

.leaf {
    z-index: 4;
    -webkit-animation: mymove 2s ease-out;
    -webkit-animation-iteration-count: infinite
}

.caption {
    position: relative;
    width: 420px;
    top: 125px;
    z-index: 10
}

.caption>h1,
.caption>h2,
.caption>h3,
.caption>span {
    margin: 5px 0
}

.caption>p {
    margin: 20px 0 30px
}

.caption h3 {
    font-size: 24px;
    color: #000;
    text-transform: uppercase
}

.caption h2 {
    font-size: 34px;
    color: #841616;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700
}

.caption h1 {
    font-size: 52.75px;
    color: #333;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 25px
}

.caption p {
    font-size: 18px;
    color: #333
}

.caption span {
    font-size: 24px;
    color: #666;
    font-family: 'Trajan Pro';
    display: block
}

.caption a {
    color: #790101;
    text-transform: uppercase
}

i.fa.fa-arrow-right {
    font-size: 11px;
    vertical-align: middle;
    display: table-cell
}

.nen.animated {
    top: -100%;
    transition: all ease 1.5s
}

.nen.animated.go {
    top: 0
}

.nen.animated {
    opacity: 0;
    transition: all ease 2.5s
}

.nen.animated.go {
    opacity: 1
}

.hinh.animated {
    opacity: 0;
    transition: all ease 5s
}

.hinh.animated.go {
    opacity: 1
}

#slider-2 .caption {
    width: 422px;
    float: right;
    left: 30px
}

#slider-2 .caption h1 {
    font-size: 37px;
    padding-left: 0
}

#slider-2 .caption p {
    text-align: justify;
    width: 95%
}

#slider-3 .caption {
    width: 422px
}

#slider-3 .caption h1 {
    font-size: 46.33px;
    padding-left: 0
}

#slider-3 .caption p {
    text-align: justify;
    width: 66%
}

.skrollr-desktop body {
    height: 100%!important
}

.parallax,
.inside-content {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.parallax {
    height: 855px;
    position: relative
}

.inside-content h3:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.box-content {
    margin-top: 30px;
    position: relative;
    z-index: 2
}

#page-about .parallax-content.content-1 {
    margin-top: 255px
}

#page-about .parallax-content.content-1 .div-text {
    padding-top: 45px;
    position: relative
}

.parallax-content ul.tong-quan {
    padding-left: 70px;
    position: relative;
    list-style-type: none
}

.parallax-content ul.tong-quan li {
    line-height: 25px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: justify
}

.parallax-content ul.tong-quan:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 10px;
    left: 0
}

.parallax-content ul.tong-quan li:before {
    position: absolute;
    content: "";
    background: url(../images/ico-tong-quan.png);
    width: 15px;
    height: 10px;
    top: 10px;
    left: 0
}

.inside-content {
    padding-top: 185px;
    transition: all ease .3s
}

.inside-content.div-why {
    padding-top: 100px
}

.box-leaf {
    position: absolute;
    top: 100px;
    background: #fffcf6;
    border-radius: 30px;
    padding: 30px 15px;
    border: 3px solid #a49365
}

.box-leaf:after {
    position: absolute;
    content: "";
    background: url(../images/box-leaf.png);
    width: 127px;
    height: 183px;
    bottom: 0;
    right: -40px
}

.parallax-content .box-leaf ul.tong-quan {
    padding-left: 40px
}

.parallax-content .box-leaf ul.tong-quan li {
    margin-bottom: 4px
}

.div-why .list-why>* {
    transition: all ease .3s
}

.div-why .list-why>.row>[class*='col-'] {
    cursor: pointer;
    transition: all ease .3s
}

.div-why .list-why>.row>[class*='col-']>.list-why-content {
    position: relative;
    min-height: 118px;
    margin-bottom: 20px
}

.div-why .list-why>.row>[class*='col-']>.list-why-content:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.div-why .list-why a img {
    margin: auto;
    padding-bottom: 30px
}

.div-why .list-why p {
    font-size: 18px;
    text-transform: uppercase
}

.div-why .list-why>.row>[class*='col-']:hover>p {
    color: #841616
}

.list-why .row {
    margin-bottom: 100px
}

.div-why .box-content {
    margin-top: 30px;
    margin-bottom: 50px
}

.fancybox-wrap .fancybox-skin {
    border-radius: 20px;
    background: transparent!important
}

.fancybox-opened .fancybox-skin {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important
}

a.fancybox-item.fancybox-close {
    background-image: url(../images/Close.png)!important;
    width: 19px!important;
    height: 23px!important;
    background-repeat: no-repeat!important;
    top: -40px!important;
    right: 0!important;
    background-size: cover!important
}

.fancybox-wrap .fancybox-next span {
    background: url(../images/icon-next.png) no-repeat center center;
    right: -45px
}

.fancybox-wrap .fancybox-prev span {
    background: url(../images/icon-prev.png) no-repeat center center;
    left: -45px
}

.fancybox-lock .fancybox-overlay {
    background: rgba(255, 255, 255, 0.7)!important
}

.parallax.page-3 .parallax-content ul.tong-quan li {
    padding-left: 0
}

.parallax.page-3 {
    height: 780px
}

.parallax-content {
    margin-top: 150px
}

.parallax-content.content-3 img.img-absolute {
    position: absolute;
    left: 0;
    top: -80px
}

.parallax-content.content-2 ul.tong-quan li:before,
.parallax-content.content-3 ul.tong-quan li:before,
.parallax-content.content-4 ul.tong-quan li:before,
.parallax-content.content-5 ul.tong-quan li:before {
    display: none
}

.parallax-content.content-5 img.img-absolute {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: 2
}

.parallax.page-6 {
    background-repeat: no-repeat;
    background-attachment: fixed!important;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 520px
}

.slick-slider {
    width: 80%
}

.slick-slide img {
    display: block;
    margin: AUTO;
    max-width: 165px
}

.slick-prev:before,
.slick-next:before {
    content: "";
    background: url(../images/icon-prev.png) no-repeat center center;
    color: transparent!important
}

.slick-next:before {
    background: url(../images/icon-next.png) no-repeat center center
}

.parallax-content.content-6 .slick-slider h4 {
    font-size: 16px;
    text-align: center;
    color: #8c8c8c;
    margin-top: 20px
}

.parallax-content.content-6 .donvi-content {
    margin-top: 35px
}

.parallax-content.content-6 .donvi-content h3 {
    font-size: 18px;
    color: #841616;
    margin-bottom: 30px;
    padding-bottom: 20px
}

.parallax-content.content-6 .donvi-content h3:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    bottom: 0;
    left: 0
}

.nutbam {
    margin-top: 16px
}

img.imgCatcha {
    margin-top: 20px
}

.parallax br {
    display: none
}

.parallax.page-7 br {
    display: none
}

.parallax.page-7 p {
    text-align: center
}

.parallax.page-7 .contact-info {
    margin: 30px 0 50px
}

.parallax.page-7 .page-content {
    padding: 100px 125px 0
}

.captcha {
    text-align: center
}

#page-nhadautu {
    height: 100%;
    min-height: 500px;
    position: relative
}

#page-nhadautu .container {
    z-index: 2
}

#page-nhadautu img {
    margin: auto
}

#page-nhadautu .text-center {
    margin: 50px 0
}

#page-nhadautu h3 {
    font-size: 24px;
    color: #841616;
    text-align: center
}

#page-nhadautu ul.list-logodoitac {
    padding: 0;
    list-style-type: none;
    text-align: center;
    padding-bottom: 22px
}

#page-nhadautu ul.list-logodoitac li {
    display: inline-block;
    margin: 15px 30px;
    text-align: center
}

#page-nhadautu:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 820px;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    background-image: url(../images/npt-la.png);
    z-index: 1
}

.page-different .parallax,
.div-chudautu {
    height: 100%
}

.page-location .parallax {
    background-position: top center
}

.page-location .page-2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 530px;
    top: -57px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    background-image: url(../images/location-la.png);
    z-index: 1
}

.page-location .page-2 h2 {
    padding-bottom: 30px
}

.page-location .page-2 h2:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    bottom: 0;
    left: 0
}

.page-location img {
    max-width: 100%!important
}

.page-location .page-2 .container.custom {
    position: relative
}

.page-location .page-2 .container.custom h2 {
    position: absolute;
    top: 60px
}

.page-location .page-2 .container.custom .box-content {
    margin-top: 0
}

.page-location .page-2 .page-content {
    padding-top: 0;
    position: relative
}

.div-chudautu {
    padding: 130px 0
}

.div-chudautu img {
    display: block;
    margin: auto;
    padding-bottom: 30px
}

.div-chudautu p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size: 18px
}

.page-location .parallax.page-inside p {
    padding-left: 90px;
    position: relative;
    text-align: justify
}

.page-location .parallax.page-inside p:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 10px;
    left: 0
}

#page-utility {
    position: relative;
    min-height: 1000px
}

#page-utility h2 {
    padding-bottom: 20px
}

#page-utility h2:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0
}

#page-utility .parallax,
#page-album .parallax,
#page-thu-vien-video .parallax {
    background-image: url(../images/bg-public.jpg);
    background-position: top
}

#page-utility.page-different {
    min-height: 1000px;
    max-height: auto
}

#page-utility img {
    max-width: 100%
}

#page-utility .imagemapster {
    margin: 50px 0 70px
}

#page-utility .list-masterplan p {
    padding-left: 90px;
    display: inline-block
}

#page-utility .list-masterplan p:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 10px;
    left: 0
}

#page-utility .map-hover .img-container .main-img {
    transition: all ease .4s;
    -webkit-transition: all ease .4s
}

#page-utility .map-hover .img-container .hover-imgs {
    top: 0;
    left: 0;
    pointer-events: none
}

#page-utility .map-hover .img-container .hover-imgs img {
    opacity: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s
}

#page-utility .map-hover .img-container .hover-imgs {
    top: 0;
    left: 0
}

#page-utility .imagemapster {
    position: relative;
    z-index: 2
}

#page-utility .map-hover .img-container .hover-imgs img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s
}

#page-utility .map-hover .img-container .hover-imgs img.active {
    opacity: 1
}

#page-utility .list-tienich {
    padding: 0;
    list-style-type: none;
    padding: 30px 0
}

#page-utility .list-tienich li {
    font-family: Arsenal-Bold;
    font-size: 16px;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-left: 5px
}

#page-utility .list-tienich li a {
    font-family: Arsenal-Bold;
    font-size: 14px;
    padding-left: 0;
    color: #333
}

span.numberv1 {
    border: 1px solid #841616;
    border-radius: 50%;
    float: left;
    margin-right: 14px;
    padding: 4px 9px;
    margin-top: -5px;
    font-size: 17px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    /* :all ease .3s; */
    -webkit-transition: all ease .3s
}

#page-utility .list-tienich li a:hover,
#page-utility .list-tienich li a:hover span {
    color: #841616
}

#page-utility .list-tienich li a:hover span {
    background: #841616;
    color: #fff
}

#page-news {
    position: relative
}

#page-news.news-home .parallax {
    height: auto;
    min-height: 824px
}

#page-news:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1080px;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    background-image: url(../images/utility-la.png);
    z-index: 1
}

#page-news img {
    max-width: 100%;
    transition: all ease .4s
}

#page-news .box-content {
    margin: 60px 0
}

#page-news .box-news {
    margin-bottom: 40px
}

#page-news h2#lblTitle {
    padding-bottom: 30px
}

#page-news h2#lblTitle:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    bottom: 0;
    left: 0
}

#page-news.news-home .box-news:hover img {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px 1px #000
}

#page-news a h4 {
    font-size: 18px;
    font-family: Arsenal-Bold;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0
}

#page-news p {
    position: relative;
    text-align: justify
}

#page-news strong {
    font-family: Arsenal-Bold
}

#page-news .news-content {
    padding-top: 0
}

.pager a {
    display: inline;
    padding: 0 4px
}

#page-news ul.pagination {
    clear: both;
    display: block;
    text-align: center
}

#page-news ul.pagination>li {
    display: inline-block
}

#page-news ul.pagination>li>a,
#page-news ul.pagination>li>span {
    padding: 8px 15px;
    margin: 0 5px;
    color: #333;
    background-color: transparent;
    border: 1px solid #9f9e9d;
    border-radius: 100px;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    font-size: 16px
}

#page-news ul.pagination>li a.current,
#page-news ul.pagination>li>a:hover,
#page-news ul.pagination>li.active>span {
    color: #fff;
    background: #790101;
    border: 1px solid #790101
}

.pFirst,
.pPrev,
.pNext,
.pLast {
    display: none!important
}

#page-news .post-big h4 {
    margin-top: 30px
}

#page-news .tin-hot {
    position: relative
}

#page-news .tin-hot:before {
    position: absolute;
    content: "";
    background: url(../images/icon-new.png);
    width: 54px;
    height: 35px;
    top: 5px;
    left: 5px;
    z-index: 6
}

#page-news.news-detail {}

#page-news.news-detail .box-content {
    margin: 30px 0;
    padding-left: 30px;
    padding-top: 30px
}

#page-news.news-detail .box-content:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 0;
    left: 0
}

#page-news.news-detail .box-content h3.title {
    font-family: Arsenal-Bold;
    font-size: 30px;
    color: #333
}

#page-news.news-detail h3.title-other {
    font-size: 22px;
    color: #841616
}

#page-news.news-detail .box-content p,
#page-news.news-detail .box-content div {
    font-size: 16px;
    margin: 15px 0;
    padding: 0
}

#page-news.news-detail .box-content p:before {
    display: none
}

#page-news.news-detail .box-content img {
    max-width: 100%;
    border-radius: 15px;
    margin: auto;
    display: block
}

#page-news.news-detail .box-content img.news-la {
    position: absolute;
    right: 0;
    top: -120px;
    width: initial
}

#page-news .box-content img.news-la {
    position: absolute;
    right: 0;
    top: -190px;
    width: initial
}

#page-news.news-detail .list-news-other {
    list-style-type: none;
    padding-left: 50px;
    position: relative;
    margin-top: 20px;
    z-index: 5
}

#page-news.news-detail .list-news-other:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 0;
    left: 0
}

#page-news.news-detail .list-news-other li {
    position: relative;
    padding-left: 20px
}

#page-news.news-detail .list-news-other li:before {
    position: absolute;
    content: "";
    background: url(../images/ico-tong-quan.png);
    width: 15px;
    height: 10px;
    top: 10px;
    left: 0
}

#page-news.news-detail .list-news-other li a {
    color: #333
}

#page-news.news-detail a.button-share {
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    background-color: red;
    border-radius: 4px;
    z-index: 9
}

#page-news.news-detail a.twitter-follow-button {
    background: #00acee
}

#page-news.news-detail a.google {
    background-color: #e72b25
}

#page-news.news-detail a.google:hover {
    background-color: #b5211c
}

.fb-like {
    z-index: 3;
    transform: translateY(6px);
    padding-left: 30px
}

.btn_like {
    z-index: 3;
    display: inline-block;
    height: 20px;
    border: 1px solid #eee;
    padding: 0 5px 0 5px;
    color: #656565;
    background: #eee
}

.btn_like span,
.btn_like .section_common .title_box_category>a,
.section_common .btn_like .title_box_category>a {
    display: inline-block;
    font: 300 11px/19px arial
}

.btn_like .ic {
    color: #9f224e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 17px
}

.numb_like {
    display: inline-block;
    height: 20px;
    font: 300 11px/20px Palatino\ Linotype;
    background: #f5f5f5;
    padding: 0 7px 0 7px;
    position: relative
}

.news-other {
    margin-bottom: 30px
}

#page-album {
    position: relative
}

#page-album .box-content {
    margin: 30px 0 60px;
    padding-top: 60px
}

#page-album .box-content:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 0;
    left: 0
}

#page-masterplans img {
    max-width: 100%
}

#page-masterplans:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1300px;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    /* background-image: url(../images/la-masterplan.png); */
    z-index: 1
}

#page-masterplans.masterplans-detail img {
    max-width: 100%
}

#page-masterplans .imagemapster {
    margin: 50px 0 70px
}

#page-masterplans .list-masterplan p {
    padding-left: 90px;
    display: inline-block
}

#page-masterplans .map-hover .img-container .main-img {
    transition: all ease .4s;
    -webkit-transition: all ease .4s
}

#page-masterplans .map-hover .img-container .hover-imgs {
    top: 0;
    left: 0;
    pointer-events: none
}

#page-masterplans .map-hover .img-container .hover-imgs img {
    opacity: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s
}

#page-masterplans .map-hover .img-container .hover-imgs {
    top: 0;
    left: 0
}

#page-masterplans .imagemapster {
    position: relative
}

#page-masterplans .map-hover .img-container .hover-imgs img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s
}

#page-masterplans .map-hover .img-container .hover-imgs img.active {
    opacity: 1
}

#page-masterplans.masterplans-foor .map-hover .img-container .hover-imgs img.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8)
}

#page-masterplans .sub {
    position: relative;
    border-radius: 20px;
    display: inline-block
}

#page-masterplans .sub span:after {
    content: '';
    width: 2px;
    height: 100px;
    background: #10aaf6;
    position: absolute;
    left: -20px;
    top: 0
}

#page-masterplans .sub span.fix-title,
#page-masterplans .sub span.rounded {
    white-space: nowrap;
    min-width: 153px;
    padding: 5px 40px 5px 15px
}

#page-masterplans .sub span.fix-title:after,
#page-masterplans .sub span.rounded:after {
    display: none
}

#page-masterplans .sub span.rounded {
    margin-left: 30px
}

#page-masterplans .sub:last-child span.rounded {
    margin-left: 0
}

#page-masterplans .thongso-deatail {
    margin: 40px 0
}

ul.list-controls {
    list-style-type: none;
    padding: 0
}

ul.list-controls li {
    display: inline-block
}

ul.list-controls li a {
    cursor: pointer;
    background: #9e9d9c;
    padding: 8px 25px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    margin: auto 5px;
    display: block;
    max-width: 155px;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

ul.list-controls li.active a,
ul.list-controls li a:hover {
    background: #d99729!important;
    color: #fff!important
}

.box-homeinfo {
    width: 100%;
    position: relative;
    background: transparent;
    width: auto;
    max-width: 290px;
    height: auto;
    min-height: 55px;
    border: 1px solid #666;
    margin-bottom: 40px
}

.box-homeinfo ul.homeinfo {
    padding: 0 10px;
    list-style-type: none
}

.box-homeinfo ul.homeinfo li,
.box-homeinfo ul.homeinfo span {
    color: #333;
    padding-bottom: 7px
}

.box-homeinfo ul.homeinfo span {
    float: right
}

.box-homeinfo p {
    padding: 10px;
    background: #9e9d9c;
    font-size: 16px;
    font-family: Arsenal-Bold;
    text-transform: uppercase
}

#page-thu-vien-video {
    position: relative
}

#page-thu-vien-video .box-content {
    margin-bottom: 50px
}

#page-thu-vien-video .box-content .bx-wrapper {
    margin-bottom: 0;
    border: none
}

#page-thu-vien-video .box-content .bx-wrapper .iframe {
    width: 100%;
    padding-top: 56%
}

#page-thu-vien-video .box-content .bx-wrapper .iframe iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#page-thu-vien-video .box-content p {
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;
    text-align: justify
}

#page-thu-vien-video .box-content p:before {
    position: absolute;
    content: "";
    background: #d99729;
    width: 25px;
    height: 4px;
    top: 10px;
    left: 0
}

#page-contact h2 {
    font-size: 30px;
    padding-bottom: 10px
}

#page-contact p,
#page-contact a {
    color: #333;
    line-height: 1.3
}

#page-contact h2:after {
    position: absolute;
    content: "";
    background: #d99729;
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

#page-contact .page-content .contact-info {
    margin: 30px 0 20px
}

#page-contact .page-content .contact-info.num2 {
    margin-bottom: 30px
}

#page-contact .contact-info>* {
    text-align: center;
    line-height: 1
}

#page-contact .contact-info .div-sangiaodich {
    text-align: left;
    padding: 15px 0
}

#page-contact .contact-info.num2>* {
    line-height: 1.5
}

#page-contact h4 {
    font-family: 16px;
    color: #841616;
    text-transform: uppercase
}

.form-contact input,
.form-contact textarea {
    font-family: Arsenal-Regular;
    width: 100%;
    margin-bottom: 5px;
    background: none;
    border: none;
    border-bottom: 1px dotted #414040;
    color: #000;
    font-size: 16px;
    padding: 10px 18px 8px 10px;
    outline: none
}

.form-contact ::-webkit-input-placeholder {
    color: #999;
    font-family: Arsenal-Regular
}

.form-contact ::-moz-placeholder {
    color: #999;
    font-family: Arsenal-Regular
}

.form-contact:-ms-input-placeholder {
    color: #999;
    font-family: Arsenal-Regular
}

.form-contact:-moz-placeholder {
    color: #999;
    font-family: Arsenal-Regular
}

#page-contact .page-content {
    padding: 420px 150px 200px
}

#page-contact .form-pagecontact {
    padding: 0 100px
}

#page-contact a.bt-submit,
.parallax.page-7 a.bt-submit {
    color: #841616;
    font-size: 18px;
    font-weight: 700;
    border: none;
    position: relative;
    padding-right: 30px;
    transition: all ease .3s
}

#page-contact a.bt-submit:after,
.parallax.page-7 a.bt-submit:after {
    transition: all ease .3s;
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    color: #841616;
    font-size: .7em;
    padding-right: .5em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

#page-contact a.bt-submit:hover,
#page-contact a.bt-submit:hover:after,
.parallax.page-7 a.bt-submit:hover,
.parallax.page-7 a.bt-submit:hover:after {
    color: #d99729
}

@media screen and (min-width:2800px) {
    .nen img,
    .hinh img {
        width: 100%!important
    }
}

@media screen and (min-width:1680px) {
    body.asbout .parallax {
        background-size: 100% 100%
    }
    body.asbout .page-7.parallax,
    body.asbout .page-4.parallax {
        background-size: cover
    }
    .page-location .col-md-4 {
        position: relative;
        min-height: 366px
    }
    .page-location .col-md-4:last-child .row {
        padding-top: 12%
    }
}

@media screen and (max-width:1750px) {
    .hinh img,
    .nen img,
    .leaf .img {
        width: 100%;
        height: 100vh
    }
}

@media screen and (min-width:1360px) and (max-width:1679px) {
    .container-fluid.custom.menu-footer {
        margin-top: -10px
    }
    #slider-1 .caption p,
    #slider-3 .caption p {
        width: 51%;
        text-align: justify
    }
    #page-thu-vien-video .page-content {
        width: 768px
    }
    .page-location .col-md-4 {
        position: relative;
        min-height: 233px
    }
    .page-location .col-md-4:last-child .row {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
}

@media screen and (min-width:1360px) and (max-width:1999px) {
    #page-masterplans.masterplans-detail img#postImage,
    .box-homeinfo {
        float: right
    }
}

@media screen and (width:1440px) and (height:900px) {}

@media screen and (max-width:1440px) {
    .page-category {
        top: 90px
    }
    #page-nhadautu:after {}
    .page-location .page-2:after {}
    #page-utility:after {}
    #page-masterplans:after {
        height: 768px
    }
    #page-album:after {}
    #page-news:after {
        height: 768px
    }
    h2 {
        font-size: 34px
    }
    .caption {
        top: 150px
    }
    #slider-3 .caption h1 {
        font-size: 34px
    }
    #slider-3 .caption h2 {
        font-size: 28px
    }
    #slider-3 .caption p {
        width: 80%;
        margin: 10px 0
    }
    #slider-2 .caption h2 {
        font-size: 28px
    }
    #slider-2 .caption h1 {
        font-size: 34px
    }
    #slider-1 .caption {
        top: 82px;
        left: 200px
    }
    .caption h3 {
        font-size: 18px
    }
    #slider-1 .caption h2 {
        font-size: 20px
    }
    #slider-1 .caption span {}
    #slider-1 .caption h1 {
        font-size: 24px
    }
    .caption p {
        font-size: 14px
    }
    #slider-1 .caption p {
        width: 70%;
        margin: 10px 0
    }
    .inside-content {
        padding-top: 110px
    }
    .parallax-content {
        margin-top: 110px
    }
    .parallax.page-1 {
        height: 740px;
        min-height: 400px
    }
    .page-location .parallax.page-1 {
        height: auto
    }
    #page-about .parallax-content.content-1 {
        margin-top: 155px
    }
    #slider-2 .inside-content {
        background-size: unset
    }
    .parallax.page-3 {
        height: auto;
        min-height: 600px
    }
    .parallax-content.content-3 {
        margin-top: 50px
    }
    .parallax-content.content-3 img.img-absolute,
    .parallax-content.content-5 img.img-absolute {
        max-width: 50%
    }
    .page-aboutus .parallax.page-3,
    .page-aboutus .parallax.page-4 {
        height: 630px
    }
    .parallax.page-4 {
        height: auto;
        min-height: 600px
    }
    .parallax.page-4 .parallax-content {
        padding-top: 50px
    }
    .parallax.page-5 {
        height: auto;
        min-height: 600px
    }
    .parallax.page-6 {
        height: auto;
        min-height: 500px
    }
    .parallax.page-7 {
        height: auto;
        min-height: 600px
    }
    .parallax.page-7 .page-content {
        padding: 100px 250px 0
    }
    .page-aboutus .parallax.page-7 p {
        text-align: center
    }
    .page-location .parallax.page-inside .lienket-circle h4 {
        margin: 16px -15px
    }
    .page-location .parallax.page-inside .lienket-circle h4:first-child {
        margin: -5px -15px 10px
    }
    .page-location .parallax.page-inside .lienket-circle.ver3 h4:first-child {
        margin: -5px -15px 17px
    }
    #page-utility .tag-gallery {
        margin-top: 20px
    }
    .page-location .parallax.page-inside.page-2 .box-content {
        margin: 30px 0 60px
    }
    #page-utility .page-content .div-text {
        width: 40%
    }
    #page-utility ul.bx-slider>li .main-img,
    #page-utility ul.bx-slider>li .main-img {
        height: 460px
    }
    #page-utility .tag-gallery ul li {
        margin-bottom: 5px
    }
    a.fancybox-item.fancybox-close {
        top: 10px!important;
        right: 10px!important
    }
    #page-contact .page-content {
        padding: 350px 200px 50px;
        background-position: center center
    }
    #page-contact .parallax.page-inside div {
        background-position: center center!important
    }
    #page-contact .contact-info .div-sangiaodich p {
        line-height: 1
    }
}

@media screen and (max-width:1380px) {
    .hinh img,
    .nen img,
    .leaf .img {
        width: 100%;
        height: 100vh
    }
}

@media screen and (min-width:1280px) {
    .parallax-content.content-6>[class*='col-']:nth-child(2)>.donvi-content h3 {
        margin-bottom: 30px
    }
}

@media screen and (max-width:1280px) {
    .page-content {
        padding-top: 150px
    }
    .fancybox-wrap .fancybox-prev span {
        left: 0
    }
    .fancybox-wrap .fancybox-next span {
        right: 0
    }
    .page-aboutus .parallax.page-7 h2 {
        font-size: 26px
    }
    .parallax.page-7 .page-content {
        padding: 100px 150px 0
    }
    .button-menu .container-hamberger {
        padding: 15px
    }
    #nav-icon3 {
        width: 25px;
        height: 20px
    }
    #slider-1 .caption {
        top: 90px;
        left: 180px
    }
    #slider-1 .caption p {
        width: 75%;
        text-align: justify;
        margin: 10px 0
    }
    #page-about .parallax-content.content-1 {
        margin-top: 180px
    }
    .parallax-content.content-3 img.img-absolute {
        top: 80px
    }
    .parallax-content ul.tong-quan {
        padding-left: 30px
    }
    .parallax-content.content-5 img.img-absolute {
        bottom: 80px
    }
    #page-utility .page-content .div-text {
        width: 45%
    }
}

@media screen and (max-width:1199px) {
    .news-content {
        padding-top: 0
    }
    .list-donvi-content img {
        margin: auto
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #footer .info {
        width: 72%;
        float: right
    }
    #slider-1 .caption {
        left: 160px
    }
    #slider-1 .caption p {
        width: 60%;
        margin: 0;
        font-size: 13px
    }
    #slider-3 .caption p {
        width: 70%;
        text-align: justify
    }
    #slider-2 .caption {
        left: 70px
    }
    #slider-2 .caption p {
        width: 75%
    }
    #slider-2 .caption h1 {
        font-size: 31px
    }
    .parallax.page-1 {
        height: auto
    }
    .parallax-content ul.tong-quan {
        padding-bottom: 30px
    }
    #slider-1 .div-images {
        top: 150px
    }
    .div-why .box-content {
        margin-top: 40px
    }
    .list-why .row:first-child {
        margin-bottom: 20px
    }
    .parallax-content.content-3 img.img-absolute {
        top: -30px
    }
    .parallax.page-3 {
        height: auto;
        min-height: 500px
    }
    .parallax.page-4 .parallax-content {
        padding-top: 0
    }
    #page-nhadautu {
        background-size: cover
    }
    #page-news.news-detail .box-content img {
        width: 75%
    }
    #page-contact .page-content {
        padding: 350px 80px 50px
    }
    #page-contact .form-pagecontact {
        padding: 0 50px
    }
    .box-leaf {
        top: 70px;
        position: relative
    }
    #page-contact .parallax.page-inside div.div-sangiaodich>[class *=col-] {
        width: 47%
    }
    #page-contact .parallax.page-inside div.div-sangiaodich>[class *=col-]:last-child {
        float: right
    }
    .captcha {
        text-align: center
    }
    body.asbout .page-1.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-1-m.jpg) left top!important;
        background-size: cover!important
    }
    body.asbout .page-4.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-4-m.jpg) center bottom!important;
        background-size: 100%!important
    }
    body.asbout .page-6.parallax {
        background: #fdf3e7!important;
        background-size: 100%!important
    }
    .parallax.page-4 {
        min-height: 1100px
    }
    .parallax-content.content-6>[class*='col-']:nth-child(2)>.donvi-content h3 {
        margin-bottom: 30px
    }
    .button-menu {
        width: 37%
    }
    .register-price .register-price-form {
        max-width: 950px
    }
    .page-location .page-1.parallax {
        background-image: url(../images/slide-cover-1.jpg)!important
    }
    .page-location .page-2:after {
        top: 24px
    }
}

@media screen and (min-width:1281px) {}

@media screen and (min-width:992px) {
    #footer .socal {
        text-align: right
    }
    #page-nhadautu ul.list-logodoitac li img {
        -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45%, transparent), to(rgba(250, 250, 250, 0.3)))
    }
}

@media screen and (max-width:991px) {
    .page-location .page-1.parallax {
        background-image: url(../images/slide-cover-1.jpg)!important
    }
    .animatedParent {
        overflow: hidden
    }
    .parallax.page-3 img {}
    #page-utility .map-hover .img-container .main-img {
        padding-bottom: 40px
    }
    #page-utility .list-tienich {
        padding: 0 0
    }
    #page-utility .col-md-3:last-child .list-tienich {
        padding-bottom: 30px
    }
    .fb-like {
        padding-left: 0
    }
}

@media screen and (max-width:768px) {
    .home-social {
        position: fixed;
        bottom: 5px
    }
    #fullpage-nav {
        display: none
    }
    .hinh,
    .nen {
        display: none
    }
    #page-home section .caption p {
        text-align: justify!important
    }
    #slider-3 .caption {
        top: 150px;
        width: 100%
    }
    #slider-1 .caption,
    #slider-2 .caption {
        top: 40px
    }
    #slider-3 .caption h2,
    #slider-2 .caption h2,
    #slider-1 .caption h2 {
        font-size: 20px
    }
    #slider-3 .caption h1,
    #slider-2 .caption h1,
    #slider-1 .caption h1 {
        font-size: 30px
    }
    #slider-3 .caption span,
    #slider-2 .caption span,
    #slider-1 .caption span {
        font-size: 16px
    }
    #slider-3 .img-mobile {
        bottom: 20px;
        z-index: 9
    }
    #slider-1 .img-mobile {
        bottom: 0;
        z-index: 9
    }
    #slider-2 .img-mobile {
        bottom: 80px;
        z-index: 9
    }
    #slider-2 .caption,
    #slider-1 .caption {
        width: 80%;
        float: left;
        left: 15px
    }
    #slider-1 .caption p {
        width: 95%
    }
    .button-menu {
        width: 35%
    }
    h2 {
        font-size: 26px
    }
    #page-about .div-images {
        width: 50%
    }
    #page-about .parallax-content.content-1 .div-text {
        width: 100%
    }
    .box-leaf {
        left: 0
    }
    #page-about .parallax-content.content-1 .div-text {
        padding-top: 0
    }
    #page-about .parallax-content ul.tong-quan {
        padding-bottom: 30px
    }
    #page-about.parallax.page-1 {
        height: auto;
        min-height: 900px
    }
    .list-why .row {
        margin-bottom: 30px
    }
    .parallax-content.content-3 img.img-absolute {
        position: relative;
        top: -40px;
        margin-bottom: 80px;
        max-width: 80%
    }
    body.asbout .page-1.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-1-m.jpg) center bottom!important;
        background-size: cover!important
    }
    .inside-content.div-why {
        padding-top: 30px
    }
    body.asbout .page-4.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-4-m.jpg) center bottom!important;
        background-size: 100%!important
    }
    .parallax.page-4 .parallax-content {
        padding: 0 30px
    }
    .parallax.page-5 .div-text {
        width: 55%
    }
    .parallax.page-5 {
        height: auto;
        min-height: 520px
    }
    .parallax-content.content-5 img.img-absolute {
        bottom: -20px
    }
    body.asbout .page-6.parallax {
        background: #fdf3e7!important;
        background-size: 100%!important
    }
    .parallax.page-6 .parallax-content {
        margin-top: 60px
    }
    .parallax.page-6 .parallax-content.content-6>[class *=col-] {
        width: 75%;
        margin: auto;
        float: initial
    }
    .parallax.page-6 .list-donvi-content img {
        margin: auto;
        display: block
    }
    .parallax-content.content-6 .donvi-content {
        margin-bottom: 50px
    }
    .parallax-content.content-6 .donvi-content h3 {
        text-align: center
    }
    .parallax-content.content-6 .donvi-content h3:after {
        left: 50%;
        transform: translateX(-50%)
    }
    .parallax-content.content-6 .donvi-content img {
        margin: auto
    }
    .slick-slider {
        margin: auto;
        width: 50%
    }
    .parallax.page-7 .page-content {
        padding: 100px 50px
    }
    .parallax.page-7 .form-submit .col-sm-6.captcha {
        width: 50%;
        display: inline-block
    }
    .parallax.page-7 .form-submit .col-sm-6 .col-xs-12 {
        width: 50%
    }
    img.imgCatcha {
        margin: auto;
        display: block;
        margin-top: 20px
    }
    .nutbam {
        margin-top: 10px
    }
    #page-nhadautu {
        background-size: cover
    }
    #page-nhadautu:after {
        display: none
    }
    #footer img {
        display: block;
        margin: auto;
        margin-bottom: 32px
    }
    .page-location .parallax.page-1 {
        height: auto
    }
    .page-location .parallax.page-inside p {
        padding-left: 50px;
        padding-right: 30px
    }
    #page-masterplans .list-masterplan p {
        padding-left: 50px;
        display: block
    }
    #page-masterplans.masterplans-foor .sub {
        display: inline-block;
        text-align: center;
        padding: 10px 0
    }
    #page-masterplans.masterplans-foor .sub ul {
        width: 90%;
        left: 50%;
        transform: translateX(-50%)
    }
    #page-masterplans.masterplans-detail #longdesc img {
        width: 65%
    }
    #page-masterplans.masterplans-detail img {
        max-width: 100%
    }
    ul.list-controls {
        padding: 0 0 40px
    }
    #page-masterplans.masterplans-detail .box-homeinfo,
    #page-masterplans.masterplans-detail img {
        display: inline-block
    }
    #page-masterplans.masterplans-detail .thongso-deatail>[class *=col-] {
        text-align: center
    }
    #page-masterplans.masterplans-detail .thongso-deatail>[class *=col-] li {
        text-align: left
    }
    #page-utility .page-content .div-text {
        width: 100%;
        padding: 30px
    }
    #page-news .post-big h4,
    #page-news a h4 {
        margin-top: 20px
    }
    #page-news.news-detail .box-content h3.title {
        font-size: 20px
    }
    #page-news .post-archive.post-big {
        margin-bottom: 30px
    }
    #page-news .box-news p,
    #page-news .news-content p,
    #page-news .box-news h4,
    #page-news .news-content h4 {
        width: 80%
    }
    #page-news.news-detail .box-content {
        padding-left: 0
    }
    #page-news.news-detail .box-content img {
        width: 70%
    }
    #page-news.news-detail .box-content div#divPostContent div {
        float: initial!important
    }
    #page-contact .page-content {
        padding: 450px 50px 50px
    }
    #page-contact .contact-info .div-sangiaodich>[class *=col-] {
        width: 50%
    }
    #page-contact .form-pagecontact {
        padding: 0
    }
    .register-price .register-price-form {
        max-width: 700px;
        padding: 0 30px 30px
    }
    .register-price .register-price-form p {
        padding: 0
    }
    #footer .info {
        text-align: center
    }
    #footer .socal {
        padding-top: 105px
    }
    .page-location .page-2 .container.custom h2 {
        position: relative;
        top: 30px;
        padding-bottom: 20px
    }
}

@media screen and (max-width:768px) and (min-width:681px) {
    #slider-3 .caption p,
    #slider-2 .caption p,
    #slider-1 .caption p {
        width: 100%;
        margin: 10px 0
    }
    #slider-2 .caption,
    #slider-1 .caption {
        width: 100%;
        left: 0
    }
    #page-home section#slider-3 {
        min-height: 1024px!important
    }
    #page-home section#slider-1 {
        height: 900px!important;
        min-height: 0!important
    }
    #page-home section#slider-2 {
        min-height: 1024px!important
    }
    .parallax.page-3 .div-text {
        margin-top: -80px;
        margin-bottom: 40px
    }
    #footer>.container-fluid.custom {
        padding: 15px
    }
    #footer>.container-fluid.custom>.row>[class *=col-] {
        width: 65%
    }
    #footer>.container-fluid.custom>.row>[class *=col-]:last-child {
        width: 35%;
        margin-top: 0;
        text-align: right
    }
    #page-nhadautu ul.list-logodoitac li {
        margin: 15px 3px
    }
    #page-masterplans .list-masterplan p:before {
        top: -15px
    }
    #page-thu-vien-video .page-content {
        padding-top: 150px;
        padding-bottom: 40px
    }
    .parallax.page-4 {
        min-height: 870px
    }
    .parallax.page-4 .parallax-content,
    .parallax.page-5 .parallax-content {
        margin-top: 30px
    }
    .parallax-content.content-5 img.img-absolute {
        bottom: 50px
    }
    .parallax.page-6 {
        background-size: 100% 100%!important
    }
    #page-about.parallax.page-1 {
        height: auto;
        min-height: 1100px
    }
    .box-leaf {
        width: 90%;
        margin: auto;
        display: block;
        left: 40px;
        top: 300px;
        padding: 30px 15px 10px 15px
    }
    #page-about .parallax-content ul.tong-quan {
        padding-bottom: 0
    }
    #page-news.news-home img.img-news {
        width: 100%
    }
    #page-utility .list-tienich {
        min-height: 360px
    }
    .page-location .page-2:after {
        top: 16px
    }
}

@media screen and (max-width:767px) {
    #page-news.news-detail .box-content img.news-la {
        display: none
    }
    #page-news .box-content img.news-la {
        display: none
    }
}

@media screen and (max-width:480px) and (orientation:portrait) {
    .home-social a.fa {
        padding: 9px;
        font-size: 17px;
        width: 34px
    }
    #page-home section .caption p {
        text-align: justify!important
    }
    #page-home section#slider-3 {
        min-height: 700px!important;
        height: auto!important
    }
    #page-home section#slider-1 {
        min-height: 650px!important;
        height: auto!important
    }
    #page-home section#slider-2 {
        min-height: 630px!important;
        height: auto!important
    }
    #slider-3 .caption {
        top: 100px
    }
    #slider-1 .caption,
    #slider-2 .caption {
        top: 40px
    }
    #slider-3 .caption h2,
    #slider-2 .caption h2,
    #slider-1 .caption h2 {
        font-size: 20px
    }
    #slider-3 .caption h1,
    #slider-2 .caption h1,
    #slider-1 .caption h1 {
        font-size: 30px
    }
    #slider-3 .caption span,
    #slider-2 .caption span,
    #slider-1 .caption span {
        font-size: 16px
    }
    #slider-3 .img-mobile {
        bottom: 20px;
        z-index: 9
    }
    #slider-1 .img-mobile {
        bottom: 0;
        z-index: 9
    }
    #slider-2 .img-mobile {
        bottom: -20px;
        z-index: 9
    }
    #slider-2 .caption,
    #slider-1 .caption {
        width: 100%;
        float: right;
        left: 15px
    }
    #slider-1 .caption p {
        width: 95%
    }
    #slider-3 .caption p {
        width: 95%
    }
    .menu .container-fluid.custom .pull-left img {
        width: 90px
    }
    .menu .container-fluid.custom .pull-right {
        width: 46%
    }
    #footer img {
        margin: 30px auto
    }
    a.btn-register img {
        width: 100px
    }
    p,
    a,
    li,
    span,
    input {
        font-size: 14px
    }
    #page-news.news-detail .box-content p,
    #page-news.news-detail .box-content div {
        font-size: 14px
    }
    .button-menu {
        width: 50%;
        top: 10px
    }
    .logo a {
        width: 140px;
        height: 140px
    }
    .page-category {
        right: 15px
    }
    .page-category ul li a {
        font-size: 12px
    }
    h2,
    #page-masterplans h2 {
        font-size: 15px
    }
    .inside-content h3,
    .parallax-content strong {
        font-size: 18px
    }
    .div-why .list-why p {
        font-size: 16px
    }
    .parallax-content ul.tong-quan:before {
        display: none
    }
    .parallax-content ul.tong-quan {
        padding-left: 0
    }
    .parallax-content ul.tong-quan li {
        margin-bottom: 5px
    }
    .parallax.page-1 {
        height: auto
    }
    #page-about .div-images,
    #page-about .parallax-content.content-1 .div-text {
        width: 100%;
        margin: 10px 0
    }
    .inside-content.div-why {
        padding-top: 30px
    }
    .parallax-content.content-3 img.img-absolute {
        margin-bottom: -20px;
        overflow: initial
    }
    .parallax-content ul.tong-quan {
        padding-bottom: 20px
    }
    body.asbout .page-1.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-1-m.jpg) center bottom!important;
        background-size: cover!important
    }
    .box-leaf {
        width: calc(100% - 20px);
        margin-left: 10px;
        position: relative;
        top: unset;
        margin-top: 100px
    }
    body.asbout .page-4.parallax {
        background: url(../../../assets/uploads/myfiles/images/about/about-page-4-m.jpg) center bottom!important;
        background-size: cover!important
    }
    body.asbout .page-6.parallax {
        background: #fdf3e7!important;
        background-size: cover!important
    }
    .parallax.page-4 {
        height: auto;
        min-height: 680px
    }
    .parallax.page-4 .parallax-content {
        margin-top: 30px
    }
    .parallax.page-5 .parallax-content {
        margin-top: 0
    }
    .parallax-content.content-5 img.img-absolute {
        max-width: 100%;
        position: relative
    }
    .parallax.page-5 .div-text {
        width: 100%;
        padding-top: 20px
    }
    .parallax-content.content-6 .donvi-content h3 {
        padding-bottom: 10px
    }
    .parallax-content.content-6 .donvi-content h3:after {
        position: absolute;
        content: "";
        background: #d99729;
        width: 45px;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }
    .parallax.page-6 .parallax-content.content-6>[class *=col-] {
        width: 100%
    }
    .parallax-content.content-6 .donvi-content p,
    .parallax.page-7 p {
        padding-left: 0;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center
    }
    .parallax-content.content-6 .donvi-content p:before {
        display: none
    }
    .parallax.page-7 .form-submit .col-sm-6.captcha {
        width: auto;
        float: right
    }
    .parallax.page-7 h2 {
        font-size: 19px
    }
    .parallax.page-7 .page-content {
        padding: 30px
    }
    img.imgCatcha {
        display: inline-block
    }
    #footer .socal {
        padding-top: 15px
    }
    #footer .info>*#footer .info a {
        font-size: 15px;
        text-align: center
    }
    #footer .socal>* {
        font-size: 13px;
        text-align: center
    }
    #footer .socal p {
        display: inline-block
    }
    #footer .socal p:first-child {
        width: 53%
    }
    #footer .socal p:last-child {
        width: 47%;
        float: right
    }
    #page-nhadautu h3 {
        font-size: 20px
    }
    #page-nhadautu img {
        margin: auto;
        width: 180px
    }
    #page-nhadautu .parallax-content {
        margin-top: 150px
    }
    .page-location .parallax.page-inside.page-2 .box-content {
        padding-left: 0
    }
    .page-location .parallax.page-inside.page-2 .box-content>.row>[class *=col-] {
        margin-bottom: 30px
    }
    #page-masterplans .sub {
        display: block;
        text-align: center;
        margin: auto
    }
    ul.list-controls li a {
        margin-bottom: 20px
    }
    #page-masterplans.masterplans-foor .sub ul {
        width: 100%
    }
    ul.list-controls {
        margin-bottom: 0;
        padding: 0 0 40px;
        padding-bottom: 0
    }
    #page-utility .parallax,
    #page-album .parallax,
    #page-thu-vien-video .parallax {
        background-image: url(../images/slide-cover-1.jpg)!important
    }
    #page-utility:after {
        display: none
    }
    #page-utility .map-hover .img-container .main-img {
        padding-bottom: 30px
    }
    #page-utility .col-sm-12.col-md-3 .list-tienich {
        padding: 0 0
    }
    span.numberv1 {
        margin-right: 10px
    }
    #page-utility .page-content {
        padding-top: 150px
    }
    .slide-tienich {
        margin-left: 0
    }
    #page-utility .bx-wrapper,
    #page-utility ul.bx-slider>li .main-img,
    #page-utility ul.bx-slider>li .main-img {
        height: 350px;
        width: 350px;
        border-radius: 5px
    }
    .fancybox-wrap .fancybox-prev span {
        left: 0
    }
    .fancybox-wrap .fancybox-next span {
        right: 0
    }
    #page-thu-vien-video:after {
        display: none
    }
    #page-news .post-big h4,
    #page-news a h4 {
        margin-top: 20px
    }
    #page-news:after {
        display: none
    }
    #page-news .box-news {
        margin-bottom: 30px
    }
    #page-news.news-home img.img-news {
        width: 100%
    }
    #page-news .box-content {
        margin: 60px 0 0 0;
        padding-left: 0
    }
    #page-news .box-content:before {
        top: -40px
    }
    #page-news .box-news p {
        width: 100%;
        padding-right: 20px
    }
    #page-news.news-detail .box-content img {
        width: 100%;
        margin-top: 10px
    }
    #page-contact p,
    #page-contact a {
        color: #333;
        font-size: 15px
    }
    #page-contact h2,
    #page-contact h4 {
        font-size: 15px
    }
    #page-contact .contact-info .div-sangiaodich>[class *=col-] {
        width: 100%;
        text-align: center
    }
    #page-contact .parallax.page-inside>div {
        background-image: none!important;
        background: #e9e3e3
    }
    #page-contact .page-content {
        padding: 150px 15px 0 15px
    }
    #page-contact .contact-info .div-sangiaodich {
        padding: 30px
    }
    .row.form-submit.gutter-0 {
        margin-bottom: 40px
    }
    .box-leaf:after {
        display: none
    }
    .register-price-form h3 {
        font-size: 15px
    }
    .register-price .register-price-form p {
        margin-bottom: 0;
        font-size: 12px
    }
    .register-price .register-price-form .textbox {
        margin-bottom: 5px
    }
    .register-price .register-price-form .textbox {
        font-size: 13px
    }
    .register-price .register-price-form {
        max-width: calc(100% - 25px);
        min-height: inherit;
        padding: 0 15px 15px;
        background: #EDEAE8;
        height: 70%;
        opacity: 1
    }
    .register-price .register-price-form .wrap-form {
        height: 100%;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding-top: 10px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    #page-about .parallax-content ul.tong-quan {
        padding-bottom: 0;
        padding-left: 0
    }
}

@media screen and (max-width:425px) {
    a.btn-register img {
        width: 100px;
        margin-top: 6px
    }
    #footer .socal p {
        display: block
    }
    #footer .socal p:last-child {
        width: 100%;
        float: right
    }
}

@media screen and (max-width:360px) {
    .page-content {
        padding-top: 120px
    }
    #slider-3 .img-mobile {
        bottom: -20px;
        z-index: 9
    }
    h2,
    #page-masterplans h2,
    .parallax.page-7 h2,
    #page-contact h2 {
        font-size: 16px
    }
    .inside-content h3,
    .parallax-content strong {
        font-size: 16px
    }
    .button-menu {
        width: 20%;
        top: 10px
    }
    #page-about .parallax-content.content-1 {
        margin-top: 150px
    }
    .parallax-content.content-3 img.img-absolute {
        max-width: 95%
    }
    .div-why .list-why p {
        font-size: 13px
    }
    .parallax.page-4 .parallax-content {
        padding: 0 15px
    }
    .parallax.page-4 {
        height: auto;
        min-height: 750px
    }
    .parallax-content ul.tong-quan li {
        padding-left: 0
    }
    .parallax.page-1 .parallax-content ul.tong-quan li {
        padding-left: 20px
    }
    .parallax.page-7 .page-content {
        padding: 30px 15px
    }
    #footer .info>h5 {
        font-size: 14px
    }
    #footer .container-fluid.custom {
        padding-left: 5px;
        padding-right: 5px
    }
    #footer .socal p {
        width: 100%!important
    }
    .page-location .parallax.page-inside p {
        padding-left: 0;
        padding-right: 0
    }
    .page-location .parallax.page-inside.page-2 .page-content {
        padding-top: 30px
    }
    .page-location .parallax.page-inside p:before,
    #page-utility .div-text p:before {
        display: none
    }
    #page-utility .page-content {
        padding-bottom: 0
    }
    #page-utility .div-text p {
        padding-left: 0
    }
    #page-utility .bx-wrapper,
    #page-utility ul.bx-slider>li .main-img {
        height: 250px;
        width: 350px;
        border-radius: 5px
    }
    #footer .info>*,
    #footer .socal>*,
    #footer .info a {
        font-size: 14px
    }
    #page-masterplans.masterplans-detail:after {
        bottom: -80px
    }
    #page-masterplans.masterplans-foor:after,
    #page-masterplans:after {
        bottom: -30px
    }
}

@media screen and (max-width:480px) and (min-width:380px) {
    a.btn-register img {
        transform: translateX(9px)
    }
    .box-leaf {
        width: calc(100% - 20px);
        margin-left: 10px
    }
    .parallax-content .box-leaf ul.tong-quan {
        padding-left: 0
    }
}

@media screen and (max-width:330px) {
    a.btn-register img {
        margin-top: 22px
    }
    .register-price {
        position: fixed;
        right: 0;
        bottom: 0
    }
    .register-price .register-price-form {
        max-width: calc(100% - 20px);
        height: calc(100% - 100px);
        top: 250px;
        min-height: inherit
    }
    .register-price .register-price-form .wrap-form {
        height: 100%;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        padding-top: 10px
    }
}