﻿@font-face {
    font-family: 'SFUHelveticaRegular';
    src: url('../fonts/SFUHelveticaRegular.eot');
    src: local('☺'), url('../fonts/SFUHelveticaRegular.woff') format('woff'), url('../fonts/SFUHelveticaRegular.ttf') format('truetype'), url('../fonts/SFUHelveticaRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUHelveticaNarrowBold';
    src: url('../fonts/SFUHelveticaNarrowBold.eot');
    src: local('☺'), url('../fonts/SFUHelveticaNarrowBold.woff') format('woff'), url('../fonts/SFUHelveticaNarrowBold.ttf') format('truetype'), url('../fonts/SFUHelveticaNarrowBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUHelveticaCondensed';
    src: url('../fonts/SFUHelveticaCondensed.eot');
    src: local('☺'), url('../fonts/SFUHelveticaCondensed.woff') format('woff'), url('../fonts/SFUHelveticaCondensed.ttf') format('truetype'), url('../fonts/SFUHelveticaCondensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUHelveticaBold';
    src: url('../fonts/SFUHelveticaBold.eot');
    src: local('☺'), url('../fonts/SFUHelveticaBold.woff') format('woff'), url('../fonts/SFUHelveticaBold.ttf') format('truetype'), url('../fonts/SFUHelveticaBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Avo';
    src: url('../fonts/UTM%20Avo.eot');
    src: local('☺'), url('../fonts/UTM%20Avo.woff') format('woff'), url('../fonts/UTM%20Avo.ttf') format('truetype'), url('../fonts/UTM%20Avo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athiti-Regular';
    src: url('../fonts/Athiti-Regular.eot');
    src: local('☺'), url('../fonts/Athiti-Regular.woff') format('woff'), url('../fonts/Athiti-Regular.ttf') format('truetype'), url('../fonts/Athiti-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athiti-Medium';
    src: url('../fonts/Athiti-Medium.eot');
    src: local('☺'), url('../fonts/Athiti-Medium.woff') format('woff'), url('../fonts/Athiti-Medium.ttf') format('truetype'), url('../fonts/Athiti-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athiti-Bold';
    src: url('../fonts/Athiti-Bold.eot');
    src: local('☺'), url('../fonts/Athiti-Bold.woff') format('woff'), url('../fonts/Athiti-Bold.ttf') format('truetype'), url('../fonts/Athiti-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTAphroditeSlimPro';
    src: url('../fonts/HLTAphroditeSlimPro.eot');
    src: local('☺'), url('../fonts/HLTAphroditeSlimPro.woff') format('woff'), url('../fonts/HLTAphroditeSlimPro.ttf') format('truetype'), url('../fonts/HLTAphroditeSlimPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LinotypeZapfino-One';
    src: url('fonts/LinotypeZapfino-One.html');
    src: local('☺'), url('fonts/LinotypeZapfino-One-2.html') format('woff'), url('fonts/LinotypeZapfino-One-3.html') format('truetype'), url('fonts/LinotypeZapfino-One-4.html') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vni12LinotypeZapfino';
    src: url('../fonts/Vni12LinotypeZapfino.eot');
    src: url('../fonts/Vni12LinotypeZapfinod41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Vni12LinotypeZapfino.woff2') format('woff2'), url('../fonts/Vni12LinotypeZapfino.woff') format('woff'), url('../fonts/Vni12LinotypeZapfino.ttf') format('truetype'), url('../fonts/Vni12LinotypeZapfino.svg#Vni12LinotypeZapfino') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix {
    clear: both
}

.gutter-45 {
    margin-left: -45px;
    margin-right: -45px;
}

.gutter-45>[class*='col-'] {
    padding-right: 45px;
    padding-left: 45px;
}

.gutter-25 {
    margin-left: -25px;
    margin-right: -25px;
}

.gutter-25>[class*='col-'] {
    padding-right: 25px;
    padding-left: 25px;
}

.gutter-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.gutter-10>[class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}

.gutter-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.gutter-5>[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.gutter-2 {
    margin-left: -2px;
    margin-right: -2px;
}

.gutter-2>[class*='col-'] {
    padding-right: 2px;
    padding-left: 2px;
}

.gutter-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.gutter-0>[class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
}

.d-inline-block {
    display: inline-block;
}

.vertical-space8 {
    margin-bottom: 50px;
}

.vertical-space7 {
    margin-bottom: 50px;
}

.vertical-space6 {
    margin-bottom: 50px;
}

.vertical-space5 {
    margin-bottom: 50px;
    max-width: 350px;
}

.vertical-space4 {
    margin-bottom: 40px;
}

.vertical-space3 {
    margin-bottom: 30px;
}

.vertical-space2 {
    margin-bottom: 50px;
}

#news-blocks .vertical-space2 {
    margin-top: 50px;
}

.vertical-space1 {
    margin-bottom: 10px;
}

.row-eq-height {
    visibility: hidden;
}

.row-eq-height.show {
    visibility: visible;
}

.fa {
    line-height: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    outline: 0;
    border: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Athiti-Regular';
    font-size: 14px;
    color: #fff;
}

.bootbox {
    color: #000;
}

.datepicker-days {
    color: #2e2e2e;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td {
    padding: 3px 0;
}

img {
    border: 0;
    padding: 0px;
}

ol,
ul {
    list-style: none;
    padding: 0px;
}

a {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

a:before,
a:after,
a span.icon,
.hover-transition {
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:focus {
    text-decoration: none;
}

.middle {
    vertical-align: middle;
}

.button-submit {
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    margin: 0px;
    background: #faa21b;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0px;
    min-width: 100px;
    border: 0px;
}

.button-submit:hover {
    background: #10958e;
}

.btn-default {
    color: #10958e;
    border-color: #10958e;
    padding: 12px 30px;
    height: 45px;
}

.btn-default:hover {
    color: #fff;
    background: #10958e;
}

.btn-transparent {
    font-size: 14px;
    text-transform: uppercase;
    border: solid 1px #fff;
    padding: 10px 30px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
}

.btn-transparent:hover {
    background: #10958e;
    color: #fff;
    border-color: #10958e;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.relative {
    position: relative;
}

.editor-content img {
    max-width: 100%;
    height: auto !important;
}

.modal {
    z-index: 10500;
}

a:active {
    color: #fff;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    height: 50px;
    top: 0;
}

#main-menu {
    height: 50px;
    /*background:url('../images/nav-bg.png') repeat*/
    background: rgba(6, 4, 73, .7);
    font-size: 16px;
    text-transform: uppercase;
}

#main-menu a {
    color: #fff;
    background: none;
    font-family: 'Athiti-Regular';
}

#main-menu .navbar-nav a {
    padding: 15px 15px;
}

#main-menu a:hover,
#main-menu li.active>a {
    color: #10aaf6
}

#hotline i {
    animation: Ringing-call 2s infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes Ringing-call {
    0% {}
    10% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    20% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    30% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    40% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    60% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    70% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
    90% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
}

.navbar-header {
    float: none;
    height: 50px;
}

.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-gem {
    text-align: center;
    background: none;
    opacity: 1;
    position: relative;
}

.navbar-nav img {
    margin-top: -10px;
}

.navbar-nav>li>a:hover {
    background: none
}

#slider {
    position: relative;
    background-color: #0b4d94;
}

.slider-item {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fullpage .vegas-animation-kenburns {
    animation: kenburns_custom ease-out;
}

@keyframes kenburns_custom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.slider-item {
    position: relative;
}

.slider-item .title {
    position: absolute;
    top: 97px;
    left: 301px;
}

.slider-item .description {
    position: absolute;
    top: 125px;
    left: 236px;
    font-family: 'HLTAphroditeSlimPro', arial;
    font-size: 28px;
}


/*Duy*/

.box {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

.box li {
    display: inline-block;
    width: 67px;
    height: 60px;
    float: left;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.box li.note {
    background: #0b4d94 url('../images/edit-icon.png') no-repeat center center;
}

.box li.play {
    background: #0082c7 url('../images/play-icon.png') no-repeat center center;
}

.box li a {
    display: block;
    text-indent: -99999px;
    width: 100%;
    height: 100%;
}

.hoverScale {
    transform: scale(1)
}

.hoverScale:hover {
    transform: scale(1.1)!important;
    -webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
    -o-transform: scale(1.1)!important;
}

.scroll-down {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    transition: line-height 0.2s ease 0.1s;
    -webkit-transition: line-height 0.2s ease 0.1s;
    -webkit-transition: line-height 0.2s ease 0.1s;
    -o-transition: line-height 0.2s ease 0.1s;
}

.scroll-down:hover {
    line-height: 70px;
}

.scroll-down:hover,
.scroll-down {
    text-decoration: none;
    color: #fff;
}

#about {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-image: url('../images/about-bg.jpg');
}

#about:before {
    content: '';
    background: url('../images/about-bg-l.png') left center no-repeat;
    position: absolute;
    left: -50px;
    background-size: 100%;
    width: 162px;
    height: 100%;
    background-position: 0px 122px;
}

.cover-bg {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about h5 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-top: 20px;
    position: relative;
    font-family: 'Athiti-Regular';
}

.homepage #about .ab-block .photo img {
    margin-top: 20px
}

#about .ab-block h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

#about h5:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: #00abe4;
    top: -20px;
    left: 0;
}

#about h5.heading-active:before {
    width: 113px;
}

#about h2 {
    font-family: SFUHelveticaCondensed, sans-serif;
    color: #0073bd;
    font-size: 60px;
    text-transform: uppercase;
}

#about h2 span {
    font-size: 70px;
    margin-top: 5px;
    display: block;
}

#about .description {
    margin-bottom: 25px;
    font-family: 'Athiti-Regular';
}

#about .readmore {
    display: inline-block;
    color: #00a7ff;
    text-decoration: none;
    border: 1px solid #00a7ff;
    text-transform: uppercase;
    padding: 8px 20px;
    margin-left: 45px;
    font-family: 'Athiti-Regular';
}

#about .readmore:hover {
    color: #0082c7;
    border: 1px solid #0082c7;
}

.homepage .photo img {
    margin: auto;
    max-height: 586px;
}

.homepage #news .photo img {
    height: calc(100vh - 286px);
}

#news-blocks .read-more:hover,
#news .read-more:hover {
    color: #4fc7f3;
    border: 1px solid #4fc7f3;
}

.homepage #position .position-photo img {
    height: calc(100vh - 150px);
    margin: 20px auto;
}

#position .position-photo img {
    height: calc(100vh - 50px);
    margin: 0px auto;
}

#position.detail .position-photo {
    margin-bottom: 50px;
}

.total-1 {
    background: #133f7c
}

.total-2 {
    background: #0056a5
}

.total-3 {
    background: #0073bd
}

.total-4 {
    background: #0091d3
}

.total-5 {
    background: #00abe4
}

.total-6 {
    background: #4fc7f3
}

.total-item .top {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    line-height: 30px;
}

.total-item {
    padding: 10px 0px
}

.total-item .bottom {
    text-align: center;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#position-introdution {
    font-family: 'Athiti-Regular';
}

.nav .home a {
    display: block;
    width: 20px;
    height: 18px;
    background: url('../images/home-active.png') no-repeat center center!important;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto
}

.nav .home:hover a,
.nav .home.active a {
    background: url('../images/home.png') no-repeat center center!important;
}

section h2,
#about.detail h5,
.page-title {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin: 0px;
    font-family: 'Athiti-Regular';
}

.view {
    margin-top: 40px;
}

#slider {
    overflow: hidden;
}

section h2:after,
#about.detail h5:after,
h1.page-title:after {
    content: '';
    width: 0;
    height: 2px;
    background: #00abe4;
    bottom: -15px;
    left: 0;
    position: absolute;
    transition: width 2s ease 0.1s;
    -webkit-transition: width 2s ease 0.1s;
    -moz-transition: width 2s ease 0.1s;
    -o-transition: width 2s ease 0.1s;
}

section h2.active:after,
#about.detail h5.active:after,
h1.page-title.active:after {
    width: 112px;
}

#position-introdution .description {
    margin-top: 55px;
}

#position-introdution .description p {
    margin-bottom: 15px;
    text-align: justify;
}

#position-introdution .photo {
    margin-top: 10px;
}

#position-introdution .photo img {
    width: auto;
    margin: auto;
}

.bread-crumb a {
    text-decoration: none;
    color: #ccc;
    font-family: 'Athiti-Regular';
}

.bread-crumb .home {
    color: #10a6e0
}

.page-about #total.detail {}

#position {
    background-image: url('../images/position-out-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#furniture {
    background-image: url('../images/fur-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#news {
    background-image: url('../images/news-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#reason {
    background-image: url('../images/reason-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-info {
    width: 100%;
    overflow: hidden;
}

.bread-crumb {
    margin-top: 105px;
    margin-bottom: 20px;
}

#util .bread-crumb {
    margin-top: 105px;
    margin-bottom: 30px;
}

#util .advange-block {
    display: none
}

.page-about #reason {
    min-height: 689px;
}

.page-about #reason .photo img {
    right: 0px;
    max-width: 960px;
    padding-bottom: 30px;
}

#position-introdution,
#news-blocks {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

footer {
    background: url('../images/news-f-bg.jpg') no-repeat;
    background-size: cover;
}

section h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    position: relative;
    left: 50%;
    font-family: 'Athiti-Regular';
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

section h3:after {
    content: '';
    width: 112px;
    height: 1px;
    background: #00abe4;
    bottom: -10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.homepage section#reason h3,
section#reason h3 {
    left: 30px;
    display: inline;
    top: 99px;
}

ul.share {
    display: none
}

.homepage section#reason h3 span,
section#reason h3 span {
    display: block;
    margin-left: -174px;
    font-family: 'Athiti-Bold';
    font-size: 52px;
    line-height: 52px;
}

section#reason h3:after {
    display: none
}

#reason .photo img {
    /* margin-top: -20px !Important; */
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
}

#position h3 {
    margin-top: 68px;
}

#about h3 {
    margin-top: -52px;
}

.homepage #about h3 {
    margin-top: -32px;
}

#position .position-photo {
    margin-top: 50px;
}

.photo-item .item {
    width: 762px;
    position: relative;
}

#utilitiesslide .item .bottom {
    display: none
}

.homepage .photo-item .item .p {
    position: relative;
    z-index: 99999999999999;
    margin-top: -30px;
    background: url('../images/bg-slick-list-ulti.jpg') center bottom no-repeat;
}

.photo-item:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 86%;
    top: 0;
    background: #fff
}

#util.detail .photo-item:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 87%;
    top: 0;
    background: #fff
}

.slick-slide {}

.photo-item {
    display: inline-block;
    position: relative;
}

.news-block {
    position: relative;
    font-family: SFUHelveticaRegular, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.1s;
    -webkit-transition: opacity 0.5s ease-in-out 0.1s;
    -moz-transition: opacity 0.5s ease-in-out 0.1s;
    -o-transition: opacity 0.5s ease-in-out 0.1s;
    padding-left: 25px;
    margin-top: 50px;
    padding-right: 25px;
}

#news-blocks h3 {
    margin-top: 75px;
}

.news-block.active {
    opacity: 1;
}

.news-block .photo a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #4fc7f3;
    opacity: 0;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transition: all 0.3s ease-in-out 0.1s;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
}

.news-block:hover {
    cursor: pointer;
}

.news-block:hover a {
    opacity: 0.4;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
}

#news-blocks.detail .news-block,
#news-blocks-detail.detail .news-block {
    opacity: 1!important;
}

.news-block .photo {
    position: relative;
}

.news-block .title a {
    font-family: SFUHelveticaBold, sans-serif;
    text-transform: uppercase;
    color: #4fc7f3;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 17px;
    display: block;
}

.news-block .description a {
    color: #fff;
}

.news-block .date {
    display: inline-block;
    padding: 5px 10px;
    background: #0073bd;
    position: absolute;
    left: -20px;
    bottom: 15px;
}

#news-blocks .read-more {
    color: #00a0de;
    text-transform: uppercase;
    border: 1px solid #00a0de;
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    min-width: 94px;
}

#about.detail {
    overflow: hidden;
    position: relative;
    min-height: 664px;
}

#about.detail:before {
    position: absolute;
    background-size: 100% !important;
    content: '';
    left: -73px;
    width: 208px;
    height: 100%;
    background: url('../images/about-bg-l.png') left center no-repeat;
}

#about.detail .pc-photo {
    margin-bottom: 70px;
}

#introdution {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#introdution h2 {
    margin-top: 90px;
}

#introdution p {
    margin: 0;
}

#introdution .description {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500
}

#introdution .list {
    list-style-image: url('../images/check.png');
    margin-top: 157px;
}

#introdution .list li {
    margin-bottom: 15px;
}

#reason .photo {
    text-align: center;
}

#news p {
    text-align: center;
}

#news .read-more {
    display: inline-block;
    color: #00a7ff;
    border: 1px solid #00a7ff;
    text-transform: uppercase;
    padding: 5px 15px;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#news .photo {
    margin-top: 35px;
}

.new-b {
    margin-top: 30px;
}

#furniture {
    position: relative;
    overflow: hidden;
}

.photo-item .photo-item-right .p,
.photo-item .photo-item-left .p {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo-item .top {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 0px 0px;
    text-align: left
}

.homepage .photo-item .bottom {
    display: none
}

.photo-items {
    position: relative;
}

.photo-items .controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.photo-items .title {
    position: absolute;
    top: 69px;
    left: 50%;
    width: 255px;
    height: 63px;
    background: #10346c;
    z-index: 10;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.photo-items .title h3 {
    margin-top: 15px;
    font-size: 20px;
}

.photo-items .controls .next,
.photo-item .slick-next {
    width: 65px;
    height: 65px;
    background: #0091d3;
    text-align: center;
    line-height: 65px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 95px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transition: transform 0.3s ease 0.1s;
    -webkit-transform: transform 0.3s ease 0.1s;
    -moz-transform: transform 0.3s ease 0.1s;
    -o-transform: transform 0.3s ease 0.1s;
}

.slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
}

.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
}

.photo-items .controls .prev,
.photo-item .slick-prev {
    width: 65px;
    height: 65px;
    background: #0073bd;
    text-align: center;
    line-height: 65px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transition: transform 0.3s ease 0.1s;
    -webkit-transform: transform 0.3s ease 0.1s;
    -moz-transform: transform 0.3s ease 0.1s;
    -o-transform: transform 0.3s ease 0.1s;
}

.photo-item .slick-next:hover,
.photo-item .slick-prev:hover {
    transform: translateX(-50%) scale(1.1);
    -webkit-transform: translateX(-50%) scale(1.1);
    -moz-transform: translateX(-50%) scale(1.1);
    -o-transform: translateX(-50%) scale(1.1);
}

.photo-item .slick-arrow {
    position: absolute;
    z-index: 20
}

.photo-item p {
    padding: 0;
    margin: 0;
}

#furniture .block .scroll-wrapper.content .scroll-content {
    padding: 0px 25px 15px 15px !important;
    background-image: none;
}

.block .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    background: #0073bd;
    display: inline-block;
}

.block .content {
    background: url('../images/f-bg.png') repeat;
    color: #000;
    padding: 30px;
}

.block .content p {
    padding: 0;
    margin-bottom: 15px;
    font-family: 'SFUHelveticaRegular';
}

.block .read-more {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0082c7;
    border: 1px solid #0082c7;
    padding: 5px 15px;
    font-family: 'SFUHelveticaRegular';
}

.block .read-more:hover {
    color: #0091d3;
    border: 1px solid #0091d3;
}

#hotline:hover {
    color: #fff!important
}

.block {
    display: inline-block;
    width: 638px;
    height: 217px;
    position: absolute;
}

.homepage .block {
    width: 638px;
    height: 292px;
    bottom: 50px;
}

.homepage .scrollbar-inner {
    height: 162px;
    padding-top: 15px !important;
}

#util.detail {}

#util.detail {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 5;
}

#util.detail #longDesc {
    background-image: url('../images/util-detail-bg-2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#util.detail #utilitiesslide {
    background-image: url('../images/bg-slick-list-ulti.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#util {
    background-image: url('../images/util-bg.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#util.detail .description {
    margin: 55px 0;
    display: inline-block;
}

#util.detail .description #shortDesc {
    margin-left: 60px;
}

.homepage #util.detail .photo-items .controls .next,
.homepage .photo-item .slick-next {
    bottom: 103px;
}

.homepage #util.detail .photo-items .controls .prev,
.homepage .photo-item .slick-prev {
    bottom: 48px;
}

#util.detail .photo-items .controls .next,
.photo-item .slick-next {
    bottom: 117px;
}

#util.detail .photo-items .controls .prev,
.photo-item .slick-prev {
    bottom: 52px;
}

.a-block {
    margin-top: 50px;
}

.a-block span {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    display: block;
}

.a-block span strong {
    font-size: 48px;
    font-weight: 700;
}

.a-block li {
    margin-bottom: 10px;
    line-height: 22px;
}

.a-block2 {
    margin-top: 60px;
    font-family: UTM Avo, sans-serif;
    text-transform: uppercase;
}

#host .item {
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    border-bottom: 1px solid #09497b
}

#host .item.last {
    border: none
}

#host h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px
}

#host .host-block {
    margin-bottom: 100px;
    display: inline-block;
}

#host .host-block .item img {
    margin-top: 30px;
}

#host .host-block .item li {
    margin-bottom: 5px
}

#host .host-block .item li span {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

#host .host-block .item li span:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}

#host .host-block:last-child .item:last-child {
    border: 0px;
}

#footer {
    font-family: SFUHelveticaRegular, sans-serif;
}

#footer h4 {
    font-size: 22px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 30px;
}

#footer input,
#footer textarea {
    width: 100%;
    background: none;
    color: #fff;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #0091d3;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'SFUHelveticaRegular';
    padding: 0px 5px
}

input[type=text] {
    color: #c1c1c1;
}

::-webkit-input-placeholder {
    color: #c1c1c1;
}

::-moz-placeholder {
    color: #c1c1c1;
}

:-ms-input-placeholder {
    color: #c1c1c1;
}

:-moz-placeholder {
    color: #c1c1c1;
}

#footer button {
    border: 1px solid #058dda;
    color: #058dda;
    text-transform: uppercase;
    background: none;
    float: right;
    padding: 5px 10px;
}

#footer button:hover {
    color: #fff;
    background-color: #058dda;
}

#footer .description {
    color: #ababab
}

.social {
    width: 167px;
    margin: 0 auto 15px;
}

.social li {
    display: inline-block;
}

.social li a:hover {
    background: #3ea2ef;
    color: #fff
}

.social li a {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fff;
    color: #666666;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    margin: 0 5px;
}

.social li a i {
    line-height: inherit;
}

.social li a i.ion-social-googleplus-outline {
    font-size: 23px;
    vertical-align: text-bottom;
    line-height: 19px;
}

.social li a i.ion-social-googleplus-outline:before {
    margin-top: 10px
}

.footer-bottom {
    border-top: 1px solid #003c73;
    margin-top: 15px;
}

.footer-bottom p {
    text-align: center;
    color: #ccc;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    border-bottom: 0
}

#footer .icon {
    margin-bottom: 27px;
}

.navigation {
    position: fixed;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 30
}

#fp-nav li {
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    text-indent: -9999px;
    position: relative;
}

#fp-nav li a {
    border: 1px solid #fff;
    border-radius: 50%;
}

#fp-nav li a.active {
    border: 1px solid #3ea2ef !important;
    border-radius: 50%;
}

#fp-nav li.active {
    border: 1px solid #3ea2ef;
}

.navigation.nav a {
    padding: 0
}

.navigation.nav a:hover {
    background: none
}

.navigation.nav a:visited,
.navigation.nav a:focus {
    background: none
}

#fp-nav li.active span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #3ea2ef;
    position: absolute;
    left: 2px;
    top: 2px;
}

#fp-nav ul li a span {
    background: none!important;
}

#fp-nav ul li a.active span {
    background: #3ea2ef!important;
    width: 8px!important;
    height: 8px!important;
    margin: -4px 0 0 -4px!important;
}

.navigation li a {
    display: block;
    width: 100%;
    height: 100%
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: none;
    color: #fff
}

.paging {
    position: relative;
    display: inline-block;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.tin-tuc-nav {}

.paging {
    margin: 0 auto 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.paging a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 38px;
    height: 38px;
    border: solid 1px #fff;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
    margin: 0 5px;
    display: block;
    float: left;
}

.paging a.pPrev,
.paging a.pNext {
    text-indent: 9999999px;
    overflow: hidden;
    position: relative;
}

.paging a.pNext {
    text-indent: 9999999px;
    overflow: hidden;
}

.paging a.pNext:after,
.paging a.pPrev:after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 0px;
    top: 0px;
    text-indent: 0;
}

.paging a.pPrev:after {
    content: "\f104";
}

.paging a:hover,
.paging a.current {
    color: #058dda;
    border-color: #058dda;
}

.paging a.pPrev,
.paging a.pNext {
    display: none;
}

.paging a.Haslink {
    display: block;
}

.paging a.pFirst,
.paging a.pLast {
    display: none !important;
    text-indent: 999999px;
}

.paging .gotopage {
    width: 30px;
    padding: 3px 0;
    border-radius: 2px 0 0 2px;
    border: 1px solid #ccc;
    height: 14px;
    float: left;
    display: none;
}

.tabs li {
    display: inline-block;
    margin-left: 50px;
}

.tabs li a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #fff
}

.tabs li.active a,
.tabs li:hover a {
    color: #10aaf6
}

#host {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#news-blocks.detail {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#news-blocks-detail.detail {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#news-blocks-detail.detail .post-content,
#news-blocks-detail.detail .post-content div,
#news-blocks-detail.detail .post-content p {
    font-family: 'Athiti-Medium';
    font-size: 15px;
}

#news-blocks-detail.detail .post-content {
    margin-top: 15px;
}

#news-blocks-detail.detail .post-content strong,
#news-blocks-detail.detail .post-content b,
#news-blocks-detail.detail .post-content h2,
#news-blocks-detail.detail .post-content h3,
#news-blocks-detail.detail .post-content h4,
#news-blocks-detail.detail .post-content h5,
#news-blocks-detail.detail .post-content h6 {
    font-family: 'Athiti-Medium';
    font-size: 18px;
    font-weight: normal
}

#news-blocks.detail .block-content {
    font-weight: 500
}

.block-other {
    margin-top: 50px;
}

ul.share img {
    max-width: 24px;
}

feature p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-style: italic;
}

#news-blocks-detail h1 {
    font-size: 30px;
    color: #0fb9ed;
    margin-top: 50px;
}

#news-blocks-detail .top-date {
    color: #c4c3c3;
    font-style: italic;
}

#news-blocks-detail .block-content .description {
    font-size: 18px;
}

.share li {
    display: inline-block;
    margin-left: 10px;
}

.photo-gallery {
    margin-top: 55px;
}

#library {
    background-image: url('../images/lib-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 70px;
    position: relative;
    z-index: 5;
}

#library .photo-gallery {
    overflow: hidden;
    position: relative;
}

#library .slick-slide {
    margin: 0 15px;
}

#library .slick-list {
    margin: 0 -30px;
}

#library .photo-gallery-items {
    position: relative;
    overflow: hidden;
}

#library .photo-gallery-items img {
    width: 100%;
    height: auto;
}

#library .slick-current .mask {
    display: none!important;
}

#library .photo-gallery-items .mask {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/gallery.png') repeat;
}

#library .slick-slide .title {
    display: block;
    font-size: 17px;
    padding: 7px 35px;
    text-transform: uppercase;
    background: url('../images/gallery.png') repeat;
    position: absolute;
    left: 0;
    top: 20px;
    overflow: hidden;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 0.8s ease 0.1s;
    -webkit-transition: transform 0.8s ease 0.1s;
    -moz-transition: transform 0.8s ease 0.1s;
    -o-transition: transform 0.8s ease 0.1s;
}

#library .slick-slide .title:before {
    content: '';
    width: 1px;
    height: 35px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform 0.5s ease 0.6s;
    -webkit-transition: transform 0.5s ease 0.6s;
    -moz-transition: transform 0.5s ease 0.6s;
    -o-transition: transform 0.5s ease 0.6s;
}

#library .slick-slide .title.active {
    transform: translateX(0);
    color: #fff
}

#library .slick-slide .title.active:before {
    transform: translateY(0);
}

#library .photo-gallery button {
    width: 43px;
    height: 50px;
    border: none;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#library .photo-gallery .slick-next {
    right: 328px;
    background: #0064b1 url('../images/prev.png') no-repeat center center;
}

#library .photo-gallery .slick-prev {
    left: 328px;
    background: #0064b1 url('../images/next.png') no-repeat center center;
}

.value-top-content {
    position: relative;
}

.value-box {
    position: absolute;
    max-width: 500px;
    width: 100%;
    top: 30px;
}

.value-box-l {
    right: 30px;
}

.value-box-r {
    left: 30px;
    padding-left: 30px;
}

.scrollbar-inner {
    height: 350px;
}

#value #valueContent .scrollbar-inner {
    height: 180px;
}

.value-box-l .scroll-wrapper>.scroll-content {
    padding-right: 30px;
}

.value-box-r .scroll-wrapper>.scroll-content {
    padding-right: 30px;
}

#furniture-detail {
    background: url('../images/util-detail-bg.jpg') repeat-y;
}

#furniture-detail {}

#furniture-detail .grid-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#furniture-detail .grid-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0 8px 56px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 18px;
    background: url('../images/gallery.png') repeat;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.6s ease-in-out 0.1s;
    -webkit-transition: all 0.6s ease-in-out 0.1s;
    -moz-transition: all 0.6s ease-in-out 0.1s;
    -o-transition: all 0.6s ease-in-out 0.1s;
}

#furniture-detail .grid-item .title:before {
    content: ' ';
    position: absolute;
    background: #fff;
    width: 1px;
    height: 35px;
    top: 0;
    left: 40px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform 0.6s ease 0.8s;
    -webkit-transition: transform 0.6s ease 0.8s;
    -moz-transition: transform 0.6s ease 0.8s;
    -o-transition: transform 0.6s ease 0.8s;
}

#furniture-detail .grid-item .title.active {
    transform: translateX(0);
    opacity: 1;
}

#furniture-detail .grid-item .title.active:before {
    transform: translateY(0);
}

#furniture-detail .grid-item .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0073bd;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.6s ease-in-out 0.1s;
    -webkit-transition: all 0.6s ease-in-out 0.1s;
    -moz-transition: all 0.6s ease-in-out 0.1s;
    -o-transition: all 0.6s ease-in-out 0.1s;
}

#furniture-detail .grid-item:hover .caption {
    opacity: 0.8;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
}

#furniture-detail .grid-item .caption-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#furniture-detail .grid-item .caption-content .t {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px
}

#furniture-detail .grid-item .caption-content .c {
    font-size: 16px;
    margin-bottom: 20px;
}

#furniture-detail .grid-item .caption-content a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 5px 25px;
}

#furniture-detail .grid {
    margin-top: 40px;
}

.google-maps {
    position: relative;
    height: 478px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 70px
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#contact {
    background-image: url('../images/util-detail-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 30px;
}

#contact img,
#contact button {
    margin-bottom: 20px;
}

#contact .contact-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #0fb9ed;
    font-family: 'Athiti-Bold';
    position: relative;
}

#contact .contact-title:before {
    content: '';
    width: 45px;
    height: 2px;
    background: #959595;
    position: absolute;
    bottom: -5px;
}

#contact .contact-content {
    margin-top: 40px;
}

#contact .contact-content p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#contact .contact-content .t {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}

#contact .contact-content i {
    color: #0fb9ed;
    padding-right: 10px;
}

#contact #btnSubmit {
    background: #0fb9ed;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    border-radius: 17px;
    max-width: 90px;
    font-family: 'Athiti-Bold';
}

#contact .captcha-image img {
    margin-top: 8px;
}

#contact input,
#contact textarea {
    color: #fff;
    border: 1px solid #0fb9ed;
    width: 100%;
    background: none;
    padding: 8px 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

#contact textarea {
    min-height: 105px;
}

#contact button {
    text-transform: uppercase;
    font-weight: 700;
    background: #0fb9ed;
    padding: 8px 25px;
    border-radius: 30px;
    border: none
}

#contact .contact-content li {
    margin-bottom: 3px;
    color: #0fb9ed;
}

#contact .contact-content li.address:before {
    content: "\f041";
    font-family: FontAwesome;
    font-size: 17px;
    padding-right: 7px;
}

#contact .contact-content li.phone:before {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 17px;
    padding-right: 7px;
}

#contact .contact-content li.fax:before {
    content: "\f02f";
    font-family: FontAwesome;
    font-size: 17px;
    padding-right: 7px;
}

#contact .contact-content li.email:before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-size: 16px;
    padding-right: 7px;
}

#contact .contact-content li.website:before {
    content: "\f0ac";
    font-family: FontAwesome;
    font-size: 18px;
    padding-right: 7px;
}

#contact .tuvan {
    margin-top: 30px
}

#contact .tuvan a {
    background: #219bd4 url(../images/tu-van-vien.png)15px center no-repeat;
    color: #fff !important;
    font-family: 'Athiti-Medium';
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 20px 5px 50px;
    text-decoration: none !important;
    border: 1px solid #4fc7ff;
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
    background-size: 23px;
}

.blacklist {
    position: fixed;
    right: 10px;
    top: 60px;
    margin-bottom: 0;
    z-index: 50
}

.blacklist img {
    width: 150px;
    height: 38px
}

.register {
    position: fixed;
    right: 10px;
    top: 106px;
    margin-bottom: 0;
    z-index: 50
}

.register img {
    /*width:151px; height:41px*/
}


/*.tabs.pull-right{display:none}*/

#timeline {
    background-image: url('../images/timeline-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#timeline .photo {
    min-height: 270px;
}

.timeline {
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}

.timeline .tree {
    width: 1px;
    height: 0;
    background: #9bdbf7;
    position: absolute;
    left: 50%;
    top: 0;
    transition: height 1s ease-in-out 0.1s;
    -webkit-transition: height 1s ease-in-out 0.1s;
    -moz-transition: height 1s ease-in-out 0.1s;
    -o-transition: height 1s ease-in-out 0.1s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.timeline.active .tree {
    height: 100%;
}

.timeline .tree:before {
    content: '';
    position: absolute;
    top: -12px;
    left: -6px;
    width: 13px;
    height: 13px;
    background: #0073bd;
    border-radius: 100%
}

.timeline .tree:after {
    font-family: FontAwesome;
    content: "\f107";
    position: absolute;
    width: 17px;
    height: 10px;
    color: #9bdbf7;
    bottom: 4px;
    left: -8px;
    text-align: center;
    font-size: 17px;
}

.containertime {
    padding: 10px 32px;
    position: relative;
    width: 50%;
}

.timeleft {
    left: 0;
    margin-top: -10%;
}

.timeline .timeleft:first-child {
    margin-top: 0;
}

.timeright {
    left: 50%;
    margin-top: -20%;
}

.timeleft .date {
    float: right;
}

.timeright .date {
    float: left;
}

.timeleft .date:after {
    content: '';
    height: 1px;
    width: 32px;
    background: #9bdbf7;
    position: absolute;
    top: 28px;
    right: 0;
}

.timeright .date:after {
    content: '';
    height: 1px;
    width: 32px;
    background: #9bdbf7;
    position: absolute;
    top: 28px;
    left: 0;
}

.timeleft .title {
    text-align: right;
}

.timeright .title {}

.containertime .date {
    background: #0073bd;
    font-family: SFUHelveticaRegular, sans-serif;
    padding: 7px 10px;
}

.containertime .title {
    color: #4fc7f3;
    font-size: 16px;
    font-family: 'SFUHelveticaBold';
    margin: 15px 0 30px;
}

#reason .photo img {
    margin: 0 auto;
}

#house {}

#house {
    background-image: url('../images/news-detail-2-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ab-block h2:after {
    display: none!important
}

#house .map {
    margin-top: 40px;
    position: relative;
}

#house .tabs li,
#news-blocks .tabs li,
#news-blocks-detail .tabs li {
    position: relative;
}

#house .tabs li.active:after,
#news-blocks .tabs li.active:after,
#news-blocks-detail .tabs li.active:after {
    content: '';
    width: 2px;
    height: 70px;
    background: #10aaf6;
    position: absolute;
    left: -15px;
    top: 8px;
}

#house .note {
    color: #10aaf6;
    text-align: center;
}

#house .node {
    width: 47px;
    height: 54px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    font-weight: 600;
    background: url('../images/node.png') no-repeat;
    position: absolute;
}

#logo {
    z-index: 999;
}

#logo img {
    max-width: 100%;
    height: auto;
    width: 150px;
}

.lb-caption {
    display: block;
    position: relative;
}

.lb-caption div {
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    background: #0064b1;
    font-family: 'Athiti-Regular';
    font-weight: 400;
    padding: 16px 30px;
    position: absolute;
    top: -35px;
    left: 35px;
    color: #fff;
}

.lb-caption p {
    font-size: 14px;
    font-family: 'Athiti-Regular';
    position: absolute;
    top: 35px;
    left: 35px;
    font-weight: 400
}

.lb-data .lb-details .lb-number {
    display: none;
}

.lightbox .lb-nav a.lb-next {
    width: 50px;
    height: 50px;
    background: #0091d3 url('../images/n.png') no-repeat center center;
    opacity: 0.8;
    right: 0;
    bottom: 50px;
    position: absolute;
    left: initial;
}

.lightbox .lb-nav a.lb-prev {
    width: 50px;
    height: 50px;
    background: #0064b1 url('../images/p.png') no-repeat center center;
    opacity: 0.8;
    right: 0;
    bottom: 0;
    position: absolute;
    left: initial;
}

.lightbox .lb-loader {
    display: block !important;
    right: -35px;
    top: -25px;
    background: none !important;
    width: auto;
    left: auto;
    z-index: 9999999;
}

.lightbox .lb-loader .lb-cancel {
    text-decoration: none !important;
}

.lightbox .lb-loader .lb-cancel:before {
    content: "X";
    color: #fff;
    font-size: 35px;
}

.lightbox .lb-data .lb-details {
    width: 100%
}

.lightbox .lb-data .lb-details .lb-number {
    display: block;
    text-align: right;
}

#value {}

.value-slider,
.value-top,
.value-bottom {
    font-family: 'SFUHelveticaRegular', sans-serif;
}

#value {
    background-image: url('../images/value-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 5;
}

#value .description {
    text-align: center;
    margin-top: 35px;
}

#value .description p {
    margin-bottom: 20px;
}

.value-slider {
    max-height: 599px;
    background-image: url('../images/value-slider.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.value-slider-items {
    max-height: 599px;
    overflow: hidden;
    position: relative;
}

.value-slider-items .slick-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border: none;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.value-slider-items .slick-next {
    background: url('../images/v-n.png') no-repeat center center;
    right: 15px;
}

.value-slider-items .slick-prev {
    background: url('../images/v-p.png') no-repeat center center;
    left: 15px;
}

.value-top {
    background: url('../images/v1-bg.jpg') no-repeat right center;
    height: 698px;
    position: relative;
    margin: 80px 0;
}

.value-bottom {
    background: url('../images/v4-bg.jpg') no-repeat left center;
    height: 698px;
    position: relative;
}

.value-top-content {
    background: url('../images/v2-bg.jpg') no-repeat right center;
    height: 455px;
    width: 939px;
    top: 105px;
    position: absolute;
}

.value-top-content.left {
    left: 0;
}

.value-top-content.right {
    right: 0;
}

#value .content {
    margin-top: 160px
}

.value-content {
    padding-bottom: 80px;
}

.value-content .item-wrapper {
    padding: 80px 0px 0px;
}

.value-content .item {
    background-repeat: no-repeat;
    background-position: right top;
    padding: 228px 0px 228px;
}

.value-content .item .col-sm-6 {
    width: 30%
}

.value-content .item.item-right .col-sm-6 {
    float: right;
    padding-left: 0px
}

.value-content .item.item-right {
    background-position: left center;
}

.value-content .item .item-content {
    background: url(../images/v2-bg.jpg) no-repeat left center;
    padding: 30px;
}

.value-content .item.item-right .item-content {
    padding-left: 30px;
    background-position: right center;
}

.value-content .item .scroll-wrapper>.scroll-content {
    padding-right: 30px;
    text-align: justify;
}

.value-content .item.item-right .scroll-wrapper>.scroll-content {
    padding-left: 0px;
    text-align: justify;
}

.content-left .v-box {
    margin-right: 20px;
    height: 350px;
    padding-right: 15px;
}

.content-right .v-box {
    margin-left: 20px;
    height: 350px;
    padding-right: 15px;
}

.mb-detail .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.mb-detail .floor {
    color: #0082c7;
    font-size: 30px;
    text-transform: uppercase;
}

.back-button {
    cursor: pointer;
    border-radius: 13px;
    padding: 6px 20px 6px 20px;
    margin-left: 15px;
    display: inline-block;
    border: 1px solid #058dda;
    font-size: 17px;
    text-transform: uppercase;
}

.back-button:hover {
    background: #337ab7;
    border: none;
    padding: 7px 21px 7px 21px;
}

.back-button a {
    color: #058dda;
    text-decoration: none !important
}

.back-button:hover a {
    color: #fff;
    text-decoration: none !important
}

.back-button:hover:before {
    color: #fff
}

.back-button:before {
    font-family: FontAwesome;
    content: "\f177";
    color: #058dda;
    margin-right: 5px;
}

.read-detail {
    font-size: 18px;
    float: right;
    text-align: left;
    padding: 8px 40px 8px 15px;
    background: #0082c7 url('../images/mb-down.png') no-repeat right 15px center;
    cursor: pointer;
    margin-top: 15px;
}

#house .sub {
    position: relative;
}

#house .sub span {
    font-size: 18px;
    color: #10aaf6;
    background: url('../images/mb-down-active.png') no-repeat right 0 center;
    display: inline-block;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
}

#house .sub ul {
    position: absolute;
    top: 100%;
    z-index: 10;
    padding: 5px;
    background: #0082c7;
    display: none;
    min-width: 150px;
    width: 100%;
    max-height: 200px;
}

#house .sub ul li {
    padding: 5px 10px;
}

#house .sub span:after {
    content: '';
    width: 2px;
    height: 100px;
    background: #10aaf6;
    position: absolute;
    left: -20px;
    top: 0;
}

#house .sub span.fix-title,
#house .sub span.rounded {
    white-space: nowrap;
    border: solid 1px #0082c7;
    padding: 5px 40px 5px 15px;
    background: url(../images/mb-down-active.png) no-repeat right 15px center;
}

#house .sub span.fix-title:after,
#house .sub span.rounded:after {
    display: none;
}

#house .sub span.rounded {
    margin-left: 30px;
}

#house .sub:last-child span.rounded {
    margin-left: 0px;
}

#house .description {
    margin-bottom: 30px
}

#house .description table tr td,
#house .description table tr th {
    border: 0px;
    padding: 4px 0px 6px 0px;
    border-bottom: 1px solid #2a4466;
}

#house .description table tr th {
    font-size: 20px;
    text-transform: uppercase;
    color: #0082c7;
    font-weight: 500;
    padding-bottom: 15px;
    border: 0px;
}

#house .description table tr td:last-child,
#house .description table tr th:last-child {
    text-align: right;
}

#house .description table tr td:first-child,
#house .description table tr th:first-child {
    text-align: left;
}

#house .description h5 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 160px;
}

#house .description li {
    display: inline-block;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #2a4466;
    padding-bottom: 6px;
}

.no-borer {
    border: none!important
}

.mb-tabs li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

.mb-tabs li.active,
.mb-tabs li:hover {
    background: #0064b1;
    border: 1px solid #0064b1;
}

#house .description .mb-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0082c7;
    font-weight: 500;
    margin-bottom: 15px;
}

#total {
    position: absolute;
    bottom: 0px;
    width: 100%
}

#total.detail {
    margin-top: 0;
}

.register-price {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10001;
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.register-price.open {
    visibility: visible;
    background: rgba(0, 0, 0, .5);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.register-price .register-price-form {
    position: relative;
    max-width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 0 100px 50px;
    top: 50%;
    border-radius: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(11, 77, 148, 0.6);
    background-size: cover;
    opacity: 0;
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.register-price.open .register-price-form {
    opacity: 1;
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
}

.register-price .title {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.register-price input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #337ab7;
    background: none;
    margin-bottom: 20px;
    padding: 0px 5px;
    color: #fff
}

.bt-close-register-price {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #0082c7;
    cursor: pointer;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .3);
}

.bt-close-register-price:hover {
    background: #0082c7;
    color: #fff;
}

.bt-register {
    display: inline-block;
    color: #fff;
    background: #337ab7;
    padding: 8px 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0px;
}

.bt-register:hover {
    text-decoration: none;
    cursor: pointer;
    background: #0082c7;
}

.register-price input::-webkit-input-placeholder {
    color: #fff;
}

.register-price input::-moz-placeholder {
    color: #fff;
}

.register-price input:-ms-input-placeholder {
    color: #fff;
}

.register-price input:-moz-placeholder {
    color: #fff;
}

.navbar-nav>li {
    position: relative;
}

.sub-menu {
    position: absolute;
    min-width: 200px;
    font-size: 16px;
    background: url('../images/nav-bg.png') repeat;
    display: none;
    text-align: left;
    padding-bottom: 10px;
}

.sub-menu li {
    padding: 5px 0px;
}

.sub-menu li a {
    text-decoration: none
}

.navbar-nav>li:hover .sub-menu {
    display: block
}

.a-block ul {
    margin-bottom: 50px
}

.mobile .sub-menu {
    display: block;
    background: none;
    position: relative;
    text-align: center;
}

.mobile .sub-menu li {
    padding: 5px;
}

#master_plan {
    position: relative;
}

#master_plan img {
    display: inline-block;
}

#master_plan .img-backgroud {
    position: absolute;
    left: 0px;
}

#master_plan .img-hover {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

#mapcontainer {
    width: 1000px;
    max-width: 100%;
    height: 900px;
}

#image_map {
    position: relative;
    margin-bottom: 30px;
}

#image_map .img-hover {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

#house .description.floor-description {
    max-width: 480px;
    margin: 0px;
    margin-top: 30px !important;
}

#house .vertical-center .description.floor-description {
    margin-top: 0px !important;
}

#house .description.floor-description h5 {
    margin: 0px 0px 15px;
}

.qtip-default.qtip-custom {
    width: 168px;
    height: 194px;
    background: url('../images/mb-hover.png') no-repeat center center;
    color: #fff;
    border: 0px;
}

.qtip-default.qtip-custom .qtip-content {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 50%;
    line-height: 1.2;
    transform: translateY(-50%);
}

.qtip-default.qtip-custom .qtip-content strong {
    display: block;
    font-weight: 400;
    font-size: 30px;
}

.homepage #vinhhalong_chitiet .modal-title {
    color: #fff
}

.homepage #vinhhalong_chitiet .scroll-wrapper.modal-body {
    color: #000;
    text-align: justify;
    padding: 0px 15px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.homepage .modal-content .modal-header {
    background: #0073bd;
}

.homepage .modal-content .modal-header h4 {
    colot: #fff
}

.homepage .modal-header .close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
    font-size: 27px;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 25%);
    -ms-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
    transform: translate(0, 25%);
}

.homepage .scrollbar-inner {}

.homepage .scrollbar-inner>.scroll-element.scroll-y {
    height: 95%;
    right: 5px;
    top: 10px;
    width: 3px;
}

.captcha-image {
    margin-top: 10px;
    display: block;
}

#advisoryModal {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
}

#advisoryModal .modal-content {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px;
    font-size: 16px;
    padding: 30px 42px 30px 25px;
}

#advisoryModal .title {
    text-align: center;
    text-transform: uppercase;
    color: #03aee2;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

#advisoryModal .description {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

#advisoryModal .close {
    position: absolute;
    right: -32px;
    top: -32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    opacity: 1;
    color: #03aee2;
    font-size: 54px;
    -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

#advisoryModal .close:hover {
    color: #fff;
    background: #03aee2;
}

#advisoryModal .radio-inline {
    margin-left: 0px;
    padding-right: 10px;
    width: calc(100%/3 - 5px);
}

#advisoryModal .form-control {
    border: 0px;
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: solid 1px #939393;
    padding: 10px 0px;
    height: 45px;
    color: #606060;
}

#advisoryModal .form-group {
    margin-bottom: 0px;
}

#advisoryModal .form-group.first .form-control {
    border-top: solid 1px #939393;
}

#advisoryModal .text-info {
    padding: 15px 0px;
    color: #606060;
}

#advisoryModal .bt-submit {
    margin-top: 30px;
    border-radius: 15px;
    background: #03aee2;
    min-width: 120px;
}

#advisoryModal .bt-submit:hover {
    background: #0073bd;
}

#advisoryModal .form-thumb {
    margin: 0px auto;
}

#advisoryModal.modal.in .modal-dialog {
    -webkit-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    transform: translate(0, 20%);
}