/*
 * ---:[ Thesis CSS reset ]:---
 */
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

html {
  -webkit-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
abbr,
acronym,
fieldset {
  border: 0; }

code {
  line-height: 1em; }

pre {
  overflow: auto;
  clear: both;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4; }

sub,
sup {
  line-height: 0.5em; }

img,
.wp-caption {
  max-width: 100%;
  /* height: auto;  */
  max-height: 100%;
}

iframe,
video,
embed,
object {
  display: block;
  max-width: 100%; }

img {
  display: block; }

.left,
.alignleft,
img[align="left"] {
  display: block;
  float: left; }

.right,
.alignright,
img[align="right"] {
  display: block;
  float: right; }

.center,
.aligncenter,
img[align="middle"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  clear: both; }

.block,
.alignnone {
  display: block;
  clear: both; }

input[type="submit"],
button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none; }

.wp-smiley {
  display: inline; }

/*
 * ---:[ layout structure ]:---
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  background-color: white; }

.album-filter-list {
  margin-top: 30px; }

#master_plan {
  clear: both;
  position: relative; }

body.landing {
  padding-top: 0; }

.container,
.header,
#menuchinh {
  width: 1170px;
  margin: 0 auto; }

.landing .container {
  width: 1000px; }

.columns,
.columns > .content,
.columns > .sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.columns > .content {
  width: 1000px;
  float: left;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dddddd; }

.columns > .sidebar {
  width: 310px;
  float: right;
  padding: 26px 26px 0 26px; }

/*
 * ---:[ links ]:---
 */
a {
  color: #4f65bd;
  text-decoration: none; }

p a {
  text-decoration: underline; }

p a:hover {
  text-decoration: none; }

/*
 * ---:[ nav menu ]:---
 */
.menu {
  position: relative;
  z-index: 50;
  list-style: none;
  border-width: 0 0 1px 1px;
  border-style: solid; }

.menu li {
  position: relative;
  float: left;
  margin-bottom: -1px; }

.menu .sub-menu {
  position: absolute;
  left: -1px;
  display: none;
  list-style: none;
  z-index: 110;
  margin-top: -1px; }

.menu .sub-menu .sub-menu {
  top: 0;
  left: 10.563em;
  margin: 0 0 0 -1px; }

.menu li:hover > .sub-menu {
  display: block; }

.menu .sub-menu li {
  width: 10.563em;
  clear: both; }

.menu a,
.menu_control {
  display: block;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #111111;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  background-color: #eeeeee;
  padding: 0.75em 1em; }

.menu a:hover {
  background-color: #dddddd; }

.menu_control {
  display: none;
  background-color: white; }

.menu .sub-menu a {
  border-left-width: 1px; }

.menu,
.menu a,
.menu .sub-menu {
  border-color: #dddddd; }

.menu .current-menu-item > a {
  border-bottom-color: white;
  background-color: white;
  cursor: text; }

.menu .sub-menu .current-menu-item > a {
  border-bottom-color: #dddddd; }

/*
 * ---:[ header ]:---
 */
.header {
  padding: 26px; }

.landing .header {
  text-align: center; }

#site_title {
  font-size: 42px;
  line-height: 1.32em;
  font-weight: bold;
  color: #111111; }

#site_title a {
  color: #111111; }

#site_title a:hover {
  color: #4f65bd; }

#site_tagline {
  font-size: 16px;
  color: #888888;
  line-height: 1.32em; }

/*
 * ---:[ golden ratio typography with spaced paragraphs ]:---
 */
.grt,
.grt h3 {
  font-size: 16px;
  line-height: 26px; }

.grt .headline {
  font-size: 26px;
  line-height: 39px;
  margin: 0; }

.grt h2 {
  font-size: 20px;
  line-height: 31px;
  margin-top: 39px;
  margin-bottom: 13px; }

.grt .small,
.grt .caption {
  font-size: 13px;
  line-height: 22px; }

.grt .drop_cap {
  font-size: 52px;
  line-height: 1em;
  margin-right: 0.15em;
  float: left; }

.grt p,
.grt ul,
.grt ol,
.grt blockquote,
.grt pre,
.grt dl,
.grt dd,
.grt .center,
.grt .block,
.grt .caption,
.post_box .aligncenter,
.post_box .alignnone,
.post_box .post_image,
.post_box .post_image_box,
.post_box .wp-caption,
.post_box .wp-post-image,
.post_box .alert,
.post_box .note,
.headline_area {
  margin-bottom: 26px; }

.grt ul,
.grt ol,
.grt .stack {
  margin-left: 26px; }

.grt ul ul,
.grt ul ol,
.grt ol ul,
.grt ol ol,
.wp-caption p,
.post_box .alert p:last-child,
.post_box .note p:last-child,
.post_content blockquote.right p,
.post_content blockquote.left p {
  margin-bottom: 0; }

.grt .left,
.post_box .alignleft,
.post_box .ad_left {
  margin-bottom: 26px;
  margin-right: 26px; }

.grt .right,
.post_box .alignright,
.post_box .ad {
  margin-bottom: 26px;
  margin-left: 26px; }

.grt .caption {
  margin-top: -13px;
  color: #888888; }

/*
 * ---:[ golden ratio pullquotes ]:---
 */
.grt blockquote.right,
.grt blockquote.left {
  font-size: 26px;
  line-height: 36px;
  width: 45%;
  margin-bottom: 13px; }

.grt blockquote.right,
.grt blockquote.left {
  padding-left: 0;
  border: 0; }

/*
 * ---:[ post box styles ]:---
 */
.post_box {
  padding: 26px 26px 0 26px;
  border-top: 1px dotted #dddddd; }

.top {
  border-top: 0; }

.post_box .headline,
.headline a {
  color: #111111; }

.headline a:hover {
  color: #4f65bd; }

.byline,
.byline a {
  color: #888888; }

.byline a {
  border-bottom: 1px solid #dddddd; }

.byline a,
.post_author,
.post_date {
  text-transform: uppercase;
  letter-spacing: 1px; }

.byline a:hover,
.num_comments {
  color: #111111; }

.byline .post_edit {
  margin-left: 13px; }

.byline .post_edit:first-child {
  margin-left: 0; }

.post_author_intro,
.post_date_intro,
.byline .post_cats_intro {
  font-style: italic; }

.post_box h2,
.post_box h3 {
  color: #111111; }

.post_box h3 {
  font-weight: bold; }

.post_box ul {
  list-style-type: square; }

.post_box blockquote {
  color: #888888;
  margin-left: 13px;
  padding-left: 13px;
  border-left: 1px solid #dddddd; }

.post_box code {
  font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif; }

.post_box pre {
  font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif;
  background-color: #eeeeee;
  padding: 13px;
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4; }

.post_content li a {
  text-decoration: underline; }

.post_content li a:hover {
  text-decoration: none; }

.post_box .frame,
.post_box .post_image_box,
.post_box .wp-caption {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  padding: 13px; }

.post_box .wp-caption img,
.post_box .post_image_box .post_image,
.post_box .thumb {
  margin-bottom: 13px; }

.wp-caption.aligncenter img {
  margin-right: auto;
  margin-left: auto; }

.wp-caption .wp-caption-text .wp-smiley {
  display: inline;
  margin-bottom: 0; }

.post_box .wp-caption p {
  font-size: 13px;
  line-height: 22px; }

.post_box .author_description {
  border-top: 1px dotted #dddddd;
  padding-top: 26px; }

.post_box .author_description_intro {
  font-weight: bold; }

.post_box .avatar {
  width: 61px;
  height: 61px;
  float: right;
  clear: both;
  margin-left: 13px; }

.post_box .author_description .avatar {
  width: 78px;
  height: 78px;
  float: left;
  margin-right: 13px;
  margin-left: 0; }

.post_box .post_cats,
.post_box .post_tags {
  color: #888888; }

.post_box .alert,
.post_box .note {
  padding: 13px; }

.post_box .alert {
  background-color: #ffff99;
  border: 1px solid #e6e68a; }

.post_box .note {
  background-color: #eeeeee;
  border: 1px solid #dddddd; }

.landing .headline_area {
  text-align: center; }

/*
 * ---:[ other post box styles ]:---
 */
.num_comments_link {
  display: inline-block;
  color: #888888;
  text-decoration: none;
  margin-bottom: 26px; }

.num_comments_link:hover {
  text-decoration: underline; }

.bracket,
.num_comments {
  font-size: 26px; }

.bracket {
  color: #dddddd; }

/*
 * ---:[ misc. content elements ]:---
 */
.archive_intro {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #dddddd; }

.archive_intro .headline {
  margin-bottom: 26px; }

.prev_next {
  clear: both;
  color: #888888;
  border-top: 1px solid #dddddd;
  padding: 13px 26px; }

.prev_next .next_posts {
  float: right; }

.previous_posts,
.next_posts {
  display: block;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.previous_posts a:hover,
.next_posts a:hover {
  text-decoration: underline; }

/*
 * ---:[ comments ]:---
 */
#comments {
  margin-top: 52px; }

.comments_intro {
  color: #888888;
  margin-bottom: 13px;
  padding: 0 26px; }

.comments_closed {
  font-size: 13px;
  line-height: 22px;
  color: #888888;
  margin: 0 26px 26px 26px; }

.comment_list {
  list-style-type: none;
  margin-bottom: 52px;
  border-top: 1px dotted #dddddd; }

.comment {
  border-bottom: 1px dotted #dddddd;
  padding: 26px; }

.children .comment {
  list-style-type: none;
  margin-top: 26px;
  border-left: 1px solid #dddddd;
  border-bottom: 0;
  padding: 0 0 0 26px; }

.children .bypostauthor {
  background-color: transparent;
  border-color: #4f65bd; }

.comment .comment_head {
  margin-bottom: 13px; }

.children .comment_head {
  margin-bottom: 0; }

.comment .comment_author {
  font-weight: bold; }

.comment_date {
  font-size: 13px;
  margin-left: 13px;
  color: #888888; }

.comment_date a {
  color: #888888; }

.comment_footer a {
  font-size: 13px;
  line-height: 22px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 13px; }

.comment_head a:hover,
.comment_footer a:hover,
.comment_nav a:hover {
  text-decoration: underline; }

.comment_footer a:first-child {
  margin-left: 0; }

.comment .avatar {
  width: 52px;
  height: 52px;
  float: right;
  margin-left: 13px; }

.comment_nav {
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: dotted;
  border-color: #dddddd;
  padding: 13px 26px; }

.comment_nav_top {
  border-width: 1px 0 0 0; }

.comment_nav_bottom {
  margin: -52px 0 52px 0;
  border-width: 0 0 1px 0; }

.next_comments {
  float: right; }

/*
 * ---:[ inputs ]:---
 */
.input_text {
  font-size: inherit;
  line-height: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: #111111;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  padding: 0.35em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.input_text:focus {
  border-color: #eeeeee;
  background-color: white; }

textarea.input_text {
  line-height: 26px; }

.input_submit {
  font-size: 20px;
  line-height: 1em;
  font-family: inherit;
  font-weight: bold;
  border: 3px double #dddddd;
  background: #eeeeee url('images/bg-button.png') repeat-x;
  padding: 0.5em;
  cursor: pointer;
  overflow: visible; }

/*
 * ---:[ comment form ]:---
 */
#commentform {
  margin: 52px 0;
  padding: 0 26px; }

.comment #commentform {
  margin-top: 0;
  padding-right: 0;
  padding-left: 0; }

.comment_form_title {
  font-size: 20px;
  line-height: 31px;
  color: #111111;
  margin: 0 -26px;
  border-bottom: 1px dotted #dddddd;
  padding: 0 26px 13px 26px; }

#commentform label {
  display: block; }

#commentform p {
  margin-bottom: 13px; }

#commentform p .required {
  color: #dd0000; }

.comment_moderated {
  font-weight: bold; }

#commentform .input_text {
  width: 50%; }

#commentform textarea.input_text {
  width: 100%; }

#cancel-comment-reply-link {
  float: right;
  font-size: 13px;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4f65bd; }

#cancel-comment-reply-link:hover {
  text-decoration: underline; }

.login_alert {
  font-weight: bold;
  border: 1px solid #dddddd;
  background-color: #eeeeee; }

/*
 * ---:[ sidebar ]:---
 */
.sidebar {
  font-size: 13px;
  line-height: 19px; }

.sidebar .headline,
.sidebar .sidebar_heading,
.sidebar .widget_title {
  font-size: 17px;
  line-height: 24px; }

.sidebar .sidebar_heading,
.sidebar .widget_title {
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.sidebar .input_submit {
  font-size: inherit; }

.sidebar p,
.sidebar ul,
.sidebar ol,
.sidebar blockquote,
.sidebar pre,
.sidebar dl,
.sidebar dd,
.sidebar .left,
.sidebar .alignleft,
.sidebar .ad_left,
.sidebar .right,
.sidebar .alignright,
.sidebar .ad,
.sidebar .center,
.sidebar .aligncenter,
.sidebar .block,
.sidebar .alignnone {
  margin-bottom: 19px; }

.sidebar .left,
.sidebar .alignleft,
.sidebar .ad_left {
  margin-right: 19px; }

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.sidebar .right,
.sidebar .alignright,
.sidebar .ad,
.sidebar .stack {
  margin-left: 19px; }

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.wp-caption p,
.sidebar .post_excerpt p {
  margin-bottom: 0; }


.sidebar .thesis_email_form .input_text,
.widget li {
  margin-bottom: 10px; }

.sidebar .search-form .input_text,
.sidebar .thesis_email_form .input_text {
  width: 100%; }

.sidebar .query_box .post_author,
.sidebar .query_box .post_date {
  color: #888888; }

.sidebar .post_content,
.widget li ul,
.widget li ol {
  margin-top: 10px; }

.widget ul {
  list-style-type: none; }

.widget li a:hover {
  text-decoration: underline; }

/*
 * ---:[ footer ]:---
 */
.footer {
  font-size: 13px;
  line-height: 22px;
  text-align: right;
  color: #888888;
  border-top: 3px double #dddddd;
  padding: 13px 26px; }

.footer a {
  color: #888888; }

.footer a:hover {
  color: #111111; }

.landing .footer {
  text-align: center; }

/*
 * ---:[ media queries ]:---
 */
@media all and (max-width: 1000px) {
  body {
    padding-top: 0; }

  .container,
  .landing .container {
    width: auto;
    max-width: 1000px; }

  .header {
    border-top: 1px solid #dddddd; }

  .landing .header {
    border-top: 0; }

  .columns > .content {
    float: none;
    width: 100%;
    border: 0; }

  .columns > .sidebar {
    float: none;
    width: 100%;
    border-top: 3px double #dddddd; }

  .menu_control {
    display: block;
    width: 100%;
    border-width: 0;
    background-color: white;
    padding: 1em 26px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .menu {
    display: none;
    width: 100%;
    border-width: 1px 0 0 0;
    clear: both; }

  .show_menu {
    display: block; }

  .menu .sub-menu {
    position: static;
    display: block;
    margin: 0;
    border-top: 1px solid #dddddd;
    padding-left: 26px; }

  .menu li {
    width: 100%;
    float: none;
    margin-bottom: 0; }

  .menu .sub-menu li {
    width: 100%; }

  .menu a {
    border-width: 1px 1px 0 0;
    background-color: white;
    padding: 1em 26px; }

  .menu .current-menu-item > a {
    background-color: #eeeeee; }

  .menu > li > a {
    border-left-width: 1px; }

  .menu li:first-child > a:first-child {
    border-top-width: 0; }

  .sidebar .search-form .input_text,
  .sidebar .thesis_email_form .input_text {
    width: 50%; } }

@media all and (max-width: 1000px) {
  .menu a {
    border-right-width: 0; }

  .menu > li > a {
    border-left-width: 0; }

  .post_box .frame,
  .post_box .post_image_box,
  .post_box .wp-caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

@media all and (max-width: 450px) {
  .menu a,
  .menu_control {
    padding: 1em 13px; }

  .header,
  .columns > .sidebar,
  .post_box,
  .prev_next,
  .comments_intro,
  .comment,
  .comment_nav,
  #commentform,
  .comment_form_title,
  .footer {
    padding-right: 13px;
    padding-left: 13px; }

  .menu .sub-menu,
  .children .comment {
    padding-left: 13px; }

  .comments_closed,
  .login_alert {
    margin-right: 13px;
    margin-left: 13px; }

  .comment_form_title {
    margin-left: -13px;
    margin-right: -13px; }

  .right,
  .alignright,
  img[align="right"],
  .left,
  .alignleft,
  img[align="left"] {
    float: none; }

  .grt .right,
  .grt .left,
  .post_box .alignright,
  .post_box .alignleft,
  .grt blockquote.right,
  .grt blockquote.left {
    margin-right: 0;
    margin-left: 0; }

  .post_author:after {
    content: '\a';
    height: 0;
    white-space: pre;
    display: block; }

  .grt blockquote.right,
  .grt blockquote.left,
  #commentform .input_text,
  .sidebar .search-form .input_text,
  .sidebar .thesis_email_form .input_text {
    width: 100%; }

  .post_box blockquote {
    margin-left: 0; }

  .comment_date {
    display: none; } }

/*
 * ---:[ clearfix ]:---
 */
.columns:after,
.menu:after,
.post_box:after,
.post_content:after,
.author_description:after,
.sidebar:after,
.query_box:after,
.prev_next:after,
.comment_text:after,
.comment_nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
 * ---:[ custom CSS ]:---
 */
@font-face {
  font-family: 'FreightTextProBook-Regular';
  src: url('../fonts/FreightTextProBook.html');
  src: url('../fonts/FreightTextProBookd41d.html?#iefix') format('embedded-opentype'), url('../fonts/FreightTextProBook-2.html') format('woff'), url('../fonts/FreightTextProBook-3.html') format('truetype'); }
#top-buttom-image {
  display: none !important; }

.motamoi img {
  display: inline; }

.an {
  display: none; }

.htmlmatbang #breadcrumbs {
  margin-bottom: 0px; }

.htmlmatbang .footer {
  margin-top: 0px; }

h2.ult-new-ib-title.ult-responsive {
  text-shadow: 0px 1px 3px #666666; }

#text-6 {
  margin-top: 25px; }

.tieudeb2 {
  background: transparent url("images/doc.png") no-repeat scroll center bottom;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 30px; }

.hoavan img {
  display: inline; }

.hoavan {
  border: 3px dashed #dcb91c;
  margin-top: 10px;
  padding: 20px 10px;
  text-align: center; }

#text-4 {
  margin-top: 30px; }

.post_content ul {
  margin-left: 30px; }

body {
  font-family: 'Roboto'; }

.list-icons-home span {
  color: #1d41b1;
  font-weight: 600; }

.tieudeb {
  color: #1d41b1;
  font-family: "Roboto Condensed", arial, Georgia, serif;
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  padding: 4px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 350px; }

.list-icon img {
  width: 275px;
  margin-bottom: 15px; }

.cmtintuc img {
  max-width: 200px; }

h3.tintuc a {
  font-size: 16px;
  color: #233263; }

.post_box h1.headline {
  color: #1c40b1;
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 10px; }

.header {
  height: 100px;
  padding: 0px; }

.excerpt_read_more:hover {
  opacity: 0.7;
  transition: all 0.6s ease-in-out 0s; }

.title {
  color: #4f65bd;
  display: inline-block;
  font-size: 15px;
  width: 100%; }

.post_content p {
  padding: 5px 0; }

.col1 {
  width: 580px;
  float: left; }

.col2 {
  width: 240px;
  float: right;
  border: 1px #eeeeee solid; }

.ct1 {
  background: #dcb91c;
  color: white;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px #666666 solid; }

.ct2 {
  background: #dcb91c;
  color: #333333;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700; }

.ct3 {
  width: 0px;
  height: 0px;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 35px solid #dcb91c; }

.col2 table {
  width: 90%;
  padding: 5%;
  margin: 0 auto;
  border: 0px;
  margin-bottom: 15px; }

.col2 table td {
  padding: 6px 0px; }

.col2 table tr {
  border-bottom: 1px #cccccc dashed; }

.ttct {
  background: url(images/ke2.png) left center repeat-x;
  margin: 10px 0px; }

.ttct span {
  padding-right: 5px;
  background: white;
  font-size: 20px; }

.ht1 {
  background: url(images/ct3.png) left center no-repeat;
  padding-left: 18px;
  float: left;
  margin-right: 25px; }

.ht2 {
  background: url(images/ct4.png) left center no-repeat;
  padding-left: 18px;
  float: left; }

.blue {
  color: #003aa7;
  font-size: 16px; }

.lienhe {
  border: 1px #debd28 solid;
  background: #fffed2;
  padding: 10px;
  margin: 15px 0px; }

.fl {
  color: #3e81cf; }

.fr {
  text-align: right; }

.clear {
  clear: both; }

.content .gform_wrapper .top_label li.gfield.gf_left_half input.medium,
.content .gform_wrapper .top_label li.gfield.gf_left_half select.medium,
.content .gform_wrapper .top_label li.gfield.gf_right_half input.medium,
.content .gform_wrapper .top_label li.gfield.gf_right_half select.medium,
.content .gform_wrapper .top_label input.large,
.content .gform_wrapper .top_label select.large,
.content .gform_wrapper .top_label textarea.textarea {
  border: 1px solid #001a4b;
  border-radius: 10px;
  padding: 10px 0; }

.content .gform_wrapper .gform_footer input.button,
.content .gform_wrapper .gform_footer input[type="submit"] {
  background: #001a4b;
  border: medium none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px; }

.related_post_title {
  line-height: 46px;
  margin-top: 5px; }

.post_content li a {
  text-decoration: none; }

.hoptin {
  background: #ebebeb;
  padding: 15px;
  border-bottom: 1px #cccccc solid; }

.sidebar .hoptin img {
  margin-right: 15px;
  width: 115px; }

.tieudedanhgia {
  background: url(images/nha2.png) 0px 0px no-repeat;
  padding-left: 40px;
  color: #555555;
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px dotted #cccccc; }

.hoptin a,
.tieudedanhgia a {
  color: #555555; }

.tieudetintuc .textwidget {
  background: url(images/nha.png) left center no-repeat #001a4b;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
  font-family: "Roboto"; }

.tieudetintuc {
  margin-top: 20px; }

.thuoctinhchuyenmuc .grid-icon {
  float: left;
  width: 35%; }

.thuoctinhchuyenmuc .grid-bottom {
  float: right;
  width: 63%;
  padding: 0px; }

.post_content img.aligncenter {
  margin-top: 6px;
  margin-bottom: 7px; }

.thuoctinhchuyenmuc .btn-read-more {
  position: relative;
  float: right;
  margin-top: 15px;
  left: 0px;
  bottom: 0px; }

.thuoctinhchuyenmuc .grid-bottom .title {
  font-weight: 600; }

.wp-pagenavi {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 40px; }

.post_box .headline,
.headline a {
  height: 45px; }

.grid-category a {
  color: white; }

.wp-pagenavi span:hover,
.wp-pagenavi span.current,
.wp-pagenavi a:hover {
  background: #1d41b1 none repeat scroll 0 0;
  color: white; }

.grid-features td {
  color: #1c40b1; }

.wp-pagenavi a,
.wp-pagenavi span {
  border-radius: 2px !important;
  padding: 3px 10px !important; }

.wp-pagenavi span.pages {
  background: transparent none repeat scroll 0 0;
  color: #333333; }

.post_box {
  padding: 0px 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 0px;
  border-bottom: 1px #cccccc dashed; }

.grt p,
.grt ul,
.grt ol,
.grt blockquote,
.grt pre,
.grt dl,
.grt dd,
.grt .center,
.grt .block,
.grt .caption,
.post_box .aligncenter,
.post_box .alignnone,
.post_box .post_image,
.post_box .post_image_box,
.post_box .wp-caption,
.post_box .wp-post-image,
.post_box .alert,
.post_box .note,
.headline_area {
  margin-bottom: 0px; }

.column .content {
  width: 850px;
  float: left; }

.column .sidebar {
  width: 310px;
  float: right; }

.column {
  margin-top: 10px; }

.timkiem .uwpqsf_class span,
.formchung .uwpqsf_class span {
  width: 26% !important;
  float: left !important;
  clear: none !important;
  padding: 0px !important; }

.formchung .uwpqsf_class span,
.formchung .uwpqsf_class select {
  margin-bottom: 15px; }

#uwpqsf_id_btn {
  color: white;
  background: #dcb91c;
  padding: 7px 25px;
  margin-top: 5px;
  margin-bottom: 1px;
  border-radius: 3px;
  float: left;
  border: 0px;
  cursor: pointer; }

#uwpqsf_btn {
  width: 69%;
  float: right; }

.timkiem .uwpqsf_class select,
.formchung .uwpqsf_class select {
  width: 68%;
  float: right;
  clear: none;
  height: 26px; }

.timkiem #cmf-radio-0 .cmflabel-0 {
  margin: 0px; }

.timkiem #cmf-radio-0 label {
  width: 49%;
  float: left;
  line-height: 60px; }

.timkiem #cmf-radio-0 input {
  margin-right: 5px; }

.timkiem .uform_title,
.formchung .uform_title {
  font-size: 16px;
  line-height: 48px;
  color: white; }

.container .ui-widget.ui-widget-content {
  border: none;
  background: #001a4b;
  margin-bottom: 10px;
  height: 302px; }

.ui-tabs .ui-tabs-panel {
  border-top: 1px solid white !important; }

.formchung .ui-state-active,
.formchung .ui-widget-content .ui-state-active,
.formchung .ui-widget-header .ui-state-active,
.formchung a.ui-button:active,
.formchung .ui-button:active,
.formchung .ui-button.ui-state-active:hover {
  background: #dcb91d; }

.sliderhome {
  margin-bottom: 20px; }

.timkiem {
  background: #001a4b;
  padding: 10px;
  color: white; }

.timkiem #uwpqsf_id {
  border: 0px; }

#menuchinh {
  height: 60px; }

.ti3 {
  background: url(images/ke.png) center center repeat-x;
  line-height: 40px;
  text-align: center; }

.ti3 a {
  background: white;
  padding: 0px 10px; }

.khungmenu {
  background: #dcb91d;
  min-width: 1170px;
  box-shadow: 0px 1px 3px #666666; }

#menuchinh li a,
#menuchinh {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 57px; }

#menuchinh li a:hover {
  line-height: 57px; }

#menuchinh li a {
  padding: 0px 9px; }

#site_title {
  width: 205px;
  height: 145px;
  float: left;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  z-index: 999; }

#master_plan a {
  text-decoration: none; }

#master_plan .img-backgroud {
  left: 0;
  position: absolute;
  top: 0;
  opacity: 1; }

.title_mb span {
  font-size: 22px;
  font-weight: 700; }

#site_tagline {
  width: 459px;
  height: 65px;
  margin-top: 20px;
  background: url(images/slogan.png);
  float: left;
  text-indent: -999px;
  position: relative; }

.widget_text.hotline {
  margin-top: 30px; }

#site_title a {
  background: url('images/logo-thegoldview-1.png') center center no-repeat;
  display: block;
  width: 205px;
  height: 145px;
  text-indent: -9999px; }

.widget_text.hotline {
  float: right; }

.hotline-content {
  border-radius: 5px;
  padding: 5px 10px 2px 10px;
  border: 1px solid #cccccc;
  overflow: hidden; }

#tabs-1 #uwpqsf_id,
#tabs-2 #uwpqsf_id {
  border: none; }

.uwpqsf_class > span[class*="taxolabel-"],
.uwpqsf_class > span[class*="cmflabel-"] {
  color: white; }

.container .ui-widget-header {
  background: #001a4b;
  border: none; }

.hotline-content img,
.hotline-content span.line,
.hotline-content span.num {
  float: left;
  color: #8491cd;
  font-family: Arial; }

.hotline-content span.line {
  border-right: 1px solid #cccccc;
  margin: 0 5px;
  height: 5px;
  height: 20px; }

/*
 * MENU
 */

/*
 * ICONS
 */


#menuchinh li.current-menu-item > a,
#menuchinh li > a:hover {
  line-height: 50px; }

#menuchinh li a {
  font-size: 14px; }

h1.headline {
  margin-top: 5px; }

#menuchinh li.menu-item {
  margin-right: 5px; }


#menu-item-127::before {
  background-position: -100px 0 !important; }

#menu-item-128::before {
  background-position: -124px 0 !important; }

.menu a,
.menu_control {
  background: transparent;
  padding: 1.75em 1em; }

li#menu-item-6:before {
  background-position: -24px 0 !important; }

li#menu-item-7:before,
li#menu-item-8:before {
  background-position: -50px 0 !important; }

li#menu-item-15:before {
  background-position: -75px 0 !important; }

li#menu-item-444:before {
  background-position: -100px 0 !important; }

.menu a {
  border-top: 4px solid #dcb91d; }

.menu a:hover {
  background: url('images/menu-hover.png') no-repeat center -3px;
  border-top: 4px solid #1c40b1 !important;
  padding-top: 1.45em;
  transition: all 0.3s ease 0s; }

.list-icons-home {
  width: 100%;
  display: inline-block;
  text-align: center; }

.list-icons-home li {
  float: left;
  width: 20%;
  text-align: center; }

.list-icons-home li img {
  margin: 0 auto;
  margin-bottom: 15px; }

.list-icons-home span {
  text-transform: uppercase; }

.grid-column-3 {
  width: 100%;
  display: inline-block;
  font-family: Arial; }

.grid-column-3 > .item {
  width: 33.33%;
  float: left;
  min-height: 450px; }

.grid-title-y {
  background: url('images/icon-tet-y.png') no-repeat center center;
  width: 100%;
  height: 76px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 76px; }

.grid-title-b {
  background: url('images/icon-tet-b.png') no-repeat center center;
  width: 100%;
  height: 76px;
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 76px; }

.grid-icon {
  position: relative; }

.grid-category {
  background: #1d41b1;
  color: white;
  padding: 3px 10px;
  position: absolute;
  bottom: 0;
  right: 0; }

.grid-price {
  background: #f6700f;
  color: white;
  padding: 3px 10px;
  position: absolute;
  bottom: 0;
  left: 0; }

.grid-column-3 > .item .thuoctinh {
  padding: 10px; }

.grid-column-3 > .item .thuoctinh .item.grid {
  border: 1px solid #cccccc;
  min-height: 375px;
  position: relative; }

.grid-bottom {
  padding: 10px 8px 20px 8px; }

table.grid-features {
  width: 100%;
  font-size: 80%; }

table.grid-features th {
  font-weight: normal;
  width: 25%;
  text-align: left; }

table.grid-features td img {
  float: left;
  display: inline-block;
  margin-top: 4px;
  margin-right: 1px; }

.grid-bottom .title {
  color: #4f65bd;
  font-size: 15px;
  width: 100%;
  display: block;
  height: 50px !important;
  overflow: hidden; }

.f13 {
  font-size: 13px; }

.btn-read-more {
  background: #dcb91c;
  color: white;
  padding: 0 20px;
  font-size: 13px;
  position: absolute;
  bottom: -12px;
  left: 35%; }

.mt20 {
  margin-top: 20px; }

.mt50 {
  margin-top: 30px;
  margin-bottom: 20px; }

.tc {
  text-align: center; }

.list-column-2 > .item {
  width: 49%;
  float: left;
  padding-right: 1%; }

.item.list {
  overflow: hidden;
  margin-bottom: 15px; }

.item.list .list-icon {
  float: left;
  margin-right: 20px; }

.f13 {
  text-align: justify; }

.item-list-title {
  text-transform: uppercase;
  color: #1b40b1;
  position: relative;
  font-size: 12pt; }

.item-list-title:before {
  display: block;
  content: "";
  position: absolute;
  border-left: 2px solid #1b40b1;
  left: 0px;
  height: 60px;
  margin-left: -8px; }

.list-bottom {
  padding-left: 5px; }

.footer {
  clear: both; }

.ti3 {
  color: #555555;
  font-size: 28px; }

.ti3 a {
  color: #444444; }

.btn-read-single img {
  float: left;
  margin-right: 5px; }

.btn-read-single {
  color: #1b40b1; }

.btn-read-single:hover,
.btn-read-single:hover img {
  opacity: 0.7; }

.footer {
  background: #dcb91c;
  overflow: hidden;
  margin-top: 40px; }

.footer .f-column {
  float: left;
  margin-right: 30px; }

.footer .f1 {
  width: 150px; }

.footer .f2 {
  width: 450px; }

.footer .f3 {
  width: 305px;
  float: right; }

.footer .f2 p {
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #333333; }

.footer .f2 p img {
  float: left;
  margin-right: 5px;
  margin-top: 4px; }

.footer .f3 .row-2 {
  color: white;
  text-transform: uppercase;
  text-align: left;
  clear: both; }



.footer .f3 .row-2 li {
  list-style: none;
  float: left; }

.footer .f3 .row-1 {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }

.footer .f3 .row-1 input[type="email"] {
  background: #424952;
  color: #dddddd;
  border: none;
  padding: 5px;
  height: 30px; }

.footer .f3 .row-1 [type="submit"] {
  position: absolute;
  top: 0;
  height: 40px;
  border: none;
  padding: 0 5px;
  background: #373c43;
  color: white;
  width: 80px; }

.footer .f3 .row-1 form {
  float: left; }

.footer .f-top img {
  width: 100%; }

.footer .f-top {
  padding: 0px;
  padding-bottom: 15px;
  overflow: hidden;
  border-bottom: 1px solid #b79e29;
  margin-bottom: 20px; }

.footer .f-top  h3 {
  margin-bottom: 10px; }

.footer .f-top .p50 {
  width: 49%;
  float: left;
  text-align: left;
  color: white; }

.excerpt_read_more {
  background: #dcb91c none repeat scroll 0 0;
  bottom: 0px;
  color: white;
  font-size: 13px;
  padding: 0 20px;
  position: relative;
  float: right;
  margin-top: 15px;
  text-decoration: none; }

/*
 * BREADCRUMB
 */
#breadcrumbs {
  background: #f7f7f7 none repeat scroll 0 0;
  margin-bottom: 10px;
  padding: 7px 10px; }

#breadcrumbs,
#breadcrumbs a,
#breadcrumbs strong {
  color: black;
  font-size: 13px; }

#breadcrumbs a:hover {
  color: #dcb91d; }

/*
 * SIDEBAR RIGHT
 */
/*
 * Box
 */
.taki-blogs-box {
  margin-bottom: 10px; }

.taki-blogs-box li {
  list-style: none; }

.taki-blogs-box h2,
.taki-blogs-box .ty-mainbox-simple-title {
  margin: 0;
  background: #333333;
  color: white;
  float: none;
  padding: 10px 20px 7px;
  border-bottom: 1px solid #dfdfdf;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase; }

.taki-blogs-box ul.taki-blog-categories,
.taki-blogs-box .ty-mb-l,
.ty-blog-sidebox__list {
  background: white;
  border: 1px solid #dfdfdf;
  border-top: 0;
  -webkit-border-radius: 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 10px -5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 6px 10px -5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 10px -5px inset;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0; }

.taki-blogs-box .taki-newest-block li {
  margin-top: 10px;
  list-style: none; }

.taki-blogs-box ul.taki-blog-categories li {
  text-transform: uppercase;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 15px 15px 15px; }

.taki-blogs-box ul.taki-blog-categories li a {
  display: inline-block;
  width: 100%; }

.taki-blogs-box ul.taki-blog-categories li:hover {
  background: #efefef; }

.current-menu-item a {
  background: url('images/menu-hover.png') no-repeat center -3px;
  border-top: 4px solid #1c40b1 !important;
  padding-top: 1.45em;
  background-color: transparent !important;
  color: white; }

.template-single .grid-column-3 > .item {
  width: 100%; }

.grid-column-2 .item {
  width: 43%;
  margin: 3%;
  float: left;
  position: relative;
  border: 1px solid #cccccc;
  min-height: 375px;
  margin-bottom: 20px;
  max-width: 370px; }

.grid-column-2 .item:nth-child(2n+2) {
  float: right; }

.text-center {
  text-align: center; }

.btn-clear-black {
  border: 1px solid #cccccc;
  padding: 5px 20px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  color: #bbbbbb;
  margin: 15px 0; }

[class^="btn-"]:hover {
  opacity: 0.7; }

@media all and (max-width: 1169px) and (min-width: 1000px) {
  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f2 {
    width: 40%; }

  .container,
  .header,
  #menuchinh {
    width: 100%; }

  .column .content {
    width: 69%;
    float: left; }

  .column .sidebar {
    width: 30%;
    float: right; }

  #site_title a,
  #site_title {
    height: 92px;
    margin-top: 0px; }

  .timkiem .uwpqsf_class select,
  .formchung .uwpqsf_class select {
    clear: none;
    float: right;
    height: 22px;
    width: 68%; }

  .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 1em 1em; }

  .timkiem .uform_title,
  .formchung .uform_title {
    color: white;
    font-size: 16px;
    line-height: 32px; }

  .container .ui-widget.ui-widget-content {
    background: #001a4b none repeat scroll 0 0;
    border: medium none;
    height: 245px;
    margin-bottom: 10px; }

  #site_tagline {
    width: 459px;
    height: 65px; }

  .container,
  #menuchinh {
    max-width: 1000px !important;
    margin: 0 auto !important;
    float: none; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%; }

  #menuchinh li.menu-item {
    margin-right: 0px; }

  #site_tagline {
    background: transparent url("images/slogan.png") no-repeat scroll 0 0;
    background-size: 96%;
    width: 46%; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%; }

  .column .sidebar {
    width: 30%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .list-icon img {
    width: 250px; }

  .col2 {
    float: right;
    width: 25%; }

  .ct3 {
    border-left: 73px solid transparent;
    border-right: 73px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1 {
    width: 74%; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .col1 .slideshow-wrapper {
    width: 100% !important; }

  .col1 .slideshow-slidearea {
    width: 90% !important; }

  .grid-column-3 > .item .thuoctinh .item.grid {
    min-height: 460px; } }

@media all and (max-width: 999px) and (min-width: 851px) {
  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f2 {
    width: 30%; }

  .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 1em 0.4em; }

  .timkiem .uwpqsf_class select,
  .formchung .uwpqsf_class select {
    clear: none;
    float: right;
    height: 22px;
    width: 58%; }

  .timkiem .uwpqsf_class span,
  .formchung .uwpqsf_class span {
    clear: none !important;
    float: left !important;
    padding: 0 !important;
    width: 39% !important; }

  .f13 {
    clear: both;
    height: 80px;
    overflow: hidden;
    display: block; }

  .formchung .uwpqsf_class span,
  .formchung .uwpqsf_class select {
    margin-bottom: 12px; }

  .container .ui-widget.ui-widget-content {
    background: #001a4b none repeat scroll 0 0;
    border: medium none;
    height: 225px;
    margin-bottom: 10px; }

  .khungmenu {
    display: none; }

  .container,
  .header,
  #menuchinh {
    width: 100%; }

  .column .content {
    width: 69%;
    float: left; }

  .column .sidebar {
    width: 30%;
    float: right; }

  #site_title a,
  #site_title {
    height: 92px;
    margin-top: 0px; }

  .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 1em 1em; }

  .timkiem .uform_title,
  .formchung .uform_title {
    color: white;
    font-size: 16px;
    line-height: 32px; }

  .container .ui-widget.ui-widget-content {
    background: #001a4b none repeat scroll 0 0;
    border: medium none;
    height: 225px;
    margin-bottom: 10px; }

  #site_tagline {
    width: 459px;
    height: 65px; }

  .container,
  #menuchinh {
    max-width: 1000px !important;
    margin: 0 auto !important;
    float: none; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%; }

  #menuchinh li.menu-item {
    margin-right: 0px; }

  #site_tagline {
    background: transparent url("images/slogan.png") no-repeat scroll 0 0;
    background-size: 96%;
    width: 46%; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%; }

  .column .sidebar {
    width: 30%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .list-icon img {
    width: 250px; }

  .ct3 {
    border-left: 73px solid transparent;
    border-right: 73px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1,
  .col2 {
    width: 100%;
    float: none; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .grid-column-2 .item {
    border: 1px solid #cccccc;
    float: left;
    margin: 1% 1% 20px;
    min-height: 380px;
    position: relative;
    width: 47%; }

  .sliderhome {
    margin: 0 auto; }

  .slideshow-wrapper {
    margin: 0 auto;
    margin-bottom: 20px !important; }

  .grid-column-3 > .item .thuoctinh .item.grid {
    min-height: 450px; } }

@media all and (max-width: 850px) and (min-width: 768px) {
  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f1 {
    display: none; }

  .footer .f2 {
    width: 45%; }

  .footer .f3 {
    width: 45%; }

  .footer .f2 p {
    font-size: 12pt; }

  .footer .f-top h3 {
    text-align: center;
    font-weight: bold; }

  .tieudeb {
    width: 100%;
    margin: 0 auto; }

  .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 1em 0.4em; }

  .timkiem .uwpqsf_class select,
  .formchung .uwpqsf_class select {
    clear: none;
    float: right;
    height: 22px;
    width: 58%; }

  .timkiem .uwpqsf_class span,
  .formchung .uwpqsf_class span {
    clear: none !important;
    float: left !important;
    padding: 0 !important;
    width: 39% !important; }

  .f13 {
    clear: both;
    height: 80px;
    overflow: hidden;
    display: block; }

  .formchung .uwpqsf_class span,
  .formchung .uwpqsf_class select {
    margin-bottom: 12px; }

  .container .ui-widget.ui-widget-content {
    background: #001a4b none repeat scroll 0 0;
    border: medium none;
    height: 225px;
    margin-bottom: 10px; }

  .khungmenu {
    display: none; }

  .container,
  .header,
  #menuchinh {
    width: 100%; }

  .column .content {
    width: 69%;
    float: left; }

  .column .sidebar {
    width: 30%;
    float: right; }

  #site_title a,
  #site_title {
    height: 92px;
    margin-top: 0px; }

  .ui-tabs .ui-tabs-panel {
    background: transparent none repeat scroll 0 0;
    border-width: 0;
    display: block;
    padding: 1em 1em; }

  .timkiem .uform_title,
  .formchung .uform_title {
    color: white;
    font-size: 16px;
    line-height: 32px; }

  .container .ui-widget.ui-widget-content {
    background: #001a4b none repeat scroll 0 0;
    border: medium none;
    height: 225px;
    margin-bottom: 10px; }

  #site_tagline {
    width: 459px;
    height: 65px; }

  .container,
  #menuchinh {
    max-width: 1000px !important;
    margin: 0 auto !important;
    float: none; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%; }

  #menuchinh li.menu-item {
    margin-right: 0px; }

  #site_tagline {
    background: transparent url("images/slogan.png") no-repeat scroll 0 0;
    background-size: 96%;
    width: 46%; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%; }

  .column .sidebar {
    width: 30%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .list-icon img {
    width: 250px; }

  .ct3 {
    border-left: 73px solid transparent;
    border-right: 73px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1,
  .col2 {
    width: 100%;
    float: none; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .grid-column-2 .item {
    border: 1px solid #cccccc;
    float: left;
    margin: 1% 1% 20px;
    min-height: 380px;
    position: relative;
    width: 47%; }

  #site_tagline {
    width: 459px;
    float: right;
    margin-right: 15px;
    height: 60px;
    margin-top: 0px; }

  .widget_text.hotline {
    margin-top: 0px; }

  .widget_text.hotline {
    float: right;
    margin-right: 15px; }

  .khungmenu {
    display: none; }

  #breadcrumbs {
    clear: both; }

  .thuoctinhchuyenmuc .btn-read-more {
    float: left; }

  table.grid-features {
    font-size: 13px; }

  .ct3 {
    display: none; }

  .slideshow-fullsize {
    min-height: 300px; }

  .grid-column-2 .item {
    min-height: 425px; }

  .grid-column-3 > .item .thuoctinh .item.grid {
    min-height: 425px; } }

@media all and (max-width: 767px) and (min-width: 481px) {
  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f3 .row-1 [type="submit"] {
    width: auto;
    padding: 5px; }

  .footer .f1 {
    display: none; }

  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f2 p {
    font-size: 12pt; }

  .footer .f-top h3 {
    text-align: center;
    font-weight: bold; }

  .tieudeb {
    width: 100%;
    margin: 0 auto; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%;
    margin-bottom: 40px; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%;
    float: left; }

  .column .sidebar {
    width: 100%; }

  .column .content {
    width: 100%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .col2 {
    float: right;
    width: 25%; }

  .ct3 {
    border-left: 93px solid transparent;
    border-right: 93px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1 {
    width: 74%; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .chitietbai #slideshow-wrapper196 #fullsize196,
  .chitietbai #slideshow-wrapper196 {
    width: 100%; }

  .footer .f1 {
    width: 15%; }

  .footer .f2 {
    width: 48%;
    margin-right: 0px; }

  .footer .f3 {
    width: 48%;
    float: right;
    margin-right: 0px; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%; }

  #site_tagline {
    background: transparent url("images/slogan.png") no-repeat scroll 0 0;
    background-size: 100%;
    width: 50%;
    height: 30px; }

  .widget_text.hotline {
    margin-top: 0px;
    margin-right: 35px; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%;
    float: left; }

  .column .sidebar {
    width: 100%; }

  .column .content {
    width: 100%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .list-icon img {
    width: 50%; }

  .col2 {
    float: right;
    width: 100%; }

  .ct3 {
    border-left: 235px solid transparent;
    border-right: 235px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1 {
    width: 100%; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .chitietbai .slideshow-wrapper {
    width: 100% !important; }

  .grid-column-3 > .item {
    width: 50%;
    min-height: 405px; }

  .grid-icon {
    font-size: 12px; }

  .list-column-2 > .item {
    float: left;
    padding-right: 1%;
    width: 48%;
    margin-left: 1%; }

  .list-icon img {
    width: 100%; }

  .item.list .list-icon {
    margin-right: 0px;
    float: none; }

  .grid-bottom {
    padding: 10px 5px 20px; }

  .grid-column-2 .item {
    border: 1px solid #cccccc;
    float: left;
    margin: 1% 1% 20px;
    min-height: 380px;
    position: relative;
    width: 47%; }

  #site_tagline {
    width: 459px;
    float: right;
    margin-right: 1%;
    height: 65px; }

  .widget_text.hotline {
    margin-top: 15px; }

  .widget_text.hotline {
    float: right;
    margin-right: 15px; }

  .khungmenu {
    display: none; }

  #breadcrumbs {
    clear: both; }

  .thuoctinhchuyenmuc .btn-read-more {
    float: left; }

  table.grid-features {
    font-size: 13px; }

  .ct3 {
    display: none; }

  .slideshow-fullsize {
    min-height: 250px; }

  .grid-column-3 > .item .thuoctinh .item.grid {
    min-height: 450px; }

  #site_title {
    width: 34%;
    float: left;
    margin: 0px; }

  #site_tagline {
    float: right;
    height: 65px;
    margin-top: 15px;
    width: 65%; }

  .widget_text.hotline {
    margin-top: 0px; } }

.timkiem .uwpqsf_class select,
.formchung .uwpqsf_class select {
  background: white; }

@media all and (max-width: 480px) {
  .ttct {
    text-align: center;
    padding: 0;
    margin: 0 auto; }

  .footer .f3 .row-1 input[type="email"] {
    width: 96%;
    margin: 0 auto; }

  .footer .f3 .row-1 [type="submit"] {
    width: 25%;
    padding: 10px;
    margin: 0 auto; }

  .footer .f3 .row-1 {
    margin-top: 10px; }

  .footer .f3 .row-1 form {
    width: 75%; }

  .footer .f3 .row-2 {
    text-align: center;
    margin: 0 auto; }

  .footer .f3 .row-2 h3 {
    font-weight: bold;
    margin-top: 10px; }

  .footer .f3 .row-2 ul {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px; }

  .num {
    margin: 0 auto; }

  .widget_text.hotline {
    margin-left: 10%;
    width: 80%;
    margin-top: 0px;
    float: none;
    clear: both; }

  .footer .f2 p {
    font-size: 12pt; }

  .footer .f-top h3 {
    text-align: center;
    font-weight: bold; }

  .tieudeb {
    width: 100%;
    margin: 0 auto; }

  .p50 {
    margin-top: 10px; }

  #text-4 {
    margin: 0 auto;
    padding: 10px 0px; }

  .tp-bannershadow.tp-shadow1 {
    display: none; }

  .album-filter-list {
    margin-bottom: 20px; }

  .slideshow-fullsize {
    min-height: 200px; }

  .khungmenu {
    display: none; }

  .sidebar .hoptin img {
    float: left; }

  #breadcrumbs {
    clear: both;
    margin-top: 10px; }

  #site_tagline {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%;
    margin-bottom: 40px; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%;
    float: left; }

  .column .sidebar {
    width: 100%; }

  .column .content {
    width: 100%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .list-icon img {
    width: 195px; }

  .col2 {
    float: right;
    width: 25%; }

  .ct3 {
    border-left: 93px solid transparent;
    border-right: 93px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0; }

  .col1 {
    width: 74%; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .chitietbai #slideshow-wrapper196 #fullsize196,
  .chitietbai #slideshow-wrapper196 {
    width: 100%; }

  .footer .f1 {
    width: 15%; }

  .footer .f2 {
    width: 38%;
    margin-right: 0px; }

  .footer .f3 {
    width: 42%;
    float: right;
    margin-right: 0px; }

  .header,
  .khungmenu {
    width: 100%;
    min-width: 100%; }

  #site_tagline {
    background: transparent url("images/slogan.png") no-repeat scroll 0 0;
    background-size: 100%;
    width: 98%;
    height: 45px; }

  .cmtintuc img {
    max-width: 100%; }

  .container,
  .landing .container {
    max-width: 100%;
    width: 100%;
    float: left; }

  .ti3 a {
    font-size: 20px; }

  table.grid-features th,
  .grid-features td {
    font-size: 14px; }

  .thuoctinhchuyenmuc .grid-icon,
  .thuoctinhchuyenmuc .grid-bottom {
    width: 100%; }

  .column .sidebar {
    width: 100%; }

  .column .content {
    width: 100%; }

  table.grid-features {
    font-size: 64%; }

  .grid-bottom .title {
    height: 50px; }

  .f13 {
    clear: both; }

  .btn-read-single img {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 3px; }

  .col2 {
    float: right;
    width: 100%; }

  .ct3 {
    border-left: 155px solid transparent;
    border-right: 155px solid transparent;
    border-top: 35px solid #dcb91c;
    height: 0;
    width: 0;
    display: none; }

  .col1 {
    width: 100%; }

  .content #slideshow-wrapper218,
  .content #slideshow-wrapper218 #fullsize218 {
    width: 100%; }

  .post_content.post_excerpt.xemthem {
    text-align: justify; }

  .khungmenu {
    height: 60px; }

  .menu_control {
    display: none; }

  .chitietbai .slideshow-wrapper {
    width: 100% !important; }

  .footer .f1 {
    width: 15%; }

  .footer .f2 {
    width: 38%;
    margin-right: 0px; }

  .footer .f3 {
    width: 42%;
    float: right;
    margin-right: 0px; }

  .grid-column-3 > .item {
    width: 100%;
    min-height: 405px; }

  .grid-icon {
    font-size: 12px; }

  .list-column-2 > .item {
    float: left;
    padding-right: 1%;
    width: 98%;
    margin-left: 1%; }

  .list-icon img {
    width: 100%; }

  .item.list .list-icon {
    margin-right: 0px;
    float: none; }

  .footer .f-top {
    padding: 0px; }

  .footer .f1 {
    width: 100%;
    display: none; }

  .footer .f2 {
    width: 100%; }

  .footer .f3 {
    width: 100%; }

  .grid-bottom {
    padding: 10px 5px 20px; }

  .grid-column-2 .item {
    border: 1px solid #cccccc;
    float: left;
    margin: 1% 1% 20px;
    min-height: 380px;
    position: relative;
    width: 98%; }

  #site_title {
    float: none;
    margin: 0 auto; }

  .list-icons-home li {
    width: 100%; }

  .footer .f-top .p50 {
    width: 100% !important; }

  .slideshow-slideleft {
    position: relative; }

  .slideshow-slidearea {
    position: absolute; }

  .header {
    background: #001a4b none repeat scroll 0 0;
    height: auto;
    padding: 0 0 7px; }

  ##site_tagline {
    display: none; }

  #site_title {
    float: none;
    margin: 0 auto; }

  #site_tagline {
    margin: 5px auto; }

  #site_tagline {
    float: none;
    height: 65px;
    margin-top: 20px;
    position: relative;
    text-indent: -999px;
    width: 459px; }

  .hotline-content {
    background: white none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px 10px 2px; }

  .thuoctinhchuyenmuc,
  .grid-column-3 > .item {
    float: none;
    margin: 0 auto;
    max-width: 370px; }

  .cmtintuc img {
    max-width: 150px; }

  .grid-column-2 .item,
  .grid-column-2 .item:nth-child(2n+2) {
    float: none;
    margin: 0 auto;
    margin-top: 20px; }

  #site_tagline {
    width: 100%; } }